#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    
    #styleLink("base")
    <style type="text/css">
    	ul { padding-left: 60px; line-height: 24px; }
		ul li { height: 24px; }
    </style>
    #scriptLink("core")
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.0.js"></script>
	<script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
    <script type="text/javascript">
    	$(function(){
			
		});
		function closeTab(){
			tab.close(GetId(), true);
		}
    </script>
</head>

<body>
	<table class="bartbl">
    	<tr>
        	<td class="over">第 1 步</td>
        	<td class="over">第 2 步</td>
        	<td class="over">完 成</td>
        </tr>
    </table>
    
    <dl class="sucppt">
    	<dt>成功更新系统数据</dt>
        <dd class="img"></dd>
        <dd>
        	共更新
            <span>$!succ</span>
            条数据，升级了以下数据：
    	</dd>
    </dl>
     <div id="d2" style="display:block">
	     <ul>
	    	<li>
	        	<span>
	            	手机号码归属地
	            </span>
	            <span>
	            	<label class="red">$!a</label>
	                条
	            </span>
	        </li>
	    	<li>
	        	<span>
	            	区号
	            </span>
	            <span>
	            	<label class="red">$!b</label>
	                条
	            </span>
	        </li>
	    	<li>
	        	<span>
	            	百家姓
	            </span>
	            <span>
	            	<label class="red">$!c</label>
	                条
	            </span>
	        </li>
	    	<li>
	        	<span>
	            	特殊号码
	            </span>
	            <span>
	            	<label class="red">$!d</label>
	                条
	            </span>
	        </li>
	     </ul>
    </div>
    <hr />
    
    <div class="halign">
    	<input type="button" class="btn6 btn6bg3" value="关闭" onclick="closeTab()" />
    </div>
</body>
</html>
