 <table class="datatbl">
    <thead>
        <tr>
            <th width="200"><label title="照片名称">照片名称</label></th>
            <th><label title="创建时间">创建时间</label></th>
            <th><label title="提交时间">提交时间</label></th>
            <th><label title="备注">备注</label></th>
            <th><label title="提交人员">提交人员</label></th>
			<th><label title="事件">事件</label></th>
            <th width="100"><label title="操作">操作</label></th>
        </tr>
    </thead>
    <tbody>
         #foreach($photo in $!photoDataList.items)
        	<tr>
            	<td><label title="$!photo.photoName">$!photo.photoName</label></td>
				<td><label title="#if($!photo.recordDate)$date.format("yyyy-MM-dd HH:mm:ss",$!photo.recordDate)#end">#if($!photo.recordDate)$date.format("yyyy-MM-dd HH:mm:ss",$!photo.recordDate)#end</label></td>
				<td><label title="#if($!photo.uploadDate)$date.format("yyyy-MM-dd HH:mm:ss",$!photo.uploadDate)#end">#if($!photo.uploadDate)$date.format("yyyy-MM-dd HH:mm:ss",$!photo.uploadDate)#end</label></td>
				<td><label title="$!subString.replaceRemark($!photo.remark)">$!photo.remark</label></td>
				<td><label title="$!photo.uploadUserName">$!photo.uploadUserName</label></td>
				<td><label title="$!photo.eventName">$!photo.eventName</label></td>
				<td>
					#if($urlPermitUtil.hasPermission('showPhotoDiv'))
						<label><a class="slink" href="#2" onclick="showPhotoDiv('$!photo.photoName',$!photo.photoId,$!photo.numRow);">查看</a></label>
					#end
				</td>
            </tr>
		#end
    </tbody>
    <tfoot>
         <tr>
        	<td colspan="7">
            	<div class="fr">#parse("/velocity/ajaxPage.vm")</div>
            </td>
        </tr>
    </tfoot>
</table>