<table class="datatbl">
    <thead>
        <tr>
			#if(!$!type.equals('detail'))
				<th width="20"><input type="checkbox" rel="all" onclick="selectAll(this)" /></th>
			#end
            <th width="240"><label title="客户（电话）">客户（电话）</label></th>
            <th><label title="客户归属">客户归属</label></th>
            <th><label title="关联任务">关联任务</label></th>
            <th><label title="联系情况">联系情况</label></th>
            <th><label title="联系事项">联系事项</label></th>
        </tr>
    </thead>
    <tbody>
		#foreach($plan in $!tskPlanCustBeanList.items)
            <tr>
				#if(!$!type.equals('detail'))
					<td><input type="checkbox" rel="row" #if($!plan.finishLevel != 0) disabled='true' #end name="taskTargetId" value="$!plan.targetIds" /></td>
                #end
				<td>
                    <div class="customer-infor">
						#if($!plan.customerId==0)
							<span title="$!plan.taskCustomerName（$!plan.phoneNo）">$!plan.taskCustomerName（$!plan.phoneNo）</span>
							<div class="icon">
								<i class="i phone" onclick="dial('$!plan.phoneNo','')" title="拨号">phone</i>
                            </div>
						#else
                           #if($!plan.defaultPhoneType=='1')
        						<span class="link" onclick="customerDetail('$!plan.customerId')" title="$!plan.customerName（$!plan.mobilePhone1）">$!plan.customerName（$!plan.mobilePhone1）</span>
                            #elseif($!plan.defaultPhoneType=='2')
                            	<span class="link" onclick="customerDetail('$!plan.customerId')" title="$!plan.customerName（$!plan.mobilePhone2）">$!plan.customerName（$!plan.mobilePhone2）</span>
                            #elseif($!plan.defaultPhoneType=='3')
                            	<span class="link" onclick="customerDetail('$!plan.customerId')" title="$!plan.customerName（$!plan.phone）">$!plan.customerName（$!plan.phone）</span>
                            #elseif($!plan.defaultPhoneType=='4')
                            	<span class="link" onclick="customerDetail('$!plan.customerId')" title="$!plan.customerName（$!plan.fax）">$!plan.customerName（$!plan.fax）</span>
						   #end
						   #if($!plan.isDel==0)
                           <div class="icon">
                            	#if($!plan.defaultPhoneType=='1')
                                	<i class="i phone" onclick="dial('$!plan.mobilePhone1','$!plan.customerId')" title="拨号">phone</i>
                                	<i class="i dsc" onclick="tape('$!plan.customerId')" title="座谈" >dsc</i>
                                	#if($urlPermitUtil.hasPermission('toAddSms'))
                                	<i class="i sms" onclick="sendSms('$!plan.mobilePhone1','$!plan.customerId')" title="短信">sms</i>
                                	#end
    	                			#if($urlPermitUtil.hasPermission('toAddMms'))
                                	<i class="i mms" onclick="sendMms('$!plan.mobilePhone1','$!plan.customerId')" title="彩信">mms</i>
                                	#end
                                #elseif($!plan.defaultPhoneType=='2')
                                	<i class="i phone" onclick="dial('$!plan.mobilePhone2','$!plan.customerId')" title="拨号">phone</i>
                                	<i class="i dsc" onclick="tape('$!plan.customerId')" title="座谈" >dsc</i>
                                	#if($urlPermitUtil.hasPermission('toAddSms'))
                                	<i class="i sms" onclick="sendSms('$!plan.mobilePhone2','$!plan.customerId')" title="短信">sms</i>
                                	#end
    	                			#if($urlPermitUtil.hasPermission('toAddMms'))
                                	<i class="i mms" onclick="sendMms('$!plan.mobilePhone2','$!plan.customerId')" title="彩信">mms</i>
                               		#end
                                #elseif($!plan.defaultPhoneType=='3')
                                	<i class="i phone" onclick="dial('$!plan.phone','$!plan.customerId')" title="拨号">phone</i>
                                	<i class="i dsc" onclick="tape('$!plan.customerId')" title="座谈" >dsc</i>
                                	#if($!plan.mobilePhone1 != '')
                                		#if($urlPermitUtil.hasPermission('toAddSms'))
                                		<i class="i sms" onclick="sendSms('$!plan.mobilePhone1','$!plan.customerId')" title="短信">sms</i>	
                                		#end
    	                				#if($urlPermitUtil.hasPermission('toAddMms'))
                                		<i class="i mms" onclick="sendMms('$!plan.mobilePhone1','$!plan.customerId')" title="彩信">mms</i>
                                		#end
                                	#elseif($!plan.mobilePhone2 != '')
                                		#if($urlPermitUtil.hasPermission('toAddSms'))
                                		<i class="i sms" onclick="sendSms('$!plan.mobilePhone2','$!plan.customerId')" title="短信">sms</i>
                                		#end
    	                				#if($urlPermitUtil.hasPermission('toAddMms'))
                                		<i class="i mms" onclick="sendMms('$!plan.mobilePhone2','$!plan.customerId')" title="彩信">mms</i>
                                		#end
                                	#end
                                #elseif($!plan.defaultPhoneType=='4')
                                	<i class="i phone" onclick="dial('$!plan.fax','$!plan.customerId')" title="拨号">phone</i>
                                	<i class="i dsc" onclick="tape('$!plan.customerId')" title="座谈" >dsc</i>
                                	#if($!plan.mobilePhone1 != '')
                                		#if($urlPermitUtil.hasPermission('toAddSms'))
                                		<i class="i sms" onclick="sendSms('$!plan.mobilePhone1','$!plan.customerId')" title="短信">sms</i>	
                                		#end
    	                				#if($urlPermitUtil.hasPermission('toAddMms'))
                                		<i class="i mms" onclick="sendMms('$!plan.mobilePhone1','$!plan.customerId')" title="彩信">mms</i>
                                		#end
                                	#elseif($!plan.mobilePhone2 != '')
                                		#if($urlPermitUtil.hasPermission('toAddSms'))
                                		<i class="i sms" onclick="sendSms('$!plan.mobilePhone2','$!plan.customerId')" title="短信">sms</i>
                                		#end
    	                				#if($urlPermitUtil.hasPermission('toAddMms'))
                                		<i class="i mms" onclick="sendMms('$!plan.mobilePhone2','$!plan.customerId')" title="彩信">mms</i>
                                		#end
                                	#end
                                #end
                            </div>
							#end
                            <div class="other">
                                <label class="item cusTitle" title="$!plan.customerTitle">$!plan.customerTitle</label>
                                <label class="item">$!plan.sex</label>
                                <label class="item">
    								#if($!plan.age)
    									$!plan.age岁
    								#end
    							</label>
    							#if($!plan.isShare==1)
    								<label class="item red">(共享客户)</label>
    							#end
                            </div>
						#end
                    </div>
                </td>
                <td><label title="$!plan.belongUserName">$!plan.belongUserName</label></td>
    			<td><label #if(!$!plan.relativeTsks.equals(0)&& $!plan.relativeTsks)class="ui-link-btn" onclick="toRelatedTaskPageDetail('$!plan.customerId')" #end title="$!plan.relativeTsks">#if($!plan.relativeTsks) $!plan.relativeTsks #else 0 #end</label></td>
                <td><label class="ui-link-btn" title="#if($!plan.finishLevel ==0) 未完成   #else 完成  #end" onclick="customerContactRecDetail('$!plan.customerId','$!plan.phoneNo')">#if($!plan.finishLevel ==0) 未完成  #else 完成  #end</label></td>
                <td><label title="$!subString.replaceRemark($!plan.remark)">$!plan.remark</label></td>
            </tr>
		#end
    </tbody>
    <tfoot>
        <tr>
            <td #if(!$!type.equals('detail'))colspan="6" #else colspan="5" #end>
               	#parse("/velocity/ajaxPage.vm")
            </td>
        </tr>
    </tfoot>
 </table>
 
<input type="hidden" id="menuDetail" name="menuDetail" value="$!menuDetail" />
<input type="hidden" id="totalRemain" name="totalRemain" value="$!totalRemain" />
<input type="hidden" id="everyDayRemain" name="everyDayRemain" value="$!everyDayRemain" />