#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>选择联系客户</title>
   
    <link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />
	<link type="text/css" rel="stylesheet" href="${ctx}/css/tree/zTreeStyle.css" />
	
	<style type="text/css">
		div.ui-panel-box1 div.r { margin-left: 170px; }
		div.ui-panel-box1 div.r div.r-inner { height: 510px; border: 1px solid #ccc; background: url(../../images/public/scroll.gif) repeat-y right center; overflow: auto; }
		div.ui-panel-box1 div.r div.r-inner div.r-contact{ width: 740px; height: 488px; padding: 10px;}
		div.ui-panel-box1 div.r div.r-inner div.r-contact div.contact-amount { border: 1px solid #b1b1b1; margin-bottom: 10px; padding: 5px 10px; line-height: 24px; }
    	div.ui-panel-box1 div.r div.r-inner div.r-contact div.contact-amount label.ml { margin-left: 20px; }
	</style>
</head>
 
<body scroll="no" id="bodyForm1" style="overflow:hidden;">
	<div class="ui-panel-box1">
		<div class="l">
            <div class="l-inner" style="height:515px;width:148px;">
                <ul class="ztree" id="tskTree"></ul>
            </div>
        </div>
        <div class="r">
            <div class="r-inner" style="position:relative;height:525px;">
				<div class="r-contact">
						 <div id="connDiv" class="contact-amount">
								<label>日均剩余联系量：</label>
								<label id="edRemain" class="green"></label>
								<label class="ml">剩余联系总量：</label>
								<label id="tRemain" class="green"></label>
								<label class="ml">总联系量：</label>
								<label id="tConn" class="green"></label>
							</div>
							<table class="htmltbl" style="table-layout: fixed;">
								<tbody>
									<tr>
										<td class="field" width="90">
											<label>客户：</label>
										</td>
										<td width="100">
											<div class="ui-div-text">
												<input type="text" class="text" id="customerName" name="tskSelectCustBean.customerName"/>
											</div>
										</td>
										<td class="field" width="90">
											<label>是否计划：</label>
										</td>
										<td width="100">
											<select id="isPlan" name="isPlan">
												<option value="0">未计划</option>
												<option value="1">已计划</option>
											</select>
										</td>
										<td class="field" width="90">
											<label id="date-field">计划联系日期：</label>
										</td>
										<td>
											<table id="date-panel" class="celltbl">
												<tbody>
													<tr>
														<td width="100">
															<div class="ui-div-text" id="startDiv">
																<input type="text" class="text datepicker" readonly="readonly" id="startDate" name="startDate" fun="searchStartDateFun"/>
																<i class="date"></i>
															</div>
														</td>
														<td width="20"><label>-</label></td>
														<td width="100">
															<div class="ui-div-text" id="endDiv">
																<input type="text" class="text datepicker" readonly="readonly" id="endDate" name="endDate" fun="dateFunction"/>
																<i class="date"></i>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="search-bar">
								<span class="bold fl">
									所有客户(<label class="green" id="queryCount">$!page.totalRowsAmount</label>)
								</span>
								<input type="button" class="ui-input-btn" id="clean" value="清空" />
								<input type="button" class="ui-input-btn" id="search" value="搜索" />
							</div>
							
							<div class="action-bar">
								<span class="ui-span-btn fr" id="refresh">
									<label>刷新</label>
								</span>
							</div>
							<div id="grid">
                               #parse("/velocity/tskConnectPlan/selectConnCustomerTable.vm")
                            </div>
					</div>
				</div>
       	 	</div>
   		</div>
    </div>
    <hr />
    <div class="center">
    	<input type="button" class="ui-footer-btn1 ui-footer-btn1-save" id="sure" value="确定" />
		<input type="button" class="ui-footer-btn1 ui-footer-btn1-save" onclick="btnAll()" value="全部" />
    	<input type="button" class="ui-footer-btn1 ui-footer-btn1-cancel" onclick="javascript:window.close();" value="取消" />
    </div>
	<iframe id="cusFrame" name="cusFrame" frameborder="0" style="display: none; width: 960px; height: 550px;"></iframe>
	<input type="hidden" id="planId" name="planId" value="$!planId"/>
	<input type="hidden" id="planDate" name="planDate" value="$!planDate"/>
	<input type="hidden" id="userId" name="userId" value="$!userId" />
</body>
#scriptLink("core")
#scriptLink("page")
<script type="text/javascript" src="${ctx}/js/system/b.base.js"></script>
<script type="text/javascript" src="${ctx}/js/system/b.date.js"></script>
<script type="text/javascript" src="${ctx}/js/controls/jquery.select-v1.0.js"></script>
<script type="text/javascript" src="${ctx}/js/controls/jquery.defaultVal-v1.0.js"></script>
<script type="text/javascript" src="${ctx}/js/controls/jquery.table-v1.0.js"></script>
<script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.core-3.2.js"></script>
<script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.exedit-3.2.js"></script>
<script type="text/javascript" src="${ctx}/js/plugins/jquery.validator-v1.0.js"></script>
<script type="text/javascript" src="${ctx}/js/controls/jquery.bgiframe-v1.0.js"></script>

<script type="text/javascript">
	var f = {};

	f.init = function(val){
		switch(val){
			case '0':
				$('#date-field, #date-panel').hide();
				break;
			case '1':
				$('#startDate').val('');
				$('#endDate').val('');
				$('#date-field, #date-panel').show();
				break;
			default:
				break;
		}
	};
	
	var setting = {
        	callback:{
        		onClick:treeOnclick
        	},
        	data: {
        		simpleData: {
        			enable: true
        		}
        	},
        	view: {
        		showIcon: false,
				fontCss: setFontCss
        	}
			
	};
	//json树数据
	var zNodes = $!taskTreeJson; 
	
	function setFontCss(treeId, treeNode){
		return treeNode.fontCol == 'red' ? {color:"red"} : {};

	}

	//默认选择第一个节点
	function initNodeSelect(){
		var treeObj = jQuery.fn.zTree.getZTreeObj("tskTree");
		var nodes = treeObj.getNodes();
		if (nodes.length>0) {
			treeObj.selectNode(nodes[0]);
			treeOnclick(event, nodes[0].id, nodes[0]);
		}
	}
	
	//初始化页面
	$(function(){
		$('select').select();
		$('table.datatbl').table();
		f.init($('#isPlan').val());
		//加载验证控件
		$('#bodyForm1').validator();
		$('#isPlan').change(function(){
			//清空验证
			$('#startDate').removeAttr('tips');
    		$("#startDate").parent().removeClass('v-fails');
    		$('#endDate').removeAttr('tips');
    		$("#endDate").parent().removeClass('v-fails');
			f.init($(this).val());
		});
		jQuery.fn.zTree.init($("#tskTree"), setting, zNodes);
		$('#connDiv').hide();
		initNodeSelect();
		jQuery("#refresh").click(function(){
			refreshForm();
		});
		jQuery("#clean").click(function(){
			clear();
		});
		jQuery("#search").click(function(){
			search();
		});
		jQuery("#sure").click(function(){
			addSubmit();
		});
		getQueryJson();
		$("#customerName").defaultVal({value:'姓名、编号等'});
	});
	
	var oldPostJson={};
	var postJson={};
	
	//点击节点查询
	function treeOnclick(event, treeId, treeNode) {
		postJson = {};
		postJson= getQueryJson();
		postJson['tskIds'] = treeNode.tskIds;
		oldPostJson = postJson;
		if(treeNode.id == -1 || treeNode.id == -2 || treeNode.id == -3) {
			$('#connDiv').hide();
		}else{
			$('#connDiv').show();
			postJson['treeOnclick'] = 'yes';
		}
		jQuery.post("getAddCustomerPage.html?random="+Math.random()*1000000,postJson,
					function(html){
					 refreshGrid('grid',html);
					 if($('#connDiv').css('display') != 'none'){
    					 $('#edRemain').text($('#everyDayRemain').val());
    					 $('#tRemain').text($('#totalRemain').val());
    					 $('#tConn').text($('#totalConn').val());
					 }
					});
	}
	//分页跳转
	function gotoPage(page)
	{
		goto(page,"getAddCustomerPage.html?random="+Math.random()*1000000,oldPostJson,function(html){refreshGrid('grid',html);});
	}
	//刷新Grid
	function refreshGrid(gridId,html)
	{
		var elem=$(html);
		var gridDiv = $("#"+gridId);
		gridDiv[0].innerHTML="";
		gridDiv.append(elem);
		var total = $('#total').val();
		if(total!=null){
			$('#queryCount').text(total);
		}
		else {
			$('#queryCount').text("0");
		}
		$('table.datatbl').table();
		
	}
	function getQueryJson(){
		if($('#customerName').val()=="姓名、编号等"){
			$('#customerName').val("");
		}	
    	
		postJson['tskSelectCustBean.customerName']=jQuery.trim($('#customerName').val());
		postJson['isPlan']=jQuery.trim($('#isPlan').val());
		postJson['startDate']=jQuery.trim($('#startDate').val());
		postJson['endDate']=jQuery.trim($('#endDate').val());
		
		oldPostJson = postJson;
		if($('#customerName').val()==''){
			$("#customerName").defaultVal({value:'姓名、编号等'});
		}
		return postJson;
	}
	//刷新
	function refreshForm(){
		goto(null,"getAddCustomerPage.html?random="+Math.random()*1000000,oldPostJson,function(html){refreshGrid('grid',html);});
	}
	//查询
	function search(){
		var bool = jQuery.validator({ form: 'bodyForm1'});
		if(!bool) return;
		var treeObj = jQuery.fn.zTree.getZTreeObj("tskTree");
		var node = treeObj.getSelectedNodes()[0];
		postJson={};
		postJson['tskIds'] = node.tskIds;
		postJson=getQueryJson();
		oldPostJson = postJson;
		jQuery.post("getAddCustomerPage.html?random="+Math.random()*1000000,postJson,
					function(html){
					 refreshGrid('grid',html);
					});
	}
	//清空
	function clear(){
		$("#customerName").val("");
		$('#startDate').val('');
		$('#endDate').val('');
		
		$('#date-field, #date-panel').hide();
		$("#isPlan").val("0");
		jQuery("select").each(function(){
			$(this).select();
		});
		$("#customerName").defaultVal({value:'姓名、编号等'});
	}
	//复选框选中和取消
	function selectAll(obj){   
      var mm=document.getElementsByName("taskTargetId");
	  	for(var i=0;i<mm.length;i++){
			if(obj.checked==true){
				mm[i].checked=true;
			}else{
				mm[i].checked=false;
			}
		}
    }   
	
	function searchStartDateFun(obj){
		var startDate=$("#startDate").val();
		var endDate=$("#endDate").val();
		if(endDate.length>0&&startDate.length>0){
			if(endDate<startDate){
				$(obj).attr('tips', '开始日期必须小于结束日期'); return false;
			}else{
				$('#endDiv').removeClass('v-fails');
				return true;
			}
		}else return true;
	}
	
	function dateFunction(obj){
		var startDate=$("#startDate").val();
		var endDate=$("#endDate").val();
		if(endDate.length>0){
    		if(startDate>endDate){
    			$(obj).attr('tips', '结束日期不能小于开始日期'); return false;
    		}else{
				$('#startDiv').removeClass('v-fails');
				return true;
			}
		}else return true;
	}
	

	//点击确定按钮
	function addSubmit(){
		var mm=document.getElementsByName("taskTargetId");
		var checkFlag=false;
		var chestr="";
		for(var i=0;i<mm.length;i++){
			if(mm[i].checked==true){
				checkFlag=true;
				chestr+=mm[i].value+":";
			}
		}
		if(checkFlag==false){
			banger.page.showMessageBox("请选择联系客户!");
			return ;
		}else{
			window.returnValue=chestr;
    		window.close();
		}
	}
	//点击全部
	function btnAll(){
		if($('#queryCount').val()>5000){
			banger.page.showMessageBox("暂时只支持最大选择5000个客户！");
			return false;
		}
		if(confirm("您确定要添加全部客户吗?")){
    		var planId=$('#planId').val();
    		if(planId>0){
    			oldPostJson['planId']=planId;
        		jQuery.post("addBatchTargetCust.html?random="+Math.random()*1000000,
        					oldPostJson,
        					function(){
        						window.returnValue='all';
        						window.close();
        					});
    		}
		}
	}
	
	//查看客户
	function browseCustomer(cusId){
		if(cusId){
	    	jQuery.ajax({
				  type: 'POST',
				  url: "/customer/isDeleteCus.html?random="+Math.random()*1000,
				  data: {"cusId":cusId},
				  success:function(data){
				  		var obj = jQuery.parseJSON(data);
				  		if(obj[0].isDel=='1'){
							banger.page.showMessageBox('客户'+obj[0].customerName+'被删除，无法查看具体资料！');
							return ;
				  		}else{
				  			jQuery('#cusFrame').attr('src', '/customer/browseCustomer.html?actionType=browse&&needLine=0&&isBrowseLayer=1&&crmCustomer.customerId=' + cusId);
				  			art.dialog({
								title: '查看客户',
								cancelVal: '关闭',
    							cancel: function(){
    								jQuery('#cusFrame').attr('src', '');
	    							return true;	
    							},
    							content: document.getElementById('cusFrame'),
							    width: '100%',
							    height: '100%',
							    left: '0%',
							    top: '0%',
							    padding: '0px',
							    fixed: true,
							    resize: false,
							    drag: false
							})
				  		}
				  	}
				});	
			}
	  }
		
	//查看关联任务
	function customerContactRecDetail(customerId){
		if(customerId){
			var userId = $('#userId').val();
    		jQuery('#cusFrame').attr('src', "/tskContact/initRelatedTaskPage.html?tskCusId="+ customerId +"&detail=n&exeUserId="+userId+"&random="+Math.random());
    		art.dialog({
    				title: '查看关联任务',
    				cancelVal: '关闭',
    				cancel: function(){
    					jQuery('#cusFrame').attr('src', '');
    					return true;	
    				},
    				content: document.getElementById('cusFrame'),
    			    width: '100%',
    			    height: '100%',
    			    left: '0%',
    			    top: '0%',
    			    padding: '0px',
    			    fixed: true,
    			    resize: false,
    			    drag: false
    			})
        	}
	}
</script>
</html>

