#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>导入客户 </title>
	<base target="_self" />
    #styleLink("base")
	#scriptLink("core")
    #scriptLink("page")	
	<script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.abnormal.js"></script>
</head>
<script>
	var confirmMsg;
	//数据初始化
	$(function(){
		if($!total){
			$("#totalCount").text("$!total");
		}
		if($!bathchCount){
			$("#bathchCount").attr("value",$!bathchCount);
		}
		var totalCount=$("#totalCount").text();
		if(totalCount<=0){
 			 $("#importBtn").attr("disabled",true);
		}
		$("select").each(function(){
			$(this).select({scroll:11});
		});
		
		$('#datatable tr').hover(
			function(){
				$('td:first', this).css({ 'font-weight': 'bold', 'color': '#f60' });
			},
			function(){
				$('td:first', this).css({ 'font-weight': 'normal', 'color': 'black' });
			}
		);
		initPage();
	});
	function abovePage(){
		document.location.href="initImportPath.html?random="+Math.random()*100000;
	}
	function changeValue(obj){
		var name=obj.name;
		var value = name.replace(/[^0-9]/ig,""); 
		var changObj=document.getElementById("checkbox"+value);
		var coverRecordObj=document.getElementById("coverRecord");
		//改变对应列的样式
		changObj.value=obj.colname;
		var selectName=$('#'+obj.name).find("option:selected").text();
		if(coverRecordObj.checked){
    		if(selectName=="客户编号"){
    			changObj.checked=true;
    			changObj.disabled=true;
    		}else{
    		    if(selectName!=""){
    				changObj.disabled=false;
    				changObj.checked=true;
    			}else{
    				changObj.checked=false;
					changObj.disabled=true;
				}
    		}
		}
	}
	//提交验证
	function checkPast(){
		var ary = new Array();
    	$('select').each(function(){
                ary.push($(this).children("option:selected").val());
          });
		return isRepeat(ary);  
	}
	//覆盖复选解除
	function coverDisabled(obj){
	   if(obj.checked){
	   		 var checkbox = $("#importForm").find("input:checkbox");
    	  	 checkbox.each(function(){
				$(this).attr("disabled", false); 
				if($(this).val()=="客户编号"){
					$(this).attr("checked", true);
					$(this).attr("disabled", true);
				}
				var selectName=$(this).attr('name');
				var value = selectName.replace(/[^0-9]/ig,""); 
				if(value!=""){
    				if($('#combox'+value).val()==""){
						$(this).attr("disabled", true); 
    				}else{
						$(this).attr("checked", true);
					}
				}
             });
		 	var fsize=$!readColumnNames.size();
    		var csize=$!cellNum;
    		if(fsize==csize){
    			#foreach($!item in $!checkboxFeilds)
    				if("$!item.feildName"!="")
    					jQuery('#$!item.moduleName').attr("checked", true);
    				else{
    					jQuery('#$!item.moduleName').attr("checked", false);
    					}
    			#end
    		}
	   }else{
	   		var checkbox = $("#importForm").find("input:checkbox");
    	  	 checkbox.each(function(){
				$(this).attr("disabled", true);
				$(this).attr("checked", false);
             });
	   }
	   obj.disabled=false;
	}
	
	
	
    function isRepeat(ary){     
		var nary=ary.sort();   
		var province="";
		var city="";
		var customerName="";
		for(var i=0;i<ary.length;i++){
			if(nary[i]=="province"){
				province=1;
			}
			if(nary[i]=="city"){
				city=1;
			}
			if(nary[i]=="customerName"){
				customerName="1";
			}
		}
		var tempStr="";
		$('select').each(function(){
               tempStr+=$(this).children("option:selected").val();
         });
        if(tempStr.length==""){
        	return false;
        }
		if(city==1&&province==""){
			banger.page.showMessageBox("有城市时，必须有省份，请选择'省份'对应列");
			return false;   
		}
		if(customerName==""){
			banger.page.showMessageBox("客户姓名列没有对应");
			return false;
		}
        for(var i=0;i<ary.length;i++){
		 if(nary[i]!=""){
             if (nary[i]==nary[i+1]){ 
			 	var cname="";
				var ctext="";
			 	$('select').each(function(){
               		if($(this).children("option:selected").val()==nary[i]){
						cname+=$(this).attr("colname")+",";
						ctext=$(this).children("option:selected").text();
					}
         		 });
				cname=cname.substr(0,cname.length-1);
				banger.page.showMessageBox( "被导入的数据表中列'"+cname+"'列不能导入到同一个系统的数据表中字段'"+ctext+"'");
             	return false;   
            }
		} 
	  }  
	  return true;  
    }
	
	
	//点导入
	function exportCustomer(){
		if(checkPast()){
    		confirmMsg = 1;
			jQuery.post('importCustVerify.html?random='+Math.random()*10000,
						{},
						function(json){
						if(json !=""){
							banger.page.showMessageBox(json);
    						return false;
					}else{
        				$("#d1").css("display","none");
                		$("#d2").css("display","block");
						$("#d3").css("display","none");
						$("#d4").css("display","none");
                		importExcel();
                		proId = setInterval("progressBar()", 1000);
    				}
			});
		}
	}
	var outStr={};
	//提交
	function importExcel(){
		var postJson =getPostJson();
		jQuery.ajax({
	    	type: 'post',
			url:'execlToDataBase.html',
			data:postJson,
			success:function(json){
    			var outStr=jQuery.parseJSON(json);
				if(outStr==""){
					$('#failRecordCount').text(0);
					$('#successRecordCount').text(0);
				}else{
					$('#failRecordCount').text(outStr['failRecordCount']);
					$('#successRecordCount').text(outStr['successRecordCount']);
					$("#errorFilePath").attr("value",outStr['errorFilePath']);
				}
			}
    	});	
	}
	
	//导出进度
	function progressBar(){
	    var totalAmount=$("#bathchCount").val();
		jQuery.post('exportCustomerBar.html?random='+Math.random()*10000,
						{},
						function(json){
							var curr, p, ds=jQuery.parseJSON(json);
							if(ds["curr"]) {
								curr = ds["curr"];
							}
							if(!curr) curr = 0;
							if(totalAmount==0) 
								p = "100%";
                			else 
								p = Math.round(parseInt(curr) * 100 /parseInt(totalAmount))+'%';
                			$("#percent").text(p);
                			$("#porgressBar").css("width",p);
                			if(p == "100%"){
								sleep(500);
								$("#d1").css("display","none");
                				$("#d2").css("display","none");
                				$("#d3").css("display","block");
								confirmMsg=2;
								if($('#failRecordCount').text()!="0")
                					$("#d4").css("display","block");
                				else
                					$("#d4").css("display","none");
								clearInterval(proId);
                			}
						}
			);
	}
	
	
    function sleep(numberMillis) {    
        var now = new Date();    
        var exitTime = now.getTime() + numberMillis;   
        while (true) { 
        now = new Date();       
        if (now.getTime() > exitTime) 
      	  return;    
        } 
    } 
	//意外关闭
	function cfirm(){
		if(confirmMsg == 1 && typeof(proId) != 'undefined'){
			if(confirm('正在导入客户资料，您确定要取消导入吗？')) {
				clearInterval(proId);
				jQuery.post('importCustomerStop.html',
    				{},
    				function(json){
					
    				});
				return true;
			}
		}else return true;
	}
	//点关闭重置状态
	function importClose(){
		jQuery.post('importCustomerStop.html',
    				{},
    				function(json){
    				});
		tab.close(GetId(), false);			
	}
	//根据用户取对应列的对应关系
	function initPage(){
		var fsize=$!readColumnNames.size();
		var csize=$!cellNum;
		if(fsize==csize){
    		#foreach($!temp in $!comboxFeilds)
    			jQuery('#$!temp.moduleName option[value="$!temp.feildName"]').attr('selected', 'selected').parent().select();
    		#end
		}
	}
	//导出失败文件
	function exportExcel(){
		var filePath=$("#errorFilePath").val();
		if(filePath==""){
			banger.page.showMessageBox("未找到失败文件路径！");
			return false;		
		}
		document.location.href="exportFailExcel.html?filePath="+filePath+"&random="+Math.random()*100000;
	}
</script>
<body>
	<div id="d1" style="display:block">
	<form name="importForm"  id ="importForm" enctype="multipart/form-data" method="post" onsubmit="return checkPast();">
	<input type="hidden" name="filePath"  value="$!filePath" />
	<input type="hidden" id="errorFilePath" name="errorFilePath">
	<input type="hidden" id="bathchCount"  value="$!bathchCount" />
	<input type="hidden" id="total" value="$!total" />
	<table class="step1" width="100%" border="0" cellpadding="2" cellspacing="2">
    	<tr>
        	<td class="executed">第 1 步</td>
        	<td class="executed">第 2 步</td>
        	<td>第 3 步</td>
        	<td>完成</td>
        </tr>
    </table>
    <h4 class="step-title">第 2 步：导入客户基本设置</h4>
    <table width="100%" cellpadding="0" cellspacing="0">
    	<tbody>
        	<tr>
            	<td  height="40" class="nowrap">
                	<input type="checkbox" name="coverRecord" onclick="coverDisabled(this)"  id="coverRecord"  class="chk" /> 覆盖客户编号相同的记录
                </td>
            </tr>
            <tr>
            	<td>
                	<dl style="line-height: 24px; color:gray;">
                    	<dt>说明：</dt>
                        <dd>1、系统将按照从【被导入的数据表】到【系统的数据表】，自左而右的列对应关系，导入数据</dd>
                        <dd>2、如果【系统的数据表】中的列，在【被导入的数据表】中没有列对应，则显示为空</dd>
                        <dd>3、您可以在【系统的数据表】中设置与【被导入的数据表】中列的对应关系</dd>
                        <dd>4、覆盖的栏目，只有覆盖客户编号相同的记录时才有效</dd>
                    </dl>
                </td>
            </tr>
            <tr>
            	<td align="center" style="padding: 10px 0px;">
                	<table border="0" cellpadding="2" cellspacing="2" id="datatable">
                    	<thead>
                        	<tr>
                            	<th height="30">被导入的数据表</th>
                            	<th height="30"></th>
                            	<th height="30">系统的数据表</th>
                            	<th height="30">栏目是否覆盖</th>
                            </tr>
                        </thead>
                    	<tbody>
							   #set($index = 0)
							   #foreach($item in $!readColumnNames) 
									<tr>
                                    	<td align="left">
                                        	<label>$item</label>
                                        </td>
										<td  style="width: 80px;">
                                        	&nbsp;&nbsp;
                                        </td>
                                    	<td>
											<select name="combox$index" id="combox$index" style="width: 140px;" onchange="changeValue(this)" colname="$item">
												<option value=""></option>
												#foreach($param in ${baseColumn.keySet()})   
													<option value="$param" #if($item.equals(${baseColumn.get($param)})) selected="selected"#end>${baseColumn.get($param)}</option>
												#end 
                                            </select>
                                        </td>
                                    	<td>
											<input type="checkbox" class="chk" disabled="disabled" value="$item" id="checkbox$index" name="checkbox$index" /> 覆盖
                                        </td>
                                    </tr>
									#set($index = $index+1)
							   #end 
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
            	<td height="40" align="center">
                	<input type="button" value="上 一 步" onclick="abovePage()" class="btn5 btn5bg1" />
                	<input type="button" value="导      入" class="btn5 btn5bg1" id="importBtn"  onclick="exportCustomer()"/>
                   	<input type="button" class="btn1" onclick="importClose()" value="取       消" />
                </td>
            </tr>
		</form>	
        </tbody>
    </table>
	</div>
	<div id="d2" style="display:none">
		<table class="step1" width="100%" border="0" cellpadding="2" cellspacing="2">
    	<tr>
        	<td class="executed">第 1 步</td>
        	<td class="executed">第 2 步</td>
        	<td class="executed">第 3 步</td>
        	<td>完成</td>
        </tr>
    </table>
    <h4 class="step-title">第 3 步：导入客户中</h4>
	
     <div class="pgrbar">
        	<div class="ppt">
            	<span class="fl">
                    正在导入数据，共
                    <label id="totalCount" class="dgreen bold"></label>
                    条数据…
                </span>
                <span id="percent" class="fr">
                </span>
            </div>
            <div class="bar" >
                <div id="porgressBar"></div>
            </div>
        </div>
	 </div>
	 <div id="d3" style="display:none">
		<table class="bartbl">
        	<tr>
            	<td class="over">第 1 步</td>
            	<td class="over">第 2 步</td>
            	<td class="over">第 3 步</td>
            	<td class="over">完成</td>
            </tr>
        </table>
            
            <h4 class="steptxt">
            	完成客户导入
            </h4>
            
            <dl class="sucppt">
            	<dt>客户导入已完成！</dt>
                <dd class="img"></dd>
                <dd>
                	共
                    <span>$!total</span>
                    条数据，成功
                    <span class="green"><label id="successRecordCount" ></label></span>
                    条，失败 
                    <span class="red"><label id="failRecordCount" ></label></span> 
                    条。
            	</dd>
            </dl>
			<div id="d4" style="display:none">
                <dl style="line-height: 24px;">
                    <dt>您可以另存导入失败的客户</dt>
                    <dd>1、根据失败原因，更改客户信息。</dd>
                    <dd>2、如果不需要再次导入失败的客户记录，可以删除这行。</dd>
                </dl>
                <div style="margin: 20px 0px;">
                	<input type="button" class="btn1" value="另存导入失败的客户" onclick="exportExcel()" />
                </div>
			</div>
            <hr />
            
            <div class="halign">
            	<input type="button" class="btn6 btn6bg3" value="关闭" onclick="importClose()" />
            </div>
     </div>
</body>
</html>
