<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-lazy-init="true" default-autowire="byName">
	<!-- service层 -->
	<bean id="recordWebService" class="com.banger.mobile.webservice.service.impl.RecordWebServicesImpl" >
        <!--<property name="cd" ref="codetableService" ></property>-->
    </bean>
	<bean id="customerWebServiceImpl" class="com.banger.mobile.webservice.service.impl.CustomerWebServiceImpl" ></bean>
    <bean id="productWebService" class="com.banger.mobile.webservice.service.impl.ProductWebServicesImpl"></bean>
    <bean id="taskWebService" class="com.banger.mobile.webservice.service.impl.TaskWebServicesImpl"></bean>

    <bean id="loanWebService" class="com.banger.mobile.webservice.service.impl.LoanWebServiceImpl">
        <property name="docType1" value="${docType1}" />
        <property name="docType2" value="${docType2}" />
        <property name="docType3" value="${docType3}" />
        <property name="docType4" value="${docType4}" />
        <property name="docType5" value="${docType5}" />
        <property name="docType6" value="${docType6}" />
        <property name="docType7" value="${docType7}" />
        <property name="docType8" value="${docType8}" />
        <property name="docType9" value="${docType9}" />
        <property name="docType10" value="${docType10}" />
        <property name="docType11" value="${docType11}" />
        <property name="docType12" value="${docType12}" />
        <property name="docType13" value="${docType13}" />
        <property name="docType14" value="${docType14}" />
        <property name="docType15" value="${docType15}" />
        <property name="docType16" value="${docType16}" />
        <property name="docType20" value="${docType20}" />
        <property name="docType21" value="${docType21}" />
        <property name="docType22" value="${docType22}" />
        <property name="docType23" value="${docType23}" />
        <property name="approveUser" value="${loan.approveUser}"/>
        <property name="url" value="${loan.crRequest.Url}"/>
    </bean>

    <bean id="mapWebService" class="com.banger.mobile.webservice.service.impl.MapWebServiceImpl"></bean>
    <bean id="creditsMallServices" class="com.banger.mobile.webservice.service.impl.CreditsMallServicesImpl"></bean>
		<!--测试客户端配置
	<bean id="testIRecordWebServices" class="org.codehaus.xfire.spring.remoting.XFireClientFactoryBean">
		<property name="lookupServiceOnStartup"><value>false</value></property>
	    <property name="serviceClass">
	      <value>com.banger.mobile.webservice.service.IRecordWebServices</value>
	    </property>
	    <property name="wsdlDocumentUrl">
	      <value>http://127.0.0.1:8080/services/BangerCrmService?wsdl</value>
	    </property>
		<property name="url">
	      <value>http://127.0.0.1:8080/services/BangerCrmService</value>
	    </property>
		<property name="serviceFactory">
			<ref bean="xfire.serviceFactory" />
		</property>
	    <property name="properties">
			<props>
				<prop key="http.timeout">5000</prop>
			</props>
		</property>
	</bean>
	-->
</beans>