<table class="datatbl" width="100%" border="0" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>用户名</th>
            <th>姓名</th>
            <th>人员编号</th>
			<th>角色</th>
			<th>上次登录时间</th>
            <th width="120">操作</th>
        </tr>
    </thead>
    <tbody>
		#foreach($deptUser in $!deptUserList.items)
            <tr>
                <td><label>$!deptUser.account</label></td>
                <td ><label>$!deptUser.userName</label></td>
				<td ><label title="$!deptUser.userCode">$!deptUser.userCode</label></td>
                <td ><label title="$!deptUser.roleNames">$!deptUser.roleNames</label></td>
				<td ><label>$!date.format("yyyy-MM-dd",$!deptUser.lastLoginDate)</label></td>
                <td>
                    #if($!deptUser.roleNames.contains("业务主管"))
                        #if($urlPermitUtil.hasPermission('workTransfer'))
                            <label disabled="disabled">工作移交</label>
                        #end
                    #else
                        #if($urlPermitUtil.hasPermission('workTransfer'))
                            <a class="slink" href="javascript:void(0);"
                               onclick="workTransfer($!deptUser.userId,'$!deptUser.userName','$!deptUser.roleNames')">工作移交</a>
                        #end
                    #end
				</td>
            </tr>
		#end
    </tbody>
    <tfoot>
    	<tr>
        	<td colspan="6">
				<div class="floatR">#parse("/velocity/deptPage.vm")</div>
            </td>
        </tr>
    </tfoot>
</table>
<input id="totalAmount" type="hidden" name="totalAmount" value="$!totalAmount"/>