#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>产品到期提醒</title>
    
	#styleLink("base")
	#scriptLink("core")
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
	<script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
    <script type="text/javascript">
    	$(function(){
		});
		//跳转到未处理客户列表
    	function toIsDeal(id){
    		var options = {id: "product_isDealCustomer", pid: GetId(), title: "未处理客户", url: "/product/isDealCustomer.html?productId="+id+"&dealType=0&random="+Math.random(), lock: false};
    		tab.add(options);
    	}
    </script>
</head>
 
<body>
	
	<div class="sz">
       <span class="fl bold">
                七天内即将到期的产品(<label class="dgreen">$!count</label>)
	   </span>
    </div>
    <div>
        <table class="datatbl" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th><label title="产品名称">产品名称</label></th>
                    <th><label>到期日期</label></th>
                    <th><label>剩余到期天数</label></th>
					<th><label>销售客户数</label></th>
					<th><label>为处理客户数</label></th>
					<th width="80"><label>操作</label></th>
                </tr>
            </thead>
            <tbody>
				#foreach($product in $!productList.items)
                <tr>
					<td class="left"><a href="#2">$!product.productName</a></td>
                	<td><label>#if($!product.expireDate)$date.format("yyyy-MM-dd",$!product.expireDate)#end</label></td>
                	<td><label>$!product.expireDays天</label></td>
                	<td><label>$!product.buyCustomerCount人</label></td>
                    <td><label><font color="red">$!product.isDealCount</font>人</label></td>
                	<td><a href="#2" onclick="toIsDeal('$!product.productId')">提醒客户</a></td>
                </tr>
				#end
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="fr">
							#parse("/velocity/page.vm")
						</div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>

