<thead>
<tr>
    <th><label title="意向产品">意向产品</label></th>
    <th><label title="意向说明">意向说明</label></th>
    <th><label title="添加时间">添加时间</label></th>
    <th><label title="添加人员">添加人员</label></th>
</tr>
</thead>
<tbody>
#foreach($schedule in $scheduleList)
<tr>
    <td><label title="$!schedule.productName">$!schedule.productName</label></td>
    <td><label title="$!subString.replaceRemark($!schedule.remark)">$!schedule.remark</label></td>
    <td><label title="$!date.format('yyyy-MM-dd',$!schedule.createDate)">$!date.format('yyyy-MM-dd',$!schedule.createDate)</label></td>
    <td><label title="$!schedule.userName">$!schedule.userName</label></td>
</tr>
#end
</tbody>
<tfoot>
<tr>
    <td colspan="4">
        #pageSize($page,'CustomerPdt')
    </td>
</tr>
</tfoot>
<input type="hidden" id="pdtRecordCount" value="$!recordCount" />