#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>导入客户</title>    
    <link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />   
     #styleLink("base")  
     #scriptLink("core") 
    <script type="text/javascript" src="${ctx}/js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.base.js"></script>
    #scriptLink("page") 
   
    
</head>
<body>
  <form name="importForm"  id ="importForm"  enctype="multipart/form-data" action="../taskAssignImport/importExcelContrast.html" onsubmit="return check();"  method="post" >
	<input type="hidden" id="taskId" name="taskId" value="$!taskId"/>
	<input type="hidden" id="imType" name="imType" value="$!imType"/>
	<input type="hidden" id="failureMsg" name="failureMsg" value="$!failureMsg"/>
	<table class="bartbl">
    	<tr>
        	<td class="over">第 1 步</td>
        	<td>第 2 步</td>
        	<td>第 3 步</td>
        	<td>第 4 步</td>
        </tr>
    </table>
    <h4 class="steptxt">
    	第一步：选择导入文件路径
    </h4>
    
    <table width="100%">
    	<tr>
			<td width="10%" height="60" nowrap="nowrap">文件路径:</td>
        	<td width="90%">
        		<div id="uploadSpan" class="dtxt1" style="border: 0;">
                    <input type="file" class="file" name="excelFile" id="file" style="width: 100%;" onkeydown="return false;" onpaste="return false;" onchange='checkFileType(this.value);' />
                </div>
			</td>
        </tr>
    
        <tr>
        	<td width="60"></td>
        	<td>
            	<label class="gray" style="line-height:24px;">
                	目前支持导入的文件格式：
                    Excel
                </label>
            </td>
        </tr>
    </table>   
<div style="margin-top: 40px;">
    	为了能更好的上传你的任务资料，请使用我们提供的模板，以下为Excel模板
        
    </div>
    <div style="margin: 20px 0px 40px 0px;">
    	<input type="button" class="btn1" value="Excel模板下载" onclick="exportTemp()"/>
    </div>    
<hr />    
    <div class="center">
        <input type="submit" class="ui-footer-btn1 ui-footer-btn1-save" value="下一步" />      
        <input type="button" class="ui-footer-btn1 ui-footer-btn1-cancel" value="取消" onclick="javascript:tab.close(GetId(),false);"/>
    </div>  
    
</form>

 <script type="text/javascript">
   
    <!--检验是否有文件导入-->
		 function check() 
		{ 
		  if(importForm.file.value == "") {
		     banger.page.showMessageBox("请选择文件路径！");
		     return false;
		   }else{
		   		return true;
		   }
		}
		
		var html=document.getElementById('uploadSpan').innerHTML; 
		<!--//重新选取EXCEL-->
		function resetFile(){ 
		document.getElementById('uploadSpan').innerHTML=html; 
		}
		
		function checkResult(){
		  var data=document.getElementById('failureMsg');
		     if(data.value!=''){
		       banger.page.showMessageBox(data.value);
		     }
		}

		<!--//验证要导入的文件类型是否匹配-->
		function checkFileType(str){
			var pos = str.lastIndexOf(".");
			var lastname = str.substring(pos,str.length);
			var resultName=lastname.toLowerCase();
			if ('.xls'!=resultName.toString()&&'.xlsx'!=resultName.toString()&&'.et'!=resultName.toString()&&'.ett'!=resultName.toString()){
				banger.page.showMessageBox('只能上传xls/xlsx,et/ett文件，您上传的文件类型为'+resultName+'，请重新上传！');
				resetFile();
			}
		}
		<!--//导入模版-->
		function exportTemp(){
		  var rimType=$("#imType").val();
		  document.location.href="../taskAssignImport/provExcelSample.html?sysType="+rimType+"&random="+Math.random();
		}
		
		<!--//获取指定的文件路径-->
		$(function(){
			$("#btnslt").click(function(){
				$("#file").click();
			});
		});
        
        checkResult();
    </script>
</body>

</html>