#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新增日程安排</title>

    #styleLink("base")
<link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
<link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />

<script type="text/javascript" src="${ctx}/js/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="${ctx}/js/system/b.base.js"></script>
<script type="text/javascript" src="${ctx}/js/system/b.date.js"></script>
<script type="text/javascript" src="${ctx}/js/controls/jquery.select-v1.0.js"></script>
<script type="text/javascript" src="${ctx}/js/controls/jquery.table-v1.0.js"></script>

<script type="text/javascript" src="${ctx}/js/jquery/jquery.ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="${ctx}/js/jquery/jquery.ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="${ctx}/js/jquery/jquery.ui/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>

<script type="text/javascript" src="${ctx}/js/banger/banger.core.js"></script>
<script type="text/javascript" src="${ctx}/js/banger/banger.common.js"></script>
<script type="text/javascript" src="${ctx}/js/banger/banger.input.js"></script>

<script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>

<script type="text/javascript" src="${ctx}/js/banger/banger.page.js"></script>
<script type="text/javascript" src="${ctx}/js/banger/banger.contactIcon.js"></script>
    #scriptLink("page")
<script type="text/javascript">
$(function(){
    autoSelect();
    $('select').select();
    getQueryJson();
    $("#customerName").tips({ msg: "姓名、地址或电话" });
});
//用来保留搜索数据
var oldPostJson ={};

function autoSelect(){
    $(".autoSelected").each(function (){
        var v = $(this).find("input").first().val();
        if(v){
            $(this).find("select").val(v);
        }
    });
}

function getCheckedLoan(obj){
    var str = "";
    obj.each(function(){
        if(jQuery(this).attr("checked")){
            if(!str){
                str = jQuery(this).val();
            }else {
                str = str + "," + jQuery(this).val();
            }
        }
    });
    return str;
}

//判断添加日程
function isAddSchedule(){
    var obj = jQuery(".datatbl").find("input[type=checkbox][nm=chkone]:checked");
    if(obj.size() == 0){
        banger.page.showMessageBox("您没有选择要添加的客户，请先选择客户!");
        return false;
    }
    var cusIds = getCheckedLoan(obj);
    if(obj.size() == 1){
        jQuery.ajax({
            type:'POST',
            url:"../tskSchedule/judgeCustomerSchedule.html?RandNum="+ Math.random(),
            data:{'customerIdString':cusIds},
            success:function(data){
                if(data==0){
                    addSchedule(cusIds);
                }else{
                    var cusName = data.split(",")[1];
                    if(confirm("您选择的客户\""+cusName+"\"已有日程安排，是否为客户添加新日程？")){
                        addSchedule(cusIds);
                    }
                }
            }
        });
    }else if(obj.size() >= 2){
        jQuery.ajax({
            type:'POST',
            url:"../tskSchedule/judgeCustomerSchedule.html?RandNum="+ Math.random(),
            data:{'customerIdString':cusIds},
            success:function(data){
                if(data==0){
                    addSchedule(cusIds);
                }else{
                    if(confirm("您选择的客户部分已有日程安排，是否为这些客户添加新日程？")){
                        addSchedule(cusIds);
                    }
                }
            }
        });
    }
}

//添加日程
function addSchedule(customerIdString){
    var url = "../tskSchedule/toTskNewSchedule.html?customerIdString="+customerIdString+"&RandNum="+ Math.random();
   // var result = window.showModalDialog(url, '新增日程安排', 'dialogWidth=640px;dialogHeight=500px;toolbar=no;menubar=no;scrollbars=no;resizable=no;location=no;status=no');
    var result=banger.page.openDialog(url,"添加日程",640,500);
    if(result){
        jQuery.ajax({
            type:'POST',
            url:"../tskSchedule/tskNewSchedule.html?RandNum="+ Math.random(),
            data:{},
            success:function(html){
//                refreshTab(html,'queryScheduleTable');
                query();
            }
        });
    }
}
//刷新tab
function refreshTab(html,gridId){
    $("#"+gridId).html(html);
    $('table.datatbl').table();

    var total = $('#total').val();
    if(total != null){
        $("#recordCount").text(total);
    }else{
        $("#recordCount").text(0);
    }
}

//清空
function resetCondition(){
    $('#customerName').val("");
    $('#productName').val("");

    $("select").each(function(){
        this.selectedIndex = 0;
        $(this).select();
    });
    $("#customerName").tips({ msg: "姓名、地址或电话" });
}
//获取搜索条件
function getQueryJson(){
    if($('#customerName').val()=="姓名、地址或电话"){
        $('#customerName').val("");
    }
    var postJson = {};
    postJson['tskSchedule.pdtProductCustomerBean.customerName']=jQuery.trim($('#customerName').val());
    postJson['tskSchedule.pdtProductCustomerBean.customerTypeId']=jQuery.trim($('#customerType').val());
    postJson['tskSchedule.pdtProductCustomerBean.productName']=jQuery.trim($('#productName').val());
    oldPostJson = postJson;
    if($('#customerName').val()==''){
        $("#customerName").tips({ msg: "姓名、地址或电话" });
    }
    return postJson;
}
//分页跳转
function gotoPage(page){
    var currentPage = jQuery.trim(document.getElementById('page.currentPage').value);

    if(currentPage == "0" || currentPage == 0){
        document.getElementById('page.currentPage').value = 1;
    }
    if(oldPostJson){
        goto(
                page,
                "../tskSchedule/queryCustomerList.html?RandNum"+Math.random(),
                oldPostJson,
                function(html){
                    refreshTab(html, 'queryScheduleTable');
                });
    }
}

//搜索
function query(){
    var optJson = getQueryJson();
    var urlStr = "../tskSchedule/queryCustomerList.html?RandNum="+Math.random();
    jQuery.ajax({
        type:'POST',
        url:urlStr,
        data:optJson,
        success:function(html){
            refreshTab(html ,'queryScheduleTable');
//                    queryBack(html,'queryScheduleTable');
            oldPostJson = optJson ;
        }
    });
}

function queryBack(html, gridId){
    var elem=$(html);
    elem.table();
    var gridDiv = $("#"+gridId);
    gridDiv[0].innerHTML="";
    gridDiv.append(elem);
    var total = $('#total').val();
    if(total!=null){
        $("#recordCount").text(total);
    }else {
        $("#recordCount").text(0);
    }
}

//刷新列表
function refresh(){
    if(oldPostJson){
        goto(null,
                "../tskSchedule/queryCustomerList.html?RandNum="+Math.random(),
                oldPostJson,
                function(html){
                    refreshTab(html,'queryScheduleTable');
                });
    }
}

//复选框选中和取消
function selectAll(obj){
    var mm=document.getElementsByName("tskCheck");
    for(var i=0;i<mm.length;i++){
        if(obj.checked==true){
            mm[i].checked=true;
        }else{
            mm[i].checked=false;
        }
        if(mm[i].disabled==true){
            mm[i].checked=false;
        }
    }
}

//多选 客户
function getSelectCus(){
    var obj = jQuery(".datatbl").find("input[type=checkbox][nm=chkone]:checked");
    if(obj.size() == 0){
        return false;
    }
    var str = "";
    obj.each(function(){
        if(jQuery(this).attr("checked")){
            if(!str){
                str = jQuery(this).val();
            }else{
                str = str +"," +jQuery(this).val();
            }}
    })
    return str;
}

//查看客户详情
function newTab(actionType, cusId){
    if(actionType == "insert"){
        var options = {id: "cusInsert"+cusId, pid: GetId(), title: "新建客户", url: "${ctx}/customer/addCustomer.html?actionType=insert", lock: false};
        tab.add(options);
    }
    else if(actionType == "modify"){
        var options = {id: "cusModify"+cusId, pid: GetId(), title: "编辑客户", url: "${ctx}/customer/editCustomer.html?actionType=modify&&crmCustomer.customerId="+cusId, lock: false};
        tab.add(options);
    }
    else if(actionType == "browse"){
        isDelete(cusId);
    }
}

function isDelete(cusId){
    jQuery.ajax({
        type: 'POST',
        url: "../customer/isDeleteCus.html?"+"random="+Math.random()*1000,
        data: {"cusId":cusId},
        success:function(data){
            var obj = jQuery.parseJSON(data);
            if(obj[0].isDel=='1'){
                banger.page.showMessageBox('客户"'+obj[0].customerName+'"被删除，无法查看具体资料！');
            }else{
                if('$isSelectCus'=='True'){
                    window.top.aui.builder({
                        title: '查看客户',
                        url: '${ctx}/customer/browseCustomer.html?' + 'actionType=browse&&needLine=0&&isBrowseLayer=1&&crmCustomer.customerId=' + cusId
                    });
                }else{
                    var options = {id: "cusBrowse"+cusId, pid: GetId(), title: "查看客户", url: "${ctx}/customer/browseCustomer.html?actionType=browse&&crmCustomer.customerId="+cusId, lock: false};
                    tab.add(options);
                }
            }
        }
    });
}
</script>
</head>

<body>
<table class="htmltbl">
    <tbody>
    <tr>
        <td class="field" width="8%">
            <label>客户：</label>
        </td>
        <td width="17%">
            <!--
            <div class="ui-div-text">
                <input type="text" class="text" id="customerName"/>
            </div>
            -->
            <div class="dtxt1">
                <input type="text" class="dtxt1-txt" id="customerName" maxlength="20"/>
            </div>
        </td>
        <td class="field" width="8%">
            <label>客户类型：</label>
        </td>
        <td width="17%">
            <select id="customerType">
                <option >&nbsp;</option>
                #foreach($ct in $customerTypeList)
                    <option value="$ct.CUSTOMER_TYPE_ID">&nbsp;$ct.CUSTOMER_TYPE_NAME</option>
                #end
            </select>
        </td>
        <td class="field" width="8%">
            <label>客户意向：</label>
        </td>
        <td width="17%">
            <div class="ui-div-text">
                <input type="text" class="text" id="productName"/>
            </div>
        </td>
        <td colspan="2"></td>
    </tr>
    </tbody>
</table>
<div class="search-bar">
        <span class="fl">
            我的客户(<label class="green" id="recordCount">$!scheduleCount</label>)
        </span>
    <input type="button" class="ui-input-btn" value="清空" onclick="resetCondition()"/>
    <input type="button" class="ui-input-btn" value="搜索" onclick="query()"/>
</div>

<div class="action-bar">
    #if($urlPermitUtil.hasPermission('tskPlanSchedulePlan'))
        <span class="ui-span-btn fl">
        	<label onclick="isAddSchedule()">安排日程</label>
        </span>
    #end
    <span class="ui-span-btn fr">
        	<label onclick="refresh()">刷新</label>
        </span>
</div>
<table class="datatbl" id="queryScheduleTable">
    #parse("/velocity/microTask/addScheduleTable.vm")
</table>
</body>
</html>
