
<table class="datatbl" cellpadding="0" cellspacing="0">
		    <thead>
			<tr>
			    <th><label title="购买日期">购买日期</label></th>
			    <th><label title="单价">单价</label></th>
			    <th><label title="面积">面积</label></th>
			    <th><label title="地址">地址</label></th>
			    <th><label title="操作">操作</label></th>
			</tr>
		    </thead>
			<tbody>
				<tr>
					#foreach($lnLoanBalanceHousing in $lnLoanBalanceHousingList)
					<tr>
						<td><label title="$!lnLoanBalanceHousing.buyDate">$!lnLoanBalanceHousing.buyDate</label></td>
						<td><label title="$!lnLoanBalanceHousing.price">$!lnLoanBalanceHousing.price</label></td>
						<td><label title="$!lnLoanBalanceHousing.area">$!lnLoanBalanceHousing.area</label></td>
						<td><label title="$!lnLoanBalanceHousing.address">$!lnLoanBalanceHousing.address</label></td>
						<td>
							<a href="javascript:editLoanBalanceHousing($!lnLoanBalanceHousing.loanBalanceHousingId,$!lnLoanBalanceHousing.loanBalanceId)">编辑</a>
							<a href="javascript:removeLoanBalanceHousing($!lnLoanBalanceHousing.loanBalanceHousingId,$!lnLoanBalanceHousing.loanBalanceId)">移除</a>
						</td>
					</tr>
					#end
				</tr>
		    </tbody>
		</table>
