#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加负债</title>
    <link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />
	<style tyle="text/css">
		html, body{ overflow:hidden !important; }
	</style>
    #scriptLink("core")
    #scriptLink("page")
   
    <!--保存校验  Zhangfp-->
     <script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
 	 <script type="text/javascript" src="${ctx}/js/plugins/jquery.validator-v1.0.js"></script>

   <script type="text/javascript">
     jQuery(document).ready(function () {
			jQuery('#asset').validator();
			jQuery("#btnOk").click(function () {
              
                var bool = jQuery.validator({form:'asset',extend:true,extendhandler:extendvalidator});
                if(!bool){
                    return false;
                }
                //执行后台数据库数据交互操作,执行成功则界面执行交换操作
                jQuery.ajax({
                    type: "post",
                    url: "${ctx}/loan/insertDebt.html",
                    data: $("#asset").serialize(),
                    success: function (data) {
                        var json = eval( "(" + data + ")" );
						if(json.success){
							window.close();
						//var id=$("#loanBalanceId").val();
						 //window.dialogArguments.iframeAsset("","","${ctx}/loan/debtList.html?lnLoanBalanceDebt.loanBalanceId="+id,"iframeDebt")
						 window.returnValue="success";
						}
                    }
                });
            });

        });
		 //验证必须输入项是否有输入数据
        function extendvalidator(){
            var bool = true;
            return true;
        }
     </script>	 
    
</head>

<body style="height:220px;">
  <form id="asset" method="post">
  	 <input type="hidden" value="$!loanBalanceId" id="loanBalanceId" name="lnLoanBalanceDebt.loanBalanceId">
	<input type="hidden" value="$!asset.loanBalanceDebtId" id="loanBalanceDebtId" name="lnLoanBalanceDebt.loanBalanceDebtId">
      <table class="htmltbl" style="table-layout:auto;width:100%">
          <tbody>
             <tr>
                  <td class="field" width="8%">
                      <label>类型：</label>
                  </td>
                  <td>
					<div class="ui-div-text">
                      <select class="text" style="width:100%" name="lnLoanBalanceDebt.type" >
                    	 #foreach($dic in $!dictionary)
							#if($!dic.dictionaryValue==$!asset.type)
								<option value="$!dic.dictionaryValue,$!dic.loanInfoDictionaryId" selected>$!dic.dictionaryValue</option>
								#else
									<option value="$!dic.dictionaryValue,$!dic.loanInfoDictionaryId" >$!dic.dictionaryValue</option>
								#end
                    	 #end
                      </select>
                  </td>
              </tr>
              <tr>
                  <td class="field" width="8%">
                      <label class="red">*</label>                  
                      <label>名称：</label>
                  </td>
                  <td>
                      <div class="ui-div-text" id="schtxtnum">
                          <input type="text" maxlength="40"  name="lnLoanBalanceDebt.name" value="$!asset.name" class="text" id="txtCphNumber" rule="\S" tips='"名称"必须填写'/>
                      </div>
                  </td>              
              </tr>
              <tr>
                  <td class="field" width="8%" >
                      <label>金额：</label>
                  </td>
                  <td>
                      <div class="ui-div-text" id="schtxtaddr">
                          <input type="text" class="text"  name="lnLoanBalanceDebt.value" value="$!asset.value"  maxlength="15"  rule="^[0-9]+([.][0-9]{1,2}){0,1}$" tips="必须为数字"/>
                      </div>
                  </td>              
              </tr>
              
          </tbody>
      </table> 
    </form> 
   <hr />
    <div class="center">
    	<input type="button" class="ui-footer-btn1 ui-footer-btn1-save" value="确定" id="btnOk"/>
    	<input type="button" class="ui-footer-btn1 ui-footer-btn1-cancel" value="取消" onclick="javascript:window.close()"/>
    </div>
</body>
</html>
