#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>编辑栏目</title>
    
    <link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />
    #scriptLink("core")
    <script type="text/javascript" src="${ctx}/js/system/b.base.js"></script>
	<script type="text/javascript" src="${ctx}/js/controls/jquery.validator-v1.0.js"></script>
	<script type="text/javascript" src="${ctx}/js/controls/jquery.bgiframe-v1.0.js"></script>
	<script type="text/javascript" src="${ctx}/js/system/b.url.js"></script>
    <script type="text/javascript">
		//给按钮绑定事件
		$(function(){
			$('#sure').click(function(){
				fn.sure();
			});
			
			$('#cancel').click(function(){
				fn.cancel();
			});
			maxTextArea('textarea[maxlength]');
			jQuery("#columnForm").validator();			
				
		});
		//保存按钮
		function submitColumn(){
			var bool = jQuery.validator({ form: 'columnForm', extend: false});
			if(!bool){
				return false;
			}
			jQuery.ajax({
			  type: 'POST',
			  url: '/finance/editColumn.html',
			  data:{'feColumn.columnName':$('#columnName').val().replace(/(^\s*)|(\s*$)/g,""),
			  	'feColumn.columnDescription':$('#des').val().replace(/(^\s*)|(\s*$)/g,""),
				'feColumn.columnId':$('#cid').val().replace(/(^\s*)|(\s*$)/g,"")
			  },
			  success:function(data){
			 	 if(data){
					$('#d1').addClass('v-fails');
	  				$('#columnName').attr('tips', "已存在相同的栏目名，请重新编辑"); 
				}else{
					//这个返回值就是allColumn.vm中的result
    			 	window.returnValue="1";
    			  	window.close();
				}
			  }
			});
		}
			
		var fn={};
		fn.sure = function(){
			submitColumn();
			
		}
		fn.cancel = function(){
			window.close();
		}
		
	
    </script>
</head>

<body>
	<a id="reload" href="addColumn.html?random=+Math.random()*100000" style="display:none"></a>
    <table class="htmltbl">
		<form id="columnForm" name="column">
			<input type="hidden" id="cid" value="$!feColumn.columnId"/>
            <tbody>
                <tr>
                    <td class="field" width="100">
                        <label class="red">*</label>
                        <label>栏目名称：</label>
                    </td>
                    <td>
                       <div id="d1" class="ui-div-text" style="width:150px;">
                        	<input type="text" class="text" id="columnName" name="columnName" rule="\S" tips='“栏目名称”必须填写' maxlength="10" value="$!feColumn.columnName"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="field" width="100">
                        <label>描述：</label>
                    </td>
                    <td>
                        <div class="ui-div-textarea" style="height: 100px;">
                            <textarea class="textarea" id ="des" name="columnDescription" maxlength="500">$!feColumn.columnDescription</textarea>
                        </div>
                    </td>
                </tr>
            </tbody>
		</form>
    </table>
    
    <hr />
    
    <div class="center">
        <input type="button" class="ui-footer-btn1 ui-footer-btn1-save" id="sure" value="保存"/>
		<input type="button" class="ui-footer-btn1 ui-footer-btn1-cancel" id="cancel" value="取消" />
    </div>
</body>
</html>
