#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>查看收藏夹</title>
    
    <link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />
    #scriptLink("core")
    <script type="text/javascript" src="${ctx}/js/system/b.base.js"></script>
    <script type="text/javascript">
		$(function(){
			
		});
    </script>
</head>

<body>
	<table class="viewtbl">
        <tbody>
            <tr>
                <td class="field" width="80">
                    <label>标题：</label>
                </td>
                <td>
                    <label>$!knowContent.knowledgebaseTitle</label>
                </td>
            </tr>
            <tr>
                <td class="field" width="80">
                    <label>创建位置：</label>
                </td>
                <td>
                    <label>$!knowContent.knowTypeName</label>
                </td>
            </tr>
            <tr>
                <td class="field" width="80">
                    <label>备注：</label>
                </td>
                <td>
                    <label>$!knowContent.knowledgebaseNote</label>
                </td>
            </tr>
        </tbody>
    </table>
    
    <hr />
    
    <div class="center">
        <input type="button" class="ui-footer-btn1 ui-footer-btn1-cancel" onclick="javaScript:window.close();" value="关闭" />
    </div>
</body>
</html>
