#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>所有产品</title>  
    <link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" /> 
    <style type="text/css">
    	span.ml { margin-left: -1px; }
    </style>


    #scriptLink("core")
    #scriptLink("page")
    <script type="text/javascript" src="${ctx}/js/system/b.base.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.date.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
    <script type="text/javascript" src="${ctx}/js/controls/jquery.select-v1.0.js"></script>
    <script type="text/javascript" src="${ctx}/js/controls/jquery.table-v1.0.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
    <script type="text/javascript">
    	var oldPostJson={};	//上一个搜索条件
    	
    	/**
		 * 分页跳转
		 */
		function gotoPage(page){
            if(oldPostJson){
                goto(
                    page,
                    "../pdtProduct/queryPdtProductList.html?RandNum="+ Math.random(),
                    oldPostJson,
                    function(html){
                        queryResult(html,'tblList');
                    });
            }
		}

		/**
		 * 分页跳转或者查询结果
		 */
		function queryResult(html,gridId){
            $("#"+gridId).html(html);
            $('table.datatbl').table();
			//更新记录数
            var total = $('#total').val();
            if(total!=null){
                $("#green").text(total);
            }else {
                $("#green").text(0);
            }
		}
		
		/*
		 * 初始化oldPostJson查询数据
		 */
		function initQueryJson(){
			var postJson={};
	   		oldPostJson = postJson;
	   		return postJson;
	   	}
	
		/**
	   	 * 删除产品
	   	 */
		function delPdtProduct(productId,productName){
			if(confirm("你确定要删除产品\""+productName+"\"吗？")){
				jQuery.ajax({
			    	type: "post",
			    	url: "delPdtProduct.html",
			    	data: {'productId': productId,
			    		   'productName': productName
			    	},
			    	success: function(data){
			 	  		delPdtProductResult(data);
			    	}
				});
			}
		}
		
		/**
		 * 删除产品数据结果
		 */
		function delPdtProductResult(msg){
			if(msg == 'SUCCESS'){
				jQuery("#btnRefresh").trigger("click");//执行刷新操作
			}else{
				banger.page.showMessageBox(msg);
			}
		}
		
		//查看产品数据
		function viewPdtProduct(productId,productName){
            jQuery.ajax({
                type: "post",
                url: "isDelProduct.html",
                data: {'productId': productId
                },
                success: function(data){
                    var json = jQuery.parseJSON(data);
                    if(json.error){
                        banger.page.showMessageBox(json.error);
                    }else{
                        var urls="../pdtProduct/toViewPdtProductPage.html?productId="+ productId +"&random="+Math.random()*10000;
                        var options = {id: "pro_view" + productId, pid: GetId(), title: "查看产品", url: urls, lock: false};
                        tab.add(options);
                    }
                }
            })

		}
		
		/**
		 * 编辑产品数据
		 */
		function editPdtProduct(productId,productName){
            jQuery.ajax({
                type: "post",
                url: "isDelProduct.html",
                data: {'productId': productId
                },
                success: function(data){
                    var json = jQuery.parseJSON(data);
                    if(json.error){
                        banger.page.showMessageBox(json.error);
                    }else{
                            var urls="../pdtProduct/toEditPdtProductPage.html?productId="+ productId +"&random="+Math.random()*10000;
                            var options = {id: "pro_edit" + productId, pid: GetId(), title: "编辑产品", url: urls, lock: false};
                            tab.add(options);
                    }
                }
            })
		}

        jQuery(function(){
            jQuery("#btnClear").click(function(){
				jQuery("input[name='conds']").each(function(){
					jQuery(this).val("");
				});
			});
			
			jQuery("#btnSearch").click(function(){
				var productName = jQuery.trim(jQuery("#txtProductName").val());
				var productCode = jQuery.trim(jQuery("#txtProductCode").val());
				var createStartDate = jQuery.trim(jQuery("#txtCreateStartDate").val());
				var createEndDate = jQuery.trim(jQuery("#txtCreateEndDate").val());
				
				var postJson={'pdtProduct.productName': productName,
							  'pdtProduct.productCode': productCode,
							  'createStartDate': createStartDate,
						  	  'createEndDate': createEndDate
				};
				oldPostJson = postJson;  //记录OldPostJson
				jQuery.ajax({
			    	type: "post",
			    	url: "queryPdtProductList.html",
			    	data: postJson,
			    	success: function(data){
			 	  		queryResult(data,'tblList');
			    	}
				});
			});
			
			jQuery("#btnAdd").click(function(){
				var urls="../pdtProduct/toAddPdtProductPage.html?&random="+Math.random()*10000;
				var options = {id: "pro_add", pid: GetId(), title: "新建产品", url: urls, lock: false};
				tab.add(options);
			});
			
			jQuery("#btnRefresh").click(function(){
				goto(null,"../pdtProduct/queryPdtProductList.html?RandNum="+ Math.random(),oldPostJson,function(html){queryResult(html,'tblList');});
			});
			
			initQueryJson();

			jQuery('#tblList').table();
        });
    </script>  
</head>
<body>
	<table class="htmltbl" >
    	<tbody>
    		<tr>
    			<td class="field" width="8%">
                	<label>产品代码：</label>
                </td>
                <td width="17%">
                	<div class="ui-div-text">
                		<input type="text" class="text" name="conds" id="txtProductCode" maxlength="10"/>
                	</div>
                </td>
            	<td class="field" width="8%">
                	<label>产品名称：</label>
                </td>
                <td width="17%">
                	<div class="ui-div-text">
                		<input type="text" class="text" name="conds" id="txtProductName" maxlength="50"/>
                	</div>
                </td>
                <td class="field" width="8%">
                    <label>创建时间：</label>
                </td>
                <td colspan="2">
                	 <table class="celltbl">
                           <tbody>
                               <tr>
                                   <td width="120">
                                       <div class="ui-div-text">
					                    	<input type="text" class="text datepicker" name="conds" id="txtCreateStartDate" render="date" readonly="true"/>
											<i class="date"></i>
					                    </div>
                                   </td>
                                   <td width="20"><label>-</label></td>
                                   <td width="120">
                                       <div class="ui-div-text">
					                    	<input type="text" class="text datepicker" name="conds" id="txtCreateEndDate" render="date" readonly="true"/>
											<i class="date"></i>
					                    </div>
                                   </td>
                               </tr>
                           </tbody>
                     </table>
                </td>
				<td width="17%"></td>
            </tr>
        </tbody>
    </table>
    <div class="search-bar">
        <span class="fl bold">
            所有产品(<label class="green" id="green">$!count</label>)
        </span>
        <input type="button" class="ui-input-btn" value="清空" id="btnClear"/>
        <input type="button" class="ui-input-btn" value="搜索" id="btnSearch"/>
    </div>
    
	<div class="action-bar">
        <span class="ui-span-btn fl" id="btnAdd">
        	<label>新建产品</label>
        </span>
        <span class="ui-span-btn fr" id="btnRefresh">
        	<label>刷新</label>
        </span>
    </div>
    <table id="tblList" class="datatbl">
        #parse("/velocity/microProduct/pdtProductList.vm")
    </table>
</body>
</html>
