#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>移动贷款平台 v2.0.0 — 重置密码</title>
    <link type="text/css" href="${ctx}/css/login.css" rel="stylesheet" />
	<style type="text/css">
		p.failed { top:6px; line-height:20px; font-size:12px !important; }
	</style>
</head>
#scriptLink("core")
#scriptLink("page")
<script language="javascript" type="text/javascript">
//密码确认        
function confirmPwd()
{
	var pwd =document.getElementById("password").value;
	var cpwd = document.getElementById("confirmpassword").value;
	pwd=pwd.replace(/\s+/g,""); 
	cpwd=cpwd.replace(/\s+/g,""); 
	if(pwd!=cpwd){
		return confirmpasswordCheck();
	}
	if(pwd.length<6||pwd.length>16){
		return passwordCheck();
	}
 	if(pwd=="")
 		return passwordCheck(); 	
		
	jQuery.ajax({
    type:"post", //请求方式
    url:"pwdConfirm.html", //发送请求地址
    data:{ //发送给数据库的数据
	passwordStr:$("#passwordStr").val(),
    password:$("#password").val()
    }, success:function(data,textStatus){
		if(data!=""){
			banger.page.showMessageBox(data);
		}else
 	  		location.href="setPwdSuccess.html";
    	}
	});
}

function passwordCheck(){
	var pwd =document.getElementById("password").value;
	var passworddiv = document.getElementById("newtips");
	var cpwd = document.getElementById("confirmpassword").value;
	var confirmpassworddiv = document.getElementById("confirmtips");
	pwd=pwd.replace(/\s+/g,""); 
	cpwd=cpwd.replace(/\s+/g,""); 
	if(pwd.length<6||pwd.length>16){
 		passworddiv.style.display = "block";
		return passworddiv.innerHTML = "1、密码不能为空或空格<br />2、密码长度为6-16个字符";
 	}else{
		if(cpwd=="")
		return passworddiv.style.display = "none";
 		if(pwd==cpwd){
 				confirmpassworddiv.style.display = "none";
 		}
 		if(pwd.length>6||pwd.length<16){
		    passworddiv.style.display = "none";;
		}
		if(pwd!=cpwd){
			confirmpassworddiv.style.display = "block";
			return confirmpassworddiv.innerHTML = "1、两次输入的密码不一致~！<br />";
		}
	}
	passworddiv.style.display = "none";
}
function confirmpasswordCheck(){
	var cpwd = document.getElementById("confirmpassword").value;
	var confirmpassworddiv = document.getElementById("confirmtips");
	var pwd =document.getElementById("password").value;
	pwd=pwd.replace(/\s+/g,""); 
	cpwd=cpwd.replace(/\s+/g,""); 
	if(pwd!=cpwd){
		confirmpassworddiv.style.display = "block";
		return confirmpassworddiv.innerHTML = "1、两次输入的密码不一致~！<br />";
	}
	confirmpassworddiv.style.display = "none";
}
</script>

<body>
	<input type="hidden" name="score" id="score" />
	<input type="hidden" name="passwordStr" id="passwordStr" >
	<div class="container">
    	<h1 class="logo" title="移动贷款平台 v2.0.0">
        	<div>&nbsp;</div><label>v2.0.0</label>
        </h1>
        <div class="m2 m-position m-reset-skin">&nbsp;</div>
        <div class="m2 m-position m-reset">
        	<h4 class="m-reset-tips">
            	<label>$!Account，您的密码为初始密码或已被重置，请设置新密码后再使用系统！</label>
            </h4>
            <div class="m-reset-html">
                <div class="field-item">
                    <em class="field">新&nbsp;密&nbsp;码</em>
                    <input type="password" name="password" id="password" class="text" maxlength="16" onpaste="javascript:return false;"  oncopy="javascript:return false;" onblur="passwordCheck()" onkeyup="lib.checklevel(this.value)" />
                    <p id="newtips" class="failed">6～16个字符，区分大小写</p>
                </div>
                <div class="security">
                    <ul id="ul">
                    	<li id="weak">弱</li>
                    	<li id="medium">中</li>
                    	<li id="forced">强</li>
                    </ul>
                </div>
                <div class="field-item">
                    <em class="field">确认密码</em>
                    <input type="password" name="confirmpassword" id="confirmpassword" class="text" maxlength="16" onpaste="javascript:return false;"  oncopy="javascript:return false;" />
                    <p id="confirmtips" class="failed"></p>
                </div>
                <div class="field-item" style="height:auto;">
                	<input type="button" id="ok" class="button" value="提 交" />
                </div>
            </div>
        </div>
        <div class="copyright">
        	<label>杭州百航信息技术有限公司 &copy; 2010-2013</label>
        </div>
    </div>
</body>
<script type="text/javascript" src="${ctx}/js/system/b.dialog.js"></script>
<script type="text/javascript" src="${ctx}/js/system/b.abnormal.js"></script>
<script type="text/javascript">
	var lib = {
		checklen: function(v){
            var n = false, s = false, t = false, score = 0;

            if(v.length < 6){
                score = 1;
            }else{
                for(i = 0; i<v.length; i++){
                    asc = this.checkchar(v.charCodeAt(i));

                    if(asc == 1 && n == false){
						score += 1; n = true;
					}

                    if((asc == 2 || asc == 3) && s == false){
						score += 1; s = true;
					}

                    if (asc == 4 && t == false){
						score += 1; t = true;
					}
                }
            }
            return score;
        },
		checkchar: function(str){
			//数字
			if(str >= 48 && str <= 57){
                return 1;
            }
			//大写字母
            else if(str >= 65 && str <= 90)
            {
                return 2;
            }
			//小写字母
            else if(str >= 97 && str <= 122){
                return 3;
            }
			//特殊字符
            else{
                return 4;
            }
		},
		checklevel: function(v){
			var ul = { 'border-color': '#7d7d7d' },
				li = { 'background-color': '#ededed', 'color': '#7d7d7d' },
				l1 = { 'background-color': '#f00', 'color': '#fff' },
				l2 = { 'background-color': '#f90', 'color': '#fff' },
				l3 = { 'background-color': '#3c0', 'color': '#fff' };
			
            if(!v){
                w = li;
                m = li;
                f = li;
            }else{
				$("#passwordStr").attr("value",this.checklen(v));
                switch(this.checklen(v)){
                    case 1:
                        w = l1;
                        m = f = li;
						ul = { 'border-color': '#f00' };
                        break;
                    case 2:
                        w = m = l2;
                        f = li;
						ul = { 'border-color': '#f90' };
                        break;
                    case 3:
                        w = m = f = l3;
						ul = { 'border-color': '#3c0' };
                        break;
                    default:
                        w = m = f = li;
						ul = { 'border-color': '#7d7d7d' };
						break;
                }
            }
			
			jQuery('#ul').css(ul);
			jQuery('#weak').css(w);
			jQuery('#medium').css(m);
			jQuery('#forced').css(f);
		}
	};
	
	jQuery(function(){
		jQuery('#confirmpassword').blur(function(){
			confirmpasswordCheck();
		});
		
		jQuery('#ok').click(function(){
			confirmPwd();
		});
	});
</script>
</html>
