<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-lazy-init="true" default-autowire="byName">

	<!-- 任务非集群情况基本配置 
	<bean id="autoTask" class="com.banger.mobile.facade.impl.quartz.AbstractTask">
		<property name="taskInsDao">
			<ref bean="taskInsDao" />
		</property>
		<property name="taskCurrentDao">
			<ref bean="taskCurrentDao" />
		</property>
		<property name="isCluster" value="N" />
	
		<property name="taskRunAllowedIPs" value="${task.base.ip.address}" />
	</bean>
	 -->
	<!-- 任务数据对象 
	<bean id="jobData" class="com.banger.mobile.domain.model.quartz.JobData" />
	
	<bean id="quartzUtil" class="com.banger.mobile.util.QuartzUtil" />
-->

</beans>
