@charset "utf-8";
/* CSS Document */

body { -background-image:url(about:blank); -background-attachment:fixed; }

div.aui-outer { position:fixed; -position:absolute; top:0; left:0; -top:expression(eval(document.documentElement.scrollTop)); -left:expression(eval(document.documentElement.scrollLeft)); z-index:2012; border:1px solid #1d1d1d; font-size:12px; font-family:Verdana, Geneva, sans-serif; }
div.aui-outer table.aui-border { width:auto; border-collapse:collapse; border-spacing:0; }
div.aui-outer table.aui-border tbody {  }
div.aui-outer table.aui-border tbody tr td {
	margin:0; padding:0;
}
div.aui-outer table.aui-border td.aui-nw div, div.aui-outer table.aui-border td.aui-ne div, div.aui-outer table.aui-border td.aui-w div, div.aui-outer table.aui-border td.aui-e div, div.aui-outer table.aui-border td.aui-sw div,  div.aui-outer table.aui-border td.aui-se div {
	width:8px;
}
div.aui-outer table.aui-border td.aui-nw, div.aui-outer table.aui-border td.aui-n, div.aui-outer table.aui-border td.aui-ne, div.aui-outer table.aui-border td.aui-sw, div.aui-outer table.aui-border td.aui-s, div.aui-outer table.aui-border td.aui-se {
	height:8px;
}
div.aui-outer table.aui-border td.aui-nw, div.aui-outer table.aui-border td.aui-n, div.aui-outer table.aui-border td.aui-ne, div.aui-outer table.aui-border td.aui-w, div.aui-outer table.aui-border td.aui-e, div.aui-outer table.aui-border td.aui-sw, div.aui-outer table.aui-border td.aui-s, div.aui-outer table.aui-border td.aui-se {
	background-color:#1d1d1d; filter:alpha(opacity=50); opacity:0.5; font-size:0;
}
div.aui-outer table.aui-border td.aui-c {
	
}
div.aui-outer table.aui-border td.aui-c div.aui-inner {
	border:1px solid #1d1d1d; background-color:#fff;
}
div.aui-outer table.aui-border td.aui-c div.aui-inner div.aui-header {
	position:relative; height:28px; border-bottom:1px solid #b6bec5; background:url(../../images/public/aui-header.png) repeat-x 0 0; overflow:hidden; line-height:30px;
}
div.aui-outer table.aui-border td.aui-c div.aui-inner div.aui-header label.aui-title {
	display:block; padding:0px 7px; overflow:hidden; word-break:break-all; white-space:nowrap; text-overflow:ellipsis; color:#4c5a5f; font-weight:bold;
}
div.aui-outer table.aui-border td.aui-c div.aui-inner div.aui-header a.aui-close {
	position:absolute; top:5px; right:5px; width:18px; height:19px; background:url(../../images/public/aui-close.png) no-repeat 0 0; overflow:hidden;
}
div.aui-outer table.aui-border td.aui-c div.aui-inner div.aui-header a.aui-close:hover {
	background-position:0px -19px;
}
div.aui-outer table.aui-border td.aui-c div.aui-inner div.aui-main {
	overflow:hidden;
}
div.aui-outer table.aui-border td.aui-c div.aui-inner div.aui-main iframe {
	
}
div.aui-outer table.aui-border td.aui-c div.aui-inner div.aui-footer {
	border-top:1px solid #dadee5; background-color:#f5f5f5; padding:7px; text-align:center;
}
div.aui-outer table.aui-border td.aui-c div.aui-inner div.aui-footer button.aui-button-cancel {
	cursor:pointer; height:24px; border:1px solid #8d8d8d; background:url(../../images/public/aui-button-cancel.png) repeat-x 0 0; -padding:0px 2px; overflow:hidden; line-height:24px; -line-height:22px; color:#3d3d3d;
}