#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新建营销任务</title>
    
    <link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />
	<link type="text/css" rel="stylesheet" href="${ctx}/css/tree/zTreeStyle.css" />
	<link type="text/css" rel="stylesheet" href="${ctx}/uploadify/uploadify.css"/>
    <style type="text/css">
		div.mt { margin-top: 0 !important; }
		span.ml { margin-left: -1px; }
		.concreteProType{position:absolute; display: none; border: 1px solid #b1b1b1; background-color: #fff; width:480px; height: auto; overflow: auto; zoom: 1; text-align:center;padding:10px;}
		.gray_self { color:#999999; }
		#lblProductTarget{ margin-left:5px;width:560px;display:inline-block; vertical-align:middle;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
	</style>
    #scriptLink("core")
	#scriptLink("page")
	<script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.base.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.date.js"></script>
	<script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.core-3.2.js"></script>
    <script type="text/javascript" src="${ctx}/js/controls/jquery.etabs-v1.0.js"></script>
    <script type="text/javascript" src="${ctx}/js/controls/jquery.select-v1.0.js"></script>
	<script type="text/javascript" src="${ctx}/js/controls/jquery.table-v1.0.js"></script>
	<script type="text/javascript" src="${ctx}/js/controls/jquery.tabletree-v1.0.js"></script>
	<script type="text/javascript" src="${ctx}/uploadify/swfobject.js"></script>
	<script type="text/javascript" src="${ctx}/uploadify/jquery.uploadify.v2.1.4.min.js"></script>
	<script type="text/javascript" src="${ctx}/js/banger/banger.upload.js"></script>
	<script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
	<script type="text/javascript" src="${ctx}/js/controls/jquery.validator-v1.0.js"></script>
	
	<script type="text/javascript">
		var fn = {};
		/**
		 * 关闭页卡确认框
		 */
		function cfirm(){
			if(sccCount!=count){
    			if(confirm('正在上传营销任务相关的文件，您确认要关闭编辑营销任务页卡吗？')) return true;
    		}else{
    			if(confirm('放弃新建任务并关闭选项卡？')) return true;
    		}
		}
		
		function cancelAddTask(){
    		if(cfirm()){
    			tab.close(GetId(), false);
    		}
    	}
		/**
		 * 上传附件
		 */
		function uploadAttachment(){
			var fileUpload = jQuery('input[name=fileInput]');
			var isUpload = false;
			if(fileUpload){
				jQuery('input[name=fileInput]').each(function(){
					var fileQueue = $('#fileQueue')[0].innerText;
					if(fileQueue!=""){
						jQuery(this).uploadifyUpload();
						isUpload = true;
					}
				});
			}
			//如果没有附件需要上传
			if(!isUpload){
				saveNext();
			}	
		}
		
		/**
		 * ajax验证任务数据
		 */
		function verifyData(){
			var marketingTitle = jQuery.trim(jQuery("#txtMarketingTitle").val());
			var startDate = jQuery("#txtStartDate").val();
			var endDate = jQuery("#txtEndDate").val();
			var productTargetType = jQuery("#txtProductTargetType").val();
			var productTargetName = jQuery('#lblProductTarget').text();
			var productTargetVal = jQuery('#txtProductTargetVal').val();
			//执行后台数据库数据交互操作,执行成功则界面执行交换操作
			jQuery.ajax({
		    	type: "post",
		    	url: "verifyTskMarketing.html",
		    	data: {'tskMarketing.marketingId': -1,
				       'tskMarketing.marketingTitle': marketingTitle,
				       'startDate': startDate,
				       'endDate': endDate,
				       'productTargetType': productTargetType,
				       'productTargetName': productTargetName,
				       'productTargetVal': productTargetVal
		    	},
		    	success: function(data){
		 	  		verifyResult(data);
		    	}
			});
		}
		function verifyResult(msg){
			if(msg == 'SUCCESS'){
				//btnSave保存按钮禁用
				//jQuery("btnSave").attr("disabled","disabled");
				//验证数据是否正确，通过才上传附件
				uploadAttachment();
			}else{
				var marketingTitle = jQuery.trim(jQuery("#txtMarketingTitle").val());
    			var productTargetName = jQuery('#lblProductTarget').text();
				if(msg == 1){
					$("#txtMarketingTitle").attr('tips', '“'+marketingTitle+'”已存在,请重新输入!'); 
					$('#titDiv').addClass('v-fails');
				}else{
					$("#btnSelect").attr('tips', '“'+productTargetName+'”已被安排任务，请重新选择'); 
					$('#btnSelect').addClass('v-fails');
				}				
			}
		}
	
		/**
		 * 保存营销任务数据
		 */
		function saveNext(){
			var marketingTitle = jQuery.trim(jQuery("#txtMarketingTitle").val());
			var startDate = jQuery("#txtStartDate").val();
			var endDate = jQuery("#txtEndDate").val();
			var remark = jQuery.trim(jQuery("#txtRemark").val());
			var selTskGrade = jQuery("#selTskGrade").val();
			var templateId = jQuery("#txtTemplateId").val();
			var subTemplateName = jQuery.trim(jQuery("#txtSubTemplateName").val());
			var productId = jQuery.trim(jQuery("#txtProductId").val());

			var arr = [];
			jQuery("input[name='fileAttachment']").each(function(i){
				arr[i] = jQuery(this).val();
			});
			fileAttachments = arr.join(":");
			//执行后台数据库数据交互操作,执行成功则界面执行交换操作
			jQuery.ajax({
		    	type: "post",
		    	url: "saveTskMarketing.html",
		    	data: {'tskMarketing.marketingId': -1,
		    		   'tskMarketing.gradeId': selTskGrade,
				       'tskMarketing.marketingTitle': marketingTitle,
				       'tskMarketing.remark': remark,
				       'tskMarketing.templateId': templateId,
				       'tskMarketing.subTemplateName': subTemplateName,
				       'tskMarketing.productId': productId,
				       'tskMarketing.startDate': startDate,
				       'tskMarketing.endDate': endDate,
				       'startDate': startDate,
				       'endDate': endDate,
				       'fileAttachments':fileAttachments
		    	},
		    	success: function(data){
		 	  		saveNextResult(data);
		    	}
			});
		}
		
		function saveNextResult(data){
			var json = jQuery.parseJSON(data); 	
			if(json.result == 'SUCCESS'){
				window.location.href = "toAddTskMarketingNextPage.html?tskMarketing.marketingId="+json.marketingId+"&days="+json.days;
			}else{
				alert(msg);
			}
		}
		
    	$(function(){
			//加载下拉选择框
			$('select').select();
	    	//加载验证控件
			jQuery("#form1").validator();
			
			//备注字数限制
			maxInput('#txtRemark',200);
			maxTextArea("textarea[300]");
			
    		$('#btnNext').click(function(){
    			var bool = jQuery.validator({ form: 'form1'});
    			
    			if($('#lblProductTarget').text() == ''){
    				$('#btnSelect').addClass('v-fails');
    				return false;
    			}
				if(bool){
    				verifyData();//后台验证数据
    			}
    		});
    		
			$('div.etabs').etabs({
				'head': 'etabs-items',
				'body': 'etabs-body',
				'bar': 'etabs-bar',
				'beforeOnclick': fun1,
				'onclick': fun2
			});
			$('table.datatbl').table();
			$('table.tabletree').tabletree();
			
			/*产品类型树*/
			var setting = {
				check: {
					enable: false
				},data: {
					simpleData: {enable: true}
				},view: {showIcon: false}
			};
			var zNodes = $!templatesTrees;//加载模版树
			
			jQuery.fn.zTree.init($("#treeDivTree"), setting, zNodes);
			
			/*
			点击选择按钮
			*/
			$('.choProQuota').click(function(e){
				var prov=$('#lblProductTarget').text();
				if($('.choConcreteProType').hasClass('check')){
					$(':text:first',$('.choConcreteProType')).val(prov);
					$('#ptradio').attr('checked','checked');
				}else if($('.choConcretePro').hasClass('check')){
					$(':text:first',$('.choConcretePro')).val(prov);
					$('#pcradio').attr('checked','checked');
				}
				var box = $('.proQuota');
				if(box.is(':hidden')){
					var obj = $(this);
					box.css({
						top: obj.offset().top + obj.outerHeight(true) - 1 + 'px',
						left: obj.offset().left + 'px'
					}).show();
					obj = null;
				}
				else{
					box.hide();
					hideinit();
				}
				box = null;
				e.stopPropagation();
			});
			$('.choConcreteProType').click(function(e){
				$('.concretePro').css('display','none');
				$(':text:first',$('.choConcretePro')).val('');
				$('.choConcretePro').removeClass('v-fails');
				var tr=$(this).parents('tr:first');
				$(tr).find(':radio').attr('checked','checked');
				
				var box = $('.concreteProType');
				if(!$('.proQuota').is(':hidden')){
					if(box.is(':hidden')){
						var obj = $(this);
						box.css({
							top: obj.offset().top + obj.outerHeight(true) - 1 + 'px',
							left: obj.offset().left + 'px'
						}).show();
						obj = null;
					}
					else{
						box.hide();
					}
					box = null;
					e.stopPropagation();
					return false;
				}
			});
			$('.ok').click(function(e){
				okCheckedVal('treeDivTree');
				if($(':text:first',$('.choConcreteProType')).val()==''){
    				$('.choConcreteProType').addClass('v-fails');
    			}else{
    				$('.choConcreteProType').removeClass('v-fails');
    				$('#btnSelect').removeClass('v-fails');
    			}
    			$('.concreteProType').hide();
				e.stopPropagation();
				return false;
			});
			$('.close').click(function(e){
				if($(':text:first',$('.choConcreteProType')).val()==''){
    				$('.choConcreteProType').addClass('v-fails');
    			}else{
    				$('.choConcreteProType').removeClass('v-fails');
    			}
				$('.concreteProType').hide();
				e.stopPropagation();
					return false;
			});
			
			function okCheckedVal(treeId){
				var zTree = jQuery.fn.zTree.getZTreeObj(treeId);
				if(zTree != null){
					var nodes = zTree.getSelectedNodes(), l = nodes.length, txt = '', val = '';
					for(var i=0; i<l; i++){
						if(nodes[i].type != 'D'){
							txt += nodes[i].name + ',';
							val += nodes[i].id + ',';
						}
					}
					if(txt.length > 0){
						txt = txt.substring(0, txt.length-1);
						val = val.substring(0, val.length-1);
					}
					$(':text:first',$('.choConcreteProType')).val(txt);
					$(':hidden:first',$('.choConcreteProType')).val(val);
					
					if(nodes.length > 0){
						var pSNode = nodes[0].getParentNode();
						if(pSNode == null){
						 	//大类
						 	$('#txtProductTargetType').val("templateId");  
						 	$('#txtTemplateId').val(nodes[0].id);
						 	$('#txtSubTemplateName').val("");
						 	$('#txtProductId').val(0);
						 	$('#txtProductTargetVal').val(nodes[0].id); 
						}else{
							//小类
						 	$('#txtProductTargetType').val("subTemplateName");
						 	$('#txtTemplateId').val(pSNode.id);
						 	$('#txtSubTemplateName').val(nodes[0].name); //txtProductId
						 	$('#txtProductId').val(0);
						 	$('#txtProductTargetVal').val(nodes[0].name); 
						}
						
						$('#lblProductTarget').text(nodes[0].name);
						$('#lblProductTarget').attr('title',nodes[0].name);
						$('.choConcreteProType').addClass('check');
						$('.choConcretePro').removeClass('check');
						hideinit();
					}
				}
			}
			
			/*选择产品*/
			$('.choConcretePro').click(function(e){
				$('.concreteProType').css('display','none');
				$(':text:first',$('.choConcreteProType')).val('');
				$('.choConcreteProType').removeClass('v-fails');
				var tr=$(this).parents('tr:first');
				$(tr).find(':radio').attr('checked','checked');
				var box = $('.concretePro');
				if(!$('.proQuota').is(':hidden')){
					if(box.is(':hidden')){
						var obj = $(this);
						box.css({
							top: obj.offset().top + obj.outerHeight(true) - 1 + 'px',
							left: obj.offset().left + 'px'
						}).show();
						obj = null;
					}
					else{
						box.hide();
					}
					box = null;
					e.stopPropagation();
					return false;
				}
			});
			$('.searchPro').click(function(e){
				var pNumber=$(':text:first',$('.pNumber')).val();
				var pName=$(':text:first',$('.pName')).val();
				jQuery.ajax({
				    	type: "post",
				    	url: "queryPdtProductList.html",
				    	data: {'productName': pName,
				    		   'productCode': pNumber
				    	},
				    	success: function(data, textStatus){
				 	  		searchProResult(data);
				    	}
				});
				e.stopPropagation();
				return false;
				
			});
			
			fn.handler=function(obj){
				$('tbody tr', obj).click(function(e){
					//$(this).addClass('aclick');
					if(!$(this).hasClass('active')){
						$(this).addClass('aclick').siblings().removeClass('aclick');
					}
					
				});
				$('tbody tr',obj).hover(
					function(){
						if(!$(this).hasClass('active')){ $(this).addClass('hover'); }
					},
					function(){
						$(this).removeClass('hover');
					}
				);
				return false;
			}
			fn.handler($('.protable'));
				
			$('.ok2').click(function(e){
				var tr = $('.protable  tbody tr.aclick',$('.concretePro'));
				if(tr.size() == 0){
					//return false;
				}
				//产品
			 	$('#txtProductTargetType').val("productId");
			 	$('#txtTemplateId').val(0);
				$('#txtSubTemplateName').val("");
			 	$('#txtProductId').val(tr.attr("mid")); 
			 	$('#txtProductTargetVal').val(tr.attr("mid")); 
				$('#lblProductTarget').text($('td:eq(2)',tr).text());
				$('#lblProductTarget').attr('title',$('td:eq(2)',tr).text());
				$('.choConcretePro input[type="text"]').val($('td:eq(2)',tr).text());
				$('.choConcretePro').addClass('check');
				$('.choConcreteProType').removeClass('check');
				if($(':text:first',$('.choConcretePro')).val()==''){
    				$('.choConcretePro').addClass('v-fails');
    			}else{
    				$('.choConcretePro').removeClass('v-fails');
    				hideinit();
    			}
				$('#btnSelect').removeClass('v-fails');
				$('.concretePro').hide();
				e.stopPropagation();
				return false;
			});
			$('.close2').click(function(e){
				if($(':text:first',$('.choConcretePro')).val()==''){
    				$('.choConcretePro').addClass('v-fails');
    			}else{
    				$('.choConcretePro').removeClass('v-fails');
    			}
				$('.concretePro').hide();
				e.stopPropagation();
				return false;
			});
			
			$('#ptradio').click(function(e){
				$(':text:first',$('.choConcretePro')).val('');
				$('.choConcreteProType').addClass('v-fails');
				$('.choConcretePro').removeClass('v-fails');
				e.stopPropagation();
			});
			$('#pcradio').click(function(e){
				$(':text:first',$('.choConcreteProType')).val('');
				$('.choConcretePro').addClass('v-fails');
				$('.choConcreteProType').removeClass('v-fails');
				e.stopPropagation();
			});
			
			$('.ok3').click(function(e){
				if($('#ptradio').is(':checked')){
					if($(':text:first',$('.choConcreteProType')).val()==''){
						$('.choConcreteProType').addClass('v-fails');
	    				$('.choConcretePro').removeClass('v-fails');
	    				return false;
					}
					$('#lblProductTarget').text($(':text:first',$('.choConcreteProType')).val());
					$('#lblProductTarget').attr('title',$(':text:first',$('.choConcreteProType')).val());
					$('.choConcreteProType').addClass('check');
					$('.choConcretePro').removeClass('check');
					$('#btnSelect').removeClass('v-fails');
					hideinit();
				}else if($('#pcradio').is(':checked')){
					if($(':text:first',$('.choConcretePro')).val()==''){
						$('.choConcretePro').addClass('v-fails');
	    				$('.choConcreteProType').removeClass('v-fails');
	    				return false;
					}
					$('#lblProductTarget').text($(':text:first',$('.choConcretePro')).val());
					$('#lblProductTarget').attr('title',$(':text:first',$('.choConcretePro')).val());
					$('.choConcretePro').addClass('check');
					$('.choConcreteProType').removeClass('check');
					$('#btnSelect').removeClass('v-fails');
					hideinit();
				}
				//$('.proQuota').hide();
				e.stopPropagation();
				return false;
			});
			$('.close3').click(function(e){
				$('.choConcreteProType, .choConcretePro').removeClass('v-fails');
				if($('#lblProductTarget').text() == ''){
    				$('#btnSelect').addClass('v-fails');
    			}else{
    				$('#btnSelect').removeClass('v-fails');
    			}
				$('.proQuota').hide();
				e.stopPropagation();
				return false;
			});
			
			/**
			 * 窗体大小发生改变时弹框相对位置
			**/
			$(window).resize(function(){
				if(!$('.proQuota').is(':hidden')){
					var obj = $('.choProQuota');
					$('.proQuota').css({
						left: obj.offset().left + 'px'
					})
					obj = null;
				}
				if(!$('.concreteProType').is(':hidden')){
					var obj = $('.choConcreteProType');
					$('.concreteProType').css({
						left: obj.offset().left + 'px'
					})
					obj = null;
				}
				if(!$('.concretePro').is(':hidden')){
					var obj = $('.choConcretePro');
					$('.concretePro').css({
						left: obj.offset().left + 'px'
					})
					obj = null;
				}
			});
			/**
			 * 点击窗体其他区域隐藏请求者层
			**/
			$(document).click(function(){
				$('.proQuota, .concreteProType, .concretePro').hide();
			});
			/**
			 * 阻止请求者层中的元素事件冒泡
			**/
			$('.proQuota, .concreteProType, .concretePro').click(function(e){
				e.stopPropagation();
			});
			
			//渲染附件上传功能
			setFileUpload('/tskMarketing/uploadTskMarketingAttachment.html');
		});
		function hideinit(){
			$('.proQuota').hide();
			$('.concretePro').hide();
			$('.concreteProType').hide();
		}
		function fun1(h, b){
			return true;
		}
		function fun2(h, b){
		}
		
		/**
		 * 搜索产品结果
		 */
		function searchProResult(data){
			var json = jQuery.parseJSON(data); 
			$('#tblSearchPro').find('tbody').html(" ");
			jQuery.each(json , function(index, obj){ 
				$('#tblSearchPro').find('tbody').append("<tr mid="+ obj.productId +"><td>"+ obj.templateName +"</td><td>"+ obj.productCode +"</td><td>"+ obj.productName +"</td></tr>");
			});
			
			$('#tblSearchPro').table();
			
			fn.handler($('.protable'));
		}
		
		function dateFunction(obj){
			var systemDate=$("#systemTime").val();
			var startDate=$("#txtStartDate").val();
			var endDate=$("#txtEndDate").val();
			if(endDate.length>0){
				if(endDate<systemDate){
					$(obj).attr('tips', '结束日期不能够小于今天!'); return false;
				}else if(startDate>endDate){
					$(obj).attr('tips', '结束日期不能小于开始日期!'); return false;
				}else{
					$('#startDiv').removeClass('v-fails');
					$('#endDiv').removeClass('v-fails');
					return true;
				}
			}else return true;
		}
		function startDateFun(obj){
			var startDate=$("#txtStartDate").val();
			var endDate=$("#txtEndDate").val();
			if(endDate.length>0&&startDate.length>0){
				if(endDate<startDate){
    				$(obj).attr('tips', '开始日期必须小于结束日期!'); return false;
    			}else{
					$('#startDiv').removeClass('v-fails');
					$('#endDiv').removeClass('v-fails');
					return true;
				}
			}else return true;
		}
    </script>
</head>

<body>
<form id="form1" name="form1" action="">
	<input type="hidden" value="" id="txtProductTargetType"/>
	<input type="hidden" value="0" id="txtTemplateId"/> 
	<input type="hidden" value="" id="txtSubTemplateName"/>
	<input type="hidden" value="0" id="txtProductId"/>
	<input type="hidden" value="0" id="txtProductTargetVal"/>
	 
    <div class="etabs">
    	<div class="etabs-head">
    		<div class="etabs-head-items">
    			<ul id="etabs-items">
		        	<li><label>任务基本信息</label></li>
		        </ul>
    		</div>
    		<!--<div class="etabs-head-bar">
    			<ul id="etabs-bar">
		        	<li class="l">l</li>
		        	<li class="r">r</li>
		        </ul>
    		</div>-->
    	</div>
        <div id="etabs-body" class="etabs-body">
        	<div class="etabs-body-child">
            	<table class="htmltbl" style="table-layout: auto;">
                    <tbody>
						<tr>
                            <td class="field" width="80">
                            	<label class="red">*</label>
                                <label>任务等级：</label>
                            </td>
                            <td colspan="3">
                                <select id="selTskGrade" style="width: 140px;" rule="\S" tips='"任务等级"必须填写'>
			                    	<option value=""></option>
			                    	#foreach($tskGrade in $!tskGradeList)
			                    		<option value="$!tskGrade.marketingGradeId">$!tskGrade.marketingGradeName</option>
			                    	#end
			                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="field" width="80">
                            	<label class="red">*</label>
                                <label>任务标题：</label>
                            </td>
                            <td colspan="3">
                                <div class="ui-div-text" id="titDiv"  style="width:635px; overflow:hidden;">
                                    <input type="text" class="text" id="txtMarketingTitle" rule="\S" tips='"任务标题"必须填写' maxlength="100" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                           <td class="field" width="80">
						   		<label class="red">*</label>
								<label>执行日期：</label>
							</td>
							<td colspan="3">
								<table class="celltbl">
									<tbody>
										<tr>
											<td width="150">
												<div class="ui-div-text" id="startDiv" style="width: 140px;" >
													<input type="text" fun="startDateFun" class="text datepicker" id="txtStartDate" readonly="readonly" rule="\S" tips='"执行日期"必须填写'/>
													<i class="date"></i>
												</div>
											</td>
											<td width="20"><label>-</label></td>
											<td width="150">
												<div class="ui-div-text" id="endDiv" style="width: 140px;" >
													<input type="text" class="text datepicker" id="txtEndDate" fun="dateFunction" readonly="readonly" rule="\S" tips='"执行日期"必须填写' />
													<i class="date"></i>
												</div>
												<input id="systemTime" type="hidden" value="$!dateString.getSystemTimes()"/>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
                        </tr>
                        <tr>
                            <td class="field" width="80">
                                <label>任务概述：</label>
                            </td>
                            <td colspan="3">
                                <div class="ui-div-textarea" style="height: 100px;width:635px;"">
                                    <textarea class="textarea" style="height: 100px;" id="txtRemark"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="field" width="80">
                            	<label class="red">*</label>
                                <label>产品指标：</label>
                            </td>
                            <td colspan="3">
                 				<span class="ui-span-btn choProQuota" id="btnSelect" tips='"产品指标"必须填写'>
			                    	<label>请选择</label>
			                    </span>
			                    <label id="lblProductTarget"></label>
							<!--弹框-->
								<div class="proQuota" style="display:none;">
									<table>
										<tbody>
											<tr>
												<td width="8%">
													<input type="radio" name="radio" class="radio" checked="checked" id="ptradio" />
												</td>
												<td width="17%">
													<label>选择产品类型:</label>
												</td>
												<td>
													<div class="ui-div-text choConcreteProType">
														<input type="text" class="text" readonly="true" tips='请选择"产品类型"'/>
														<input id="deptIds" type="hidden" />
														<i class="ddl"></i>
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<input type="radio" name="radio" class="radio" id="pcradio"/>
												</td>
												<td>
													<label>选择具体产品:</label>
												</td>
												<td>
													<div class="ui-div-text choConcretePro">
														<input type="text" class="text" readonly="true" tips='请选择"具体产品"'/>
														<input type="hidden" />
														<i class="ddl"></i>
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="3" style="text-align:right;">
													<button class="ui-input-btn ok3">确定</button>
													<button class="ui-input-btn close3">取消</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="concreteProType" style="display:none; z-index:1">
									<table style="width:100%;">
										<tbody>
											<tr>
												<td>
													<div id="treeDiv" class="ztree-box" style="width:100%;height:185px; overflow:auto;">
														<ul id="treeDivTree" class="ztree"></ul>
													</div>
												</td>
											</tr>
											<tr>
												<td style="text-align:right;">
													<button class="ui-input-btn ok">确定</button>
													<button class="ui-input-btn close" style="margin-left:10px;">取消</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								
								<!--选择具体产品-->
								<div style="display:none; z-index:1;" class="concretePro">
									<table>
										<tbody>
											<tr>
												<td width="80">产品编号:</td>
												<td>
													<div class="ui-div-text pNumber">
														<input type="text" class="text" />
													</div>
												</td>
												<td width="80">产品名称:</td>
												<td>
													<div class="ui-div-text pName">
														<input type="text" class="text" />
													</div>
												</td>
												<td width="60">
													<button class="ui-input-btn searchPro">搜索</button>
												</td>
											</tr>
											<tr>
												<td colspan="5" style="height:125px; vertical-align:top; ">
													<div style="height:125px;overflow-y:auto; width:450px; ">
														<table class="datatbl protable" style=" width:432px; " id="tblSearchPro">
															<thead>
																<tr>
																	<th>产品类型</th>
																	<th>产品编号</th>
																	<th>产品名称</th>
																</tr>
															</thead>
															<tbody>
																
															</tbody>
														</table>
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="5" style="text-align:right;">
													<button class="ui-input-btn ok2">确定</button>
													<button class="ui-input-btn close2">取消</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!--选择具体产品-->
							<!--弹框-->
							</td>
                        </tr>
                        <tr>
                            <td class="field" width="80">
			                  <label>上传附件：</label>
				            </td>
				            <td colspan="3">
				              	<input type="file" name="fileInput" id="fileInput" />
								<label class="gray_self" title="添加附件">(*单个文件不能超过100M)</label>
								<div id="fileQueue"></div>
				            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <div class="center">
                    <input type="button" class="ui-footer-btn1 ui-footer-btn1-save" value="下一步" id="btnNext"/>
					<input type="button" class="ui-footer-btn1 ui-footer-btn1-cancel" value="取消" onclick="cancelAddTask();"/>
                </div>
            </div>
        </div>
	</div>
</form>
</body>
</html>
