<div class="datacus">
   <a href="#2" class="nm" onclick="newTab('browse', '$!cust.customerId')"><label title="$!cust.customerName（$!cust.defaultPhone）">$!cust.customerName（$!cust.defaultPhone）</label></a>
   <div class="icon">
        <i class="i phone" onclick="dial('$!cust.defaultPhone','$!cust.customerId')" title="拨号">phone</i>
        #if($cust.smsPhone!="")
	        <i class="i sms" onclick="sendSms('$!cust.smsPhone','$!cust.customerId')" title="短信">sms</i>
	        <i class="i mms" onclick="sendMms('$!cust.smsPhone','$!cust.customerId')" title="彩信">mms</i>
	    #end
    </div>
    <div class="other">
    	<label class="item cusTitle" title="$!cust.customerTitle">
        	$!cust.customerTitle
        </label>
        <label class="item">
        	$!cust.sex
        </label>
        <label class="item">
        	$!cust.age
        </label>
        <label class="item red">
        	（共享客户）
        </label>
    </div>
</div>
