<table class="htmltbl" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td width="7%" align="right" nowrap="nowrap"><span class="red">*</span>客户姓名：</td>
            <td width="18%" >
            	<label title="$!crmCustomer.customerName" id="lbl_customerName" >$!crmCustomer.customerName</label>
            </td>
            <td width="7%" align="right" nowrap="nowrap">性别：</td>
            <td width="18%" >
            	<label title="$!crmCustomer.sex" id="lbl_sex" >$!crmCustomer.sex</label>
            </td>
            <td width="7%" align="right" nowrap="nowrap">称谓：</td>
            <td width="18%" >
            	<label title="$!crmCustomer.customerTitle" id="lbl_customerTitle" >$!crmCustomer.customerTitle</label>
            </td>
	    <td rowspan="4" valign="top" align="center">
                    <div class="avatar">
                        <img src="" />
                    </div>
            </td>
        </tr>
        <tr>
	    <td width="7%" align="right" nowrap="nowrap">客户编号：</td>
            <td width="18%" >
            	<label title="$!crmCustomer.customerNo" id="lbl_customerNo" >$!crmCustomer.customerNo</label>
            </td>
            <td width="7%" align="right" nowrap="nowrap">客户类型：</td>
            <td width="18%" >
            	<label title="$!crmCustomer.customerTypeName" id="lbl_customerTypeName" >$!crmCustomer.customerTypeName</label>
            </td>
            <td width="7%" align="right" nowrap="nowrap">所处行业：</td>
            <td width="18%" >
            	<label title="$!crmCustomer.customerIndustryName" id="lbl_customerIndustryName" >$!crmCustomer.customerIndustryName</label>
            </td>
	</tr>
	<tr>
	   <td width="7%" class="field">
                <label>身份证：</label>
            </td>
            <td colspan="3">
                <label title="$!crmCustomer.idCard" id="lbl_idCard" >$!crmCustomer.idCard</label>
            </td>
	    <td width="7%" align="right" nowrap="nowrap">生日：</td>
            <td width="18%" >
            	<label title="$!date.format('yyyy-MM-dd',$!crmCustomer.birthday)" id="lbl_birthday" >$!date.format('yyyy-MM-dd',$!crmCustomer.birthday)</label>
            </td>
	</tr>
	<tr>
	    <td width="7%" class="field">
                <label>单位：</label>
            </td>
            <td colspan="3">
                <label title="$!crmCustomer.company" id="lbl_company" >$!crmCustomer.company</label>
            </td>
            <td width="7%" align="right" nowrap="nowrap">年龄：</td>
            <td width="18%" >
            	<label title="$!crmCustomer.age" id="lbl_age" >$!crmCustomer.age</label>
            </td>
        </tr>
	<tr>
	    <td width="7%" class="field">
                    <label>客户简介：</label>
            </td>
            <td colspan="6">
                 <label title="$!subString.replaceRemark($!crmCustomer.remark)" id="lbl_remark" >$!crmCustomer.remark</label>
            </td>
	</tr>
    </tbody>
</table>