<table>
    <tbody>
    	#foreach($user in $userList)  
        <tr id="$user.UserId" onclick="userClick($user.UserId)">
            <td width="180"><label>$user.UserName</label></td>
            <td width="180"><label>$user.Account</label></td>
        </tr>
        #end
    </tbody>
</table>