<table class="datatbl" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th><label title="物品">物品</label></th>
        <th><label title="抵押物估价">抵押物估价</label></th>
        <th><label title="抵押率">抵押率</label></th>
        <th><label title="抵押（元）">抵押（元)</label></th>
        <th><label title="所有者">所有者</label></th>
        <th><label title="产权证">产权证</label></th>
        <th><label title="描述">描述</label></th>
        <th><label title="操作">操作</label></th>
    </tr>
    </thead>
    <tbody>
        #foreach($lnPledge in $lnPledgeList)
        <tr>
            <td><label title="$!lnPledge.goods">$!lnPledge.goods</label></td>
            <td><label title="$!lnPledge.goodsValue">$!lnPledge.goodsValue</label></td>
            <td><label title="$!lnPledge.pledgeRate">$!lnPledge.pledgeRate</label></td>##抵押率
            <td><label title="$!lnPledge.goodsAmount">$!lnPledge.goodsAmount</label></td>
            <td><label title="$!lnPledge.ownerName">$!lnPledge.ownerName</label></td>
            <td><label title="$!lnPledge.titleCertificate">$!lnPledge.titleCertificate</label></td>
            <td><label title="$!lnPledge.goodsRemark">$!lnPledge.goodsRemark</label></td>
            <td>
                <a href="javascript:removePledge($!lnPledge.pledgeId)">移除</a>
            </td>
        </tr>
        #end
    </tbody>
</table>