#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>分配贷款</title>

    #styleLink("base")
    <link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/ztree/ztree.css" />
    <!--
    <link type="text/css" rel="stylesheet" href="${ctx}/css/jquery.ui/base/jquery.ui.base.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/base.css" />
    -->

    #scriptLink("core")
    #scriptLink("page")

    <script type="text/javascript" src="${ctx}/js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
    <script type="text/javascript" src="${ctx}/js/jquery/jquery.ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="${ctx}/js/jquery/jquery.ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="${ctx}/js/jquery/jquery.ui/jquery.ui.datepicker.js"></script>

    <script type="text/javascript" src="${ctx}/js/banger/banger.core.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.input.js"></script>

    <script type="text/javascript" src="${ctx}/js/system/b.base.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.date-time.js"></script>

    <script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.core-3.2.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.exedit-3.2.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.excheck-3.2.js"></script>

    <script type="text/javascript" src="${ctx}/js/controls/jquery.select-v1.0.js"></script>
    <script type="text/javascript" src="${ctx}/js/controls/jquery.table-v1.0.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.contactIcon.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.loan.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.page.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.abnormal.js"></script>

    <script type="text/javascript" src="${ctx}/js/banger/banger.viewCustomer.js"></script>

    <script type="text/javascript">
    var autoLogin = "$!autoLogin";
    var containSub = '1';
        $(function(){
            initBelongTo();
            $('select').select();
            $("#customer").tips({msg:"姓名、电话或身份证"});
            $('table.datatbl').table();

            getQueryJson();

            //加载提交人树
//            $('#userList').subtree({
//                tid:'subtree',
//                showIcon:true,
//                url:function(){
//                    return '../customer/getCusBelongToJson.html?BelongToType=brUser&random=' + Math.random();
//                },
//                buttons:[
//                    {text:'确定',callback:onCheckUser},
//                    {text:'取消'}
//                ]
//            });

            //查询
            $("#query").click(query);

            //清除
            $('#clear').click(function(){
                $('.text').val('');
                $("select").each(function(){
                    this.selectedIndex = 0;
                    $(this).select();
                });
                changeBelongTo('brMine');
                changeBelongTo('brMine');
                changeBelongTo('brAll');
                $("#userText").val("");
                $("#deptText").val("");
                $("#customer").tips({msg:"姓名、电话或身份证"});
            })

            //刷新
            $("#refresh").click(function(){
                if(oldPostJson){
                    goto(
                            null,
                            "${ctx}/loan/allotingLoanListQuery.html?RandNum="+Math.random(),
                            oldPostJson,
                            function(html){
                                queryBack(html,'dataList');
                            }
                    );
                }
            });
        });

        var oldPostJson = {};

        function getQueryJson(){
            if($("#customer").val() == "姓名、电话或身份证"){
                $('#customer').val("");
            }

            var postJson = {};
            postJson['customer'] = jQuery.trim($('#customer').val());
            postJson['loanType'] = jQuery.trim($('#loanType').val());
            postJson['startDate'] = jQuery.trim($('#startDate').val());
            postJson['endDate'] = jQuery.trim($('#endDate').val());
            //提交人
            /*
            var flag = "$!flag";
            if(flag){
                postJson['userIds'] = jQuery.trim($('#userId').val());
            }else{
                postJson['userIds'] = jQuery.trim($('#userIds').val());
            }
              */
            postJson['BelongToType']=jQuery.trim($('#BelongToType').val());
            postJson['userIds'] = jQuery.trim($('#userIds').val());
            postJson['deptIds'] = jQuery.trim($('#deptIds').val());

            oldPostJson = postJson;

            if($('#customer').val() == ''){
                $("#customer").tips({ msg: "姓名、电话或身份证" });
            }

            return postJson;
        }

        //查询
        function query(){
            var postJson = getQueryJson();
            var urlStr = "${ctx}/loan/allotingLoanListQuery.html?RanNum="+Math.random();
            jQuery.ajax({
                type:'POST',
                url:urlStr,
                data:postJson,
                success:function(html){
                    queryBack(html,'dataList');
                    oldPostJson = getQueryJson();
                }
            });
        }

//        //点击user
//        function onCheckUser(treeId){
//            var postJson = {};
//            postJson = getCheckJson(treeId,'U');
//            if(postJson != null || postJson != undefined){
//                $('#userIds').val(postJson.ids);
//                $('#userText').val(postJson.names);
//            }
//        }

//        function getCheckJson(treeId,flag){
//            var treeObj = jQuery.fn.zTree.getZTreeObj(treeId);
//            if(treeObj != null || treeObj != undefined){
//                var nodes = treeObj.getCheckedNodes(true);
//                var len = nodes.length;
//                var uIds = "";
//                var uName = "";
//                for(var i=0; i<len; i++){
//                    if(flag=='U'){
//                        if(nodes[i].flag==flag){
//                            if(uIds==""){
//                                uIds = nodes[i].id;
//                                uName = nodes[i].name;
//                            }else{
//                                uIds = uIds + "," + nodes[i].id;
//                                uName = uName+ "," +nodes[i].name;
//                            }
//                        }
//                    }else{
//                        if(uIds==""){
//                            uIds = nodes[i].id;
//                            uName = nodes[i].name;
//                        }else{
//                            uIds = uIds + "," + nodes[i].id;
//                            uName = uName+ "," +nodes[i].name;
//                        }
//                    }
//                }
//                var postJson = {};
//                postJson['ids'] = uIds;
//                postJson['names'] = uName;
//                return postJson;
//            }
//        }

        //分页跳转
        function gotoPage(page){
            if(oldPostJson){
                goto(
                        page,
                        "${ctx}/loan/allotingLoanListQuery.html?RandNum="+Math.random(),
                        oldPostJson,
                        function(html){
                            queryBack(html,'dataList');
                        }
                );
            }
        }

        function queryBack(html,gridId){
            $("#"+gridId).html(html);
            $('table.datatbl').table();
            var total = $('#total').val();
            if(total != null){
                $("#recordCount").text(total);
            }else{
                $("#recordCount").text(0);
            }
        }

        function getCheckedLoan(obj){
            var str = "";
            obj.each(function(){
                if(jQuery(this).attr("checked")){
                    if(!str){
                        str = jQuery(this).val();
                    }else{
                        str = str + "," + jQuery(this).val();
                    }
                }
            })
            return str;
        }

        //拒绝贷款
        function refuseAllotLoan(){
            var url = "../loan/cancelLoanPage.html?RandNum="+Math.random();
            var result = window.showModalDialog(url,{window: window},'dialogWidth=550px;dialogHeight=500px;toolbar=no;menubar=no;scrollbars=no;resizable=no;location=no;status=no');
            return result;
        }

        //申请贷款撤销
        function localCancelLoan(loanId,loanStatusId,customerId){
            var radioValue = refuseAllotLoan();
            if(radioValue){
                radioValue['loanId'] = loanId;
                radioValue['beforeStatusId'] = loanStatusId;
                radioValue['customerId'] = customerId;
                jQuery.ajax({
                    type:'POST',
                    url:'../loan/cancelLoan.html?RandNum='+Math.random(),
                    data:radioValue,
                    success:function(){
                        jQuery.ajax({
                            type:'POST',
                            url:'../loan/allotingLoanListQuery.html?RandNum='+Math.random(),
                            data:{},
                            success:function(html){
                                queryBack(html,"dataList");
                            }
                        });
                    }
                });
            }
        }

        //显示分配贷款页面
        function allotLoanPage(){
            var obj = jQuery(".datatbl").find("input[type=checkbox][nm=chkone]:checked");
            if(obj.size() == 0){
                banger.page.showMessageBox("您没有选择要分配的贷款，请先选择贷款！");
                return false;
            }
            var loans = getCheckedLoan(obj);
            //多选情况下判断贷款状态
            var url = "${ctx}/loan/queryChangedLoanStatusCount.html?loans="+loans+"&RandNum="+Math.random();

            jQuery.ajax({
                type:'POST',
                url:url,
                success:function(retVal){
                    if(retVal == 0){
                        var url = "../loan/allotLoanPage.html?loans="+loans+"&RandNum="+Math.random();
                        var result = banger.page.openDialog(url,"分配贷款",700,480);
                        if(result != undefined){
                            var resultArr = result.split(",");
                            var postJson = {};
                            postJson['loans'] = loans;
                            postJson['belongDeptId'] = resultArr[0];
                            postJson['belongUserId'] = resultArr[1];
                            postJson['belongUserName'] = resultArr[2];
                            jQuery.ajax({
                                type:'POST',
                                url:'../loan/allotLoan.html?RandNum='+Math.random(),
                                data:postJson,
                                success:function(html){
                                    query();
                                }
                            });
                        }
                    }else if(retVal > 0){
                        //当前贷款状态已不是待分配(可能数据库当中的状态已经被其他用户所更改)，必须重新刷新页面
                        banger.page.showMessageBox("贷款列表数据已被人更改，请重新刷新列表!");
                    }
                }
            });
        }

        //判断贷款状态
        function queryLoanStatusById(loanId,cusId,flag,loanStatusId){
            var url = "${ctx}/loan/queryLoanStatusById.html?loanId="+loanId+"&loanStatusId="+loanStatusId+"&RandNum="+Math.random();
            jQuery.ajax({
                type:'POST',
                url:url,
                data:{},
                success:function(value){
                    if(value == "true"){
                        if(flag == "edit"){
                            //点击“编辑”
                            editUnAllotLoan(loanId,cusId,loanStatusId);
                        }else if(flag == "refuse"){
                            //点击”撤销“
                            localCancelLoan(loanId,loanStatusId,cusId);
                        }
                    }else if(value == "false") {
                        //当前贷款状态已不是待分配(可能数据库当中的状态已经被其他用户所更改)，必须重新刷新页面
                        banger.page.showMessageBox("贷款列表数据已被人更改，请重新刷新列表!");
                    }
                }
            });
        }

        //编辑待分配贷款
        function editUnAllotLoan(loanId,cusId,loanStatusId){
            //当前贷款状态为：待分配
            var options = {id: "editUnAllotLoan-"+loanId, pid: GetId(), title: "编辑贷款", url: "${ctx}/loan/editUnAllotLoan.html?RandNum="+ Math.random()+"&loanId="+loanId+"&customerId="+cusId+"&loanStatusId="+loanStatusId, lock: false};
            tab.add(options);
        }

        function initBelongTo(){
            $("#BelongToType").val("brAll");

            //加载下属树
            $('#userList').subtree({
                tid: 'subtree',
                showIcon: true,
                url: function(){ return "../customer/getCusBelongToJson.html?"+autoLogin+"BelongToType=brUser&random=" + Math.random(); },
                buttons: [
                    { text: '确定', callback: onCheckUser },
                    { text: '取消' }
                ]
            });
            //加载机构树
            $('#deptList').agetree({
                tid: 'agetree',
                url: function(){ return "../customer/getCusBelongToJson.html?"+autoLogin+"BelongToType=brDept&random=" + Math.random(); },
                buttons: [
                    { text: '确定', callback: onCheckDept },
                    { text: '取消' }
                ]
            });

            $("#BelongToType").change(function(){
                changeBelongTo($(this).val());
            });
            changeBelongTo($("#BelongToType").val());
        }
        //点击User
        function onCheckUser(treeId){
            var postJson = {};
            postJson = getCheckJson(treeId, 'U');
            $('#userIds').val(postJson.ids);
            $('#userText').val(postJson.names);
        }
        //点击Dept
        function onCheckDept(treeId, checkbox){
            var postJson = {};
            postJson = getCheckJson(treeId, 'D');
            $('#deptIds').val(postJson.ids);
            $('#deptText').val(postJson.names);
            if(checkbox.checked){
                containSub = '1';
            }else{
                containSub = '0';
            }
        }
        function getCheckJson(treeId, flag){
            var treeObj = jQuery.fn.zTree.getZTreeObj(treeId);
            var nodes = treeObj.getCheckedNodes(true);
            var len = nodes.length;
            var uIds = "";
            var uName = "";
            for(var i=0; i<len; i++){
                if(flag=='U'){
                    if(nodes[i].flag==flag){
                        if(uIds==""){
                            uIds = nodes[i].id;
                            uName = nodes[i].name;
                        }else{
                            uIds = uIds + "," + nodes[i].id;
                            uName = uName+ "," +nodes[i].name;
                        }
                    }
                }else{
                    if(uIds==""){
                        uIds = nodes[i].id;
                        uName = nodes[i].name;
                    }else{
                        uIds = uIds + "," + nodes[i].id;
                        uName = uName+ "," +nodes[i].name;
                    }
                }
            }
            var postJson = {};
            postJson['ids'] = uIds;
            postJson['names'] = uName;
            return postJson;
        }
        //改变归属
        function changeBelongTo(val){
            $('#userIds').val("");
            $('#deptIds').val("");
            switch(val){
                case "brAll":
                    $("#my, #userList, #deptList").hide();
                    break;
                case "brMine":
                    $("#my").show();
                    $('#showText').text('$!userName');
                    $("#userList, #deptList").hide();
                    break;
                case "brUser":
                    $("#userList").show();
                    $("#my, #deptList").hide();
                    break;
                case "brDept":
                    $("#deptList").show();
                    $("#my, #userList").hide();
                    break;
                case "brUnAllocate":
                    $("#my, #userList, #deptList").hide();
                    break;
                default: break;
            }
        }
    </script>
</head>

<body>
<table class="htmltbl" >
    <tbody>
    <tr>
        <td class="field" width="8%">
            <label>客户：</label>
        </td>
        <td width="25%">
            <div class="ui-div-text">
                <input type="text" class="text" id="customer" />
            </div>
        </td>
        <td class="field" width="8%">
            <label>贷款类型：</label>
        </td>
        <td width="25%">
            <select id="loanType">
                <option value=""></option>
				#foreach($loanType in $typeList)
                     <option value ="$loanType.dictionaryKey" >&nbsp;$loanType.dictionaryValue</option>
                #end
            </select>
        </td>
        <td class="field" width="8%">
            <label>提交时间：</label>
        </td>
        <td colspan="3">
            <table class="celltbl">
                <tbody>
                <tr>
                    <td width="155">
                        <div class="ui-div-text">
                            <input type="text" class="text datepicker" readonly="readonly" id="startDate" />
                            <i class="date"></i>
                        </div>
                    </td>
                    <td width="20"><label>-</label></td>
                    <td width="155">
                        <div class="ui-div-text">
                            <input type="text" class="text datepicker" readonly="readonly" id="endDate" />
                            <i class="date"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="field" width="8%">
            <label>提交人员：</label>
        </td>
        <td width="17%">
            <select id="BelongToType" name="BelongToType">
                <option value="brAll"></option>
                <option value="brMine">我的</option>
                #if($dataCode && $!dataCode=="3")
                    <option value="brUser">下属的</option>
                #end
            </select>
        </td>
        <td colspan="2">
	                	<span class="btn2 fl" id="my">
	                		<input id="myUserId" type="hidden"/>
	                        <label class="btn2-txt" id="showText">

                            </label>
	                    </span>
            <div id="userList" class="dtxt2 fl" style="display: none; width: 200px;">
                <input type="text" class="dtxt2-txt text" readonly="readonly" id="userText"/>
                <input id="userIds" name="userIds" type="hidden" />
                <span class="dtxt2-ddl" id="ddlchange">ddl</span>
            </div>
            <div id="deptList" class="dtxt2 fl" style="display: none; width: 200px;">
                <input type="text" class="dtxt2-txt text" readonly="readonly" id="deptText"/>
                <input id="deptIds" name="deptIds" type="hidden" />
                <span class="dtxt2-ddl" id="ddlchange">ddl</span>
            </div>
        </td>
        <!--
        #if($flag)
            <td width="25%">
                <select id="userId">
                    <option value="$loginUserId">&nbsp;$loginUserAccount</option>
                </select>
            </td>
        #else
            <td width="25%">
                <div id="userList" class="ui-div-text" style="width: 200px">
                    <input type="text" class="text" readonly="readonly" id="userText"/>
                    <input id="userIds" name="userIds" type="hidden" class="text"/>
                    <i class="ddl" id="ddlchange"></i>
                </div>
            </td>
        #end
        -->
        <td colspan="2" ></td>
    </tr>
    </tbody>
</table>
<div class="search-bar">
        <span class="fl">
            分配贷款(<label class="green" id="recordCount">$!recordCount</label>)
        </span>
    <input type="button" class="ui-input-btn" value="清空" id="clear"/>
    <input type="button" class="ui-input-btn" value="搜索" id="query"/>
</div>
<div class="action-bar">
		##if($urlPermitUtil.hasPermission('lnAssignLoan'))
        <span class="ui-span-btn fl" onclick="allotLoanPage()">
        	<label>分配贷款</label>
        </span>
        ##end
        <span id="refresh" class="ui-span-btn fr">
        	<label>刷新</label>
        </span>
</div>
<table class="datatbl" id="dataList">
    #parse("/velocity/loan/allotingLoanListTable.vm")
</table>
</body>

</html>
