#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>分配贷款</title>

    #styleLink("base")
    <link rel="stylesheet" href="${ctx}/css/tree/zTreeStyle.css" type="text/css">
    <style type="text/css">
        .b-bomb-box1 {
            position: relative;
            display: block;
            float: left;
            border: 0;
            padding: 0;
        }

        .b-bomb-box1 .l {
            height: 314px;
            width: 300px;
        }

        .b-bomb-box1 .r .collist {
            height: 299px;
        }

        .button {
            text-align: right;
        }

        .assign-me {
            cursor: pointer;color:#333;margin-left:18px; padding:2px 5px;
        }
    </style>

    #scriptLink("core")
    #scriptLink("page")
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.core-3.2.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.exedit-3.2.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.excheck-3.2.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.abnormal.js"></script>
    <script type="text/javascript">
        $(function () {
            initTree();
            $('.sub').show().siblings('.self, .agency').hide();
        });
        //初始化机构树
        function initTree() {
            var setting = {
                view: {
                    showIcon: true,
                    dblClickExpand: false
                },
                check: {
                    enable: true,
                    chkboxType: { 'Y': 's', 'N': 's' }
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                callback: {
                    onCheck: onCheck
                }
            };
            jQuery.fn.zTree.init($("#userList"), setting, $array);
        }
        function onCheck(e, treeId, tnode) {
            var postJson = {};
            postJson = getCheckJson(treeId, 'U');
            $('#userIds').val(postJson.ids);
            $('#userText').val(postJson.names);
        }

        function getCheckJson(treeId, flag) {
            var treeObj = jQuery.fn.zTree.getZTreeObj(treeId);
            var nodes = treeObj.getCheckedNodes(true);
            var len = nodes.length;
            var uIds = "";
            var uName = "";
            for (var i = 0; i < len; i++) {
                if (flag == 'U') {
                    if (nodes[i].flag == flag) {
                        if (uIds == "") {
                            uIds = nodes[i].id;
                            uName = nodes[i].name;
                        } else {
                            uIds = uIds + "," + nodes[i].id;
                            uName = uName + "," + nodes[i].name;
                        }
                    }
                } else {
                    if (uIds == "") {
                        uIds = nodes[i].id;
                        uName = nodes[i].name;
                    } else {
                        uIds = uIds + "," + nodes[i].id;
                        uName = uName + "," + nodes[i].name;
                    }
                }
            }
            var postJson = {};
            postJson['ids'] = uIds;
            postJson['names'] = uName;
            return postJson;
        }

        function btnOk() {
            var userIdForMe = $('#userIdForMe').val();
            var userNameForMe = $('#userNameForMe').val();
            var uIds = $('#userIds').val();
            var uNames = $('#userText').val();

            if (userIdForMe != "") {
                if (uIds != "") {
                    var sameMe = false;
                    var uIdsArr = uIds.split(",");
                    for(var i = 0; i < uIdsArr.length; i++){
                        if(uIdsArr[i] == userIdForMe){
                            sameMe = true;
                        }
                    }
                    if(!sameMe){
                        uIds = uIds + "," + userIdForMe;
                    }
                } else if (uIds == "") {
                    uIds = userIdForMe;
                }
            }
            if (userNameForMe != "") {
                if (uNames != "") {
                    uNames = uNames + "," + userNameForMe;
                } else if (uNames == "") {
                    uNames = userNameForMe;
                }
            }

            if (uIds == "") {
                banger.page.showMessageBox('您没有选择人员，请先选择要分配的人员！');
                return;
            }
            var str = uIds + "&" + uNames;
            window.returnValue = str;
            window.close();
        }

        function selectAllotToMe(obj) {
            if (obj.checked) {
                var userId = '$!userId';
                var userName = '$!userName';
                $('#userIdForMe').val(userId);
                $('#userNameForMe').val(userName);
            } else {
                $('#userIdForMe').val("");
                $('#userNameForMe').val("");
            }
        }
    </script>
</head>

<body>
<table class="viewtbl">
    <input id="belongDeptId" name="belongDeptId" type="hidden"/>
    <input id="belongUserId" name="belongUserId" type="hidden"/>
    <input id="belongUserName" name="belongUserName" type="hidden"/>
    <input id="loanCount" name="loanCount" type="hidden" value="$!loanCount"/>
    <tbody>
    <tr class="self">
        <td width="1%" class="field"></td>
    </tr>
    <tr class="sub hide">
        <td width="1%" class="field"></td>
        <td>
            <div>
                <div>
                    <input type="hidden" id="userIdForMe"/>
                    <input type="hidden" id="userNameForMe"/>
                    <input type="checkbox" class="assign-me" onclick="selectAllotToMe(this);">
                    <img src="${ctx}/images/deptTreeImage/2.png" alt=""/>分配给我
                </div>
                <div class="fl l">
                    <input type="hidden" class="text" readonly="readonly" id="userText"/>
                    <input id="userIds" name="userIds" type="hidden" class="text"/>
                    <ul class="ztree" id="userList"></ul>
                </div>
            </div>
        </td>
    </tr>

    </tbody>
</table>

<hr/>

<div class="halign">
    <input type="button" class="btn6 btn6bg1" value="确定" onclick="btnOk()"/>
    <input type="button" class="btn6 btn6bg3" value="取消" onclick="javascript:window.close()"/>
</div>
</body>
</html>