#foreach($!formAttachment in $!formAttachmentList)
<div id="attr_$velocityCount" class="uploadifyQueueItem">
    <div class="cancel">
        <a href="#" onclick="delAttr($!formAttachment.formId,$velocityCount,'$!formAttachment.sysUploadFile.uploadFileName')"><img src="../uploadify/cancel.png" border="0"></a>
    </div>
        <span class="fileName">
            <a href="#" onclick="downFileOrShowAttr($!formAttachment.fileId,'$!formAttachment.sysUploadFile.uploadFileName')" class="attrFile">$!formAttachment.sysUploadFile.uploadFileName</a>&nbsp;&nbsp;
            <label class="gray">($!dateString.FormetFileSize("$!formAttachment.sysUploadFile.fileSize"))</label>
        </span>
    <span class="percentage"></span>
</div>
#end