<!--贷款状态为"消费"的贷款基本信息-->
<!--贷款信息部分-->
<p class="bold loan-exam-titlebar">
    <label>个人信息</label>
    <label title="展开(收起)" class="loan-exam-tuckAndspread loan-exam-spread "></label>
</p>
<div class="loan-exam-info-div">
<p class="bold loan-exam-title-lheight">申请人信息</p>
<table class="htmltbl_1">
    <tbody>
    <tr>
        <td class="field" width="10%">
            <label>姓名:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.cusName</label>
        </td>
        <td class="field" width="10%">
            <label>出生日期:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.cusBirthday </label>
        </td>
        <td class="field" width="10%">
            <label>性别:</label>
        </td>
        <td colspan="3">
            <label>$!lnLoanInfo.cusSex</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>证件类型:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.cusIdtype</label>
        </td>
        <td class="field" width="10%">
            <label>号码:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusIdcard</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>婚姻状况:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.cusMarriage</label>
        </td>
        <td class="field" width="10%">
            <label>本地居住年限:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusLocalYear</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>家庭住址 (包括邮编): </label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.cusAddress</label>
        </td>
        <td class="field" width="10%">
            <label>家庭人数:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusFamilyNum</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>居住状况: </label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.cusLivingStatus</label>
        </td>
        <td class="field" width="10%">
            <label>教育程度:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusEducation</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>申请人工作单位: </label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.cusCompany</label>
        </td>
        <td class="field" width="10%">
            <label>申请人职务:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusJob</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>电话:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.cusPhone</label>
        </td>
        <td class="field" width="10%">
            <label>手机:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusMobilePhone</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>单位地址 (包括邮编): </label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.cusAddress</label>
        </td>
        <td class="field" width="10%">
            <label>工作年限:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusWorkYear</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>月收入水平: </label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.cusMonthlyIncoming</label>
        </td>
        <td class="field" width="10%">
            <label>是否自主经营:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusSelfBiz</label>
        </td>
    </tr>
    </tbody>
</table>
<p class="bold loan-exam-title-lheight">配偶信息</p>
<table class="htmltbl_1" >
    <tbody>
    <tr>
        <td class="field" width="10%">
            <label>姓名:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.mateName</label>
        </td>
        <td class="field" width="10%">
            <label>身份证号:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.mateIdcard</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>职业:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.mateVocation</label>
        </td>
        <td class="field" width="10%">
            <label>工作年限:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.mateWorkYear</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>电话:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.matePhone</label>
        </td>
        <td class="field" width="10%">
            <label>手机:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.mateMobilePhone</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>配偶工作单位: </label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.mateCompany</label>
        </td>
        <td class="field" width="10%">
            <label>单位职务:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.mateJob</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>地址（包括邮编）: </label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.mateAddress</label>
        </td>
        <td class="field" width="10%">
            <label>月收入水平:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.mateMonthlyIncoming</label>
        </td>
    </tr>
    </tbody>
</table>
<p class="bold loan-exam-title-lheight">其他家庭成员信息</p>
<table class="htmltbl_1" >
    <tbody>
    <tr>
        <td class="field" width="10%">
            <label>子女情况：姓名:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.chdName</label>
        </td>
        <td class="field" width="10%">
            <label>性别:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.chdSex</label>
        </td>
        <td class="field" width="10%">
            <label>健康状况:</label>
        </td>
        <td colspan="3">
            <label>$!lnLoanInfo.chdHealth</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>出生日期:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.chdBirthday</label>
        </td>
        <td class="field" width="10%">
            <label>工作单位:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.chdCompany</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>教育程度:</label>
        </td>
        <td width="23%">
            <label>$!lnLoanInfo.chdEducation</label>
        </td>
        <td class="field" width="10%">
            <label>父母情况:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.chdParentInfo</label>
        </td>
    </tr>
    </tbody>
</table>
</div>
<p class="bold loan-exam-titlebar">
    <label>申请信息</label>
    <label title="展开(收起)" class="loan-exam-tuckAndspread loan-exam-spread"></label>
</p>
<div class="loan-exam-info-div">
    <table class="htmltbl_1" >
        <tbody>
        <tr>
            <td class="field" width="10%">
                <label>金额(元):</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.appMoney</label>
            </td>
            <td class="field" width="10%">
                <label>用途:</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.appUsage</label>
            </td>
            <td class="field" width="10%">
                <label>期限:</label>
            </td>
            <td colspan="3">
                <label>$!lnLoanInfo.appLimitYear</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>希望还款日期:</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.appRepaymentDate</label>
            </td>
            <td class="field" width="10%">
                <label>月可支配收入(元)</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.appRepaymentMonth</label>
            </td>
            <td class="field" width="10%">
                <label>还款来源:</label>
            </td>
            <td colspan="3">
                <label>$!lnLoanInfo.appRepaymentSource</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>可能的担保人:</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.appGnt</label>
            </td>
            <td class="field" width="10%">
                <label>担保人身份证号码:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.appGntIdcard</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>担保人电话:</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.appGntPhone</label>
            </td>
            <td class="field" width="10%">
                <label>与申请人的关系:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.appGntRelation</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>担保人工作单位:</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.appGntCompany</label>
            </td>
            <td class="field" width="10%">
                <label>担保人职务:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.appGntJob</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>地址(包括邮编):</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.appGntAddress</label>
            </td>
            <td class="field" width="10%">
                <label>月工资水平:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.appGntSalary</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>担保人资产情况:</label>
            </td>
            <td colspan="7">
                <label>$!lnLoanInfo.appGntProperty</label>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--贷款信息部分-->