<!--贷款类型为"经营"的贷款基本信息-->
<!--贷款信息部分-->
<p class="bold loan-exam-titlebar">
    <label>个人信息</label>
    <label title="展开(收起)" class="loan-exam-tuckAndspread loan-exam-spread"></label>
</p>
<div class="loan-exam-info-div">
<table class="htmltbl_1">
    <tbody>
    <tr>
        <td class="field" width="10%">
            <label>姓名:</label>
        </td>
        <td width="15%">
            <label>$!lnLoanInfo.cusName</label>
        </td>
        <td class="field" width="10%">
            <label>出生日期:</label>
        </td>
        <td width="15%">
            <label>$!lnLoanInfo.cusBirthday </label>
        </td>
        <td class="field" width="10%">
            <label>性别:</label>
        </td>
        <td colspan="3">
            <label>$!lnLoanInfo.cusSex</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>证件类型:</label>
        </td>
        <td width="15%">
            <label>$!lnLoanInfo.cusIdtype</label>
        </td>
        <td class="field" width="10%">
            <label>号码:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusIdcard</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>婚姻状况:</label>
        </td>
        <td width="15%">
            <label>$!lnLoanInfo.cusMarriage</label>
        </td>
        <td class="field" width="10%">
            <label>本地居住年限:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusLocalYear</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>配偶信息   姓名:</label>
        </td>
        <td width="15%">
            <label>$!lnLoanInfo.mateName</label>
        </td>
        <td class="field" width="10%">
            <label>身份证号:</label>
        </td>
        <td width="15%">
            <label>$!lnLoanInfo.mateIdcard </label>
        </td>
        <td class="field" width="10%">
            <label>职业:</label>
        </td>
        <td colspan="3">
            <label>$!lnLoanInfo.mateVocation</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>家庭住址 (包括邮编): </label>
        </td>
        <td width="15%">
            <label>$!lnLoanInfo.cusAddress</label>
        </td>
        <td class="field" width="10%">
            <label>家庭人数:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusFamilyNum</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>电话:</label>
        </td>
        <td width="15%">
            <label>$!lnLoanInfo.cusPhone</label>
        </td>
        <td class="field" width="10%">
            <label>手机:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusMobilePhone</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>居住状况: </label>
        </td>
        <td width="15%">
            <label>$!lnLoanInfo.cusLivingStatus</label>
        </td>
        <td class="field" width="10%">
            <label>教育程度:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusEducation</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>申请人工作单位: </label>
        </td>
        <td width="15%">
            <label>$!lnLoanInfo.cusCompany</label>
        </td>
        <td class="field" width="10%">
            <label>申请人职业:</label>
        </td>
        <td colspan="5">
            <label>$!lnLoanInfo.cusVacation</label>
        </td>
    </tr>
    <tr>
        <td class="field" width="10%">
            <label>单位地址 (包括邮编): </label>
        </td>
        <td colspan="7">
            <label>$!lnLoanInfo.cusCompanyAddress</label>
        </td>
    </tr>
    </tbody>
</table>
</div>
<p class="bold loan-exam-titlebar">
    <label>生意信息</label>
    <label title="展开(收起)" class="loan-exam-tuckAndspread loan-exam-spread"></label>
</p>
<div class="loan-exam-info-div">
    <table class="htmltbl_1">
        <tbody>
        <tr>
            <td class="field" width="10%">
                <label>企业名称:</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.bizCompany</label>
            </td>
            <td class="field" width="10%">
                <label>经营范围:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.bizScope </label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>地址(包括邮箱):</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.bizAddress</label>
            </td>
            <td class="field" width="10%">
                <label>开业时间:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.bizStartDate</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>组织形式:</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.bizOrg</label>
            </td>
            <td class="field" width="10%">
                <label>详细说明:</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.bizDetail</label>
            </td>
            <td class="field" width="10%">
                <label>组织机构代码:</label>
            </td>
            <td colspan="3">
                <label>$!lnLoanInfo.bizOrgCode</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>雇员人数: </label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.bizEmployeeNum</label>
            </td>
            <td class="field" width="10%">
                <label>企业类型:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.bizCompanyType</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>经营场所: </label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.bizPlace</label>
            </td>
            <td class="field" width="10%">
                <label>面积:</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.bizArea</label>
            </td>
            <td class="field" width="10%">
                <label>房租(年): </label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.bizHouseRent</label>
            </td>
            <td class="field" width="10%">
                <label>进/出口许可证:</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.bizLicence</label>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p class="bold loan-exam-titlebar">
    <label>申请信息</label>
    <label title="展开(收起)" class="loan-exam-tuckAndspread loan-exam-spread"></label>
</p>
<div class="loan-exam-info-div">
    <table class="htmltbl_1" >
        <tbody>
        <tr>
            <td class="field" width="10%">
                <label>金额(元):</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.appMoney</label>
            </td>
            <td class="field" width="10%">
                <label>用途:</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.appUsage</label>
            </td>
            <td class="field" width="10%">
                <label>期限:</label>
            </td>
            <td colspan="3">
                <label>$!lnLoanInfo.appLimitYear</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>希望还款日期:</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.appRepaymentDate</label>
            </td>
            <td class="field" width="10%">
                <label>月可支配收入(元)</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.appRepaymentMonth</label>
            </td>
            <td class="field" width="10%">
                <label>还款来源:</label>
            </td>
            <td colspan="3">
                <label>$!lnLoanInfo.appRepaymentSource</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>可能的担保人:</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.appGnt</label>
            </td>
            <td class="field" width="10%">
                <label>担保人身份证号码:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.appGntIdcard</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>担保人电话:</label>
            </td>
            <td width="15%">
                <label>$!lnLoanInfo.appGntPhone</label>
            </td>
            <td class="field" width="10%">
                <label>与申请人的关系:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.appGntRelation</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>担保人工作单位、年收入、资产:</label>
            </td>
            <td colspan="7">
                <label>$!lnLoanInfo.appGntCompany</label>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p class="bold loan-exam-titlebar">
    <label>综合财务信息(如果有，至少填写两项)</label>
    <label title="展开(收起)" class="loan-exam-tuckAndspread loan-exam-spread"></label>
</p>
<div class="loan-exam-info-div">
    <table class="htmltbl_1">
        <tbody>
        <tr>
            <td class="field" width="10%">
                <label>年销售额:</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.cfaAnnualSales</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>毛利润率:</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.cfaGrossMargin</label>
            </td>
            <td class="field" width="10%">
                <label>年利润额:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.cfaYearMargin</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>利润水平:</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.cfaProfitLevel</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>存货: </label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.cfaInventory</label>
            </td>
            <td class="field" width="10%">
                <label>应收账款:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.cfaAccountIncoming</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>负债: </label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.cfaDebt</label>
            </td>
            <td class="field" width="10%">
                <label>总资产:</label>
            </td>
            <td colspan="5">
                <label>$!lnLoanInfo.cfaTotal</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>其他收入: </label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.cfaOther</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="10%">
                <label>上下游供应关系:</label>
            </td>
            <td width="23%">
                <label>$!lnLoanInfo.cfaSupply</label>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--贷款信息部分-->