#parse("/velocity/taglibs.vm")
#styleLink("base")
<link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
<link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />
<link type="text/css" rel="stylesheet" href="${ctx}/css/tree/zTreeStyle.css" />
<style type="text/css">
	.Agency-left { float: left; width: 170px; }
	.Agency-left h4 { height: 30px; border: 1px solid #ccc; padding: 0px 5px; line-height: 30px; font-size: 12px; font-family: Microsoft Yahei; }
	.Agency-left h4 label { float: left;}
	.Agency-left h4 p { float: right; }
	.Agency-left h4 p a { float: left; width: 20px; overflow: hidden; text-indent: -1000px; }
	.Agency-left h4 p a.edi-add { background: url(${ctx}/images/template/edi-add.gif) no-repeat center center transparent; }
	.Agency-left h4 p a.edi-up { background: url(${ctx}/images/template/edi-up.gif) no-repeat center center transparent; }
	.Agency-left h4 p a.edi-down { background: url(${ctx}/images/template/edi-down.gif) no-repeat center center transparent; }
	.Agency-left h4 p a.edi-del { background: url(${ctx}/images/template/edi-del.gif) no-repeat center center transparent; }
	.Agency-left h4 p a.edi-edi { background: url(${ctx}/images/template/edi-edi.gif) no-repeat center center transparent; }
	.Agency-left .Agency-tree {width:99%; display: block; height: 500px; border: 1px solid #ccc; margin-top: 2px; overflow: auto; }
	.Agency-right { min-height: 534px; height: auto !important; height: 534px; margin-left: 180px; }
</style> 
#scriptLink("core")
#scriptLink("page")
<script type="text/javascript" src="${ctx}/js/controls/jquery.etabs-v1.0.js"></script>
<script type="text/javascript" src="${ctx}/js/system/b.base.js"></script>    
<script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.core-3.2.js"></script>
<script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
<script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
<!--<script type="text/javascript" src="${ctx}/js/system/b.abnormal.js"></script> IE6加此js页面卡死-->
<script type="text/javascript">
	$(function(){
		$("#account").tips({ msg: "姓名、用户名" });
    });
	var oldPostJson={};
	var postJson={};
	var setting = {
		callback:{
			onClick:treeOnclick
		},
		data: {
			simpleData: {
				enable: true
			}
		},
		view: {
			showIcon: false
		}
		
	};
	//json树数据
	var zNodes = $!deptJson; 
	
	//默认选择第一个节点
	function initNodeSelect(){
		var treeObj = jQuery.fn.zTree.getZTreeObj("deptTree");
		var nodes = treeObj.getNodes();
		if (nodes.length>0) {
			treeObj.selectNode(nodes[0]);
			$("#deptId").val(nodes[0].id);
			$("#dName").text(nodes[0].name);
			treeOnclick(event, nodes[0].id, nodes[0]);
		}
		
	}
	
	//延迟器
	var timer = null;
	
	//机构树加载
	$(document).ready(function(){
		jQuery.fn.zTree.init($("#deptTree"), setting, zNodes);
		$('#deptGrid table').table();
		timer = setTimeout(delay, 100);
	});
	
	function delay(){
		initNodeSelect();
		getQueryJson();
		
		clearTimeout(timer);
	}
	
	//清空
	function qingkong(){
		var length = document.forms[0].length
		for(i=0;i<length;i++)
		{
			 var type = document.forms[0].elements[i].type;
			 if(type!="button"){
				 document.forms[0].elements[i].value = "";
			 }
		}
		$("#account").tips({ msg: "姓名、用户名" });
	}
	
	//点击节点查询本部门用户
	function treeOnclick(event, treeId, treeNode) {
		$("#deptId").val(treeNode.id);
 		$("#dName").text(treeNode.name);
		postJson={};
		postJson['deptId']=treeNode.id;
		postJson['flagInt']=1;
		oldPostJson = postJson;
		jQuery.ajax({
		    type:"post",
		    url:"getUserPageList.html", 
		    data:postJson,
		    success:function(html){
		    	$("#deptGrid").html(html).find('table').table();
		    	$("#total").text($("#totalAmount").val());
		    }
		});
	}
	//组装数据
	function getQueryJson(){
		if(jQuery.trim($('#account').val())!='姓名、用户名'){
			postJson['account']=jQuery.trim($('#account').val());
		}
		oldPostJson = postJson;
		return postJson;
	}
	
	//刷新
	function refreshForm(){
		filterPageForm_submit();
	}
	//模糊查询搜索用户
	function postUserQuery(){
		var treeObj = jQuery.fn.zTree.getZTreeObj("deptTree");
		var node = treeObj.getSelectedNodes()[0];
		var name=node.name;
		var deptId=node.id;
		$("#deptId").val(deptId);
		$("#dName").text(name);
		var flag;
		postJson={};
		postJson=getQueryJson();
		postJson['flagInt']=2;
		postJson['deptId']=deptId;
		postJson['flag']=flag;
		oldPostJson = postJson;
		jQuery.ajax({
		    type:"post", 
		    url:"getUserPageList.html", 
		    data:postJson,
		    success:function(html){
		    	$("#deptGrid").html(html).find('table').table();
		    	$("#total").text($("#totalAmount").val());
		    }
		});
	}

	function getDeptInfo(){
		var treeObj = jQuery.fn.zTree.getZTreeObj("deptTree");
		var nodes = treeObj.getSelectedNodes();
		var n=nodes[0];
		var deptName = "";
		var deptId="";
		if(n){
			deptName=n.name;
			deptId=n.id;
		}
		return deptName+","+deptId;
	}

	function updateLimitUser(id,newValue,oldValue,userId){
	 	if(oldValue==newValue){
			return false;
		}else{
			jQuery.post("updateLimitUserById.html", {"id": id, "value": newValue,"userId":userId}, function(){
        	});
		}
	}
</script>
<div class="Agency-left">
	<h4>
    	<label>组织机构</label>
    </h4>
    <div class="Agency-tree">
    	<ul id="deptTree" class="ztree"></ul>
    </div>
</div>
<div class="Agency-right">
	<form name="deptList" id="deptList" style="width: 100%;">
		<table class="htmltbl" cellpadding="0" cellspacing="0" width="100%">
        	<tbody>
            	<tr>
                    <td width="8%" style="font-size:12px;">
                    	<label>用户:</label>
                    </td>
                    <td width="17%">
						<div class="dtxt1">
							<input type="text" id="account" name="deptUserBean.account" class="dtxt1-txt" maxLength="20" />
						</div>
                    </td>
                    <td colspan="6"></td>
                </tr>
            </tbody>
        </table>
     </form>
		 <p class="sz" style="clear: none;">
        	<span class="fl bold">
                <span>可设置用户</span>
                <span>(<label id="total" class="dgreen">$!totalAmount</label>)</span>
			</span>
            <input type="button" value="清 空" onclick="qingkong()" class="btn1" />
            <input type="button" value="搜 索" onclick="postUserQuery()" class="btn1" />
		</p>
	
        <div class="actrow" style="margin-top: 20px;" >
	    	<a href="javascript:void(0);" class="btn2 fr" onclick="refreshForm()">
	            <label class="btn2-txt">刷 新</label>
	        </a>
	    </div>
		<div id="deptGrid">
			#parse("/velocity/loan/lnApproveLimitUserListTable.vm")
		</div>
		
</div>