<select id="appLoanSubTypeId" name="lnLoanInfo.appLoanSubTypeId" maxlength="20" >
    <option ></option>
	#foreach($lnLoanSubType in $!lnLoanSubTypes)
        <option #if($!loanSubTypeId == $!lnLoanSubType.loanSubTypeId) selected #end value="$!lnLoanSubType.loanSubTypeId">$!lnLoanSubType.loanSubTypeName</option>
	#end
</select>