#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>贷款类型列表</title>
    
    #styleLink("base")
    <style type="text/css">
		.v-fails { border: 1px solid red; background-color: #fff7f7; }
		.v-fails input { color: red; }
		.v-tips { position: absolute; border: 1px solid #a6c9e2; background-color: white; padding: 4px 7px; line-height: 20px; }
		.v-tips img { position: absolute; top: -10px; border: 0; }
    </style>
    #scriptLink("core")
    #scriptLink("page")
	<script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.validator-v1.0.js"></script>
    <script type="text/javascript">
		function setstate(){
			$('.listtbl tbody tr:first a.up').unbind();
			$('.listtbl tbody tr:first a.up').removeAttr("href");
			$('.listtbl tbody tr:last a.down').unbind();
			$('.listtbl tbody tr:last a.down').removeAttr("href");
			$('.listtbl tbody tr:first a.up').attr('disabled', 'disabled');
			$('.listtbl tbody tr:first a.up').css({cursor:"default",textDecoration:"none"});
			$('.listtbl tbody tr:last a.down').attr('disabled', 'disabled');
			$('.listtbl tbody tr:last a.down').css({cursor:"default",textDecoration:"none"});
		}
    	jQuery(function(){
    		$('#tabs').easytabs();
			jQuery("#loanType").validator();
			$('[name=\'check\'], [name=\'radio\']').click(function(){
				extendvalidator();
			});
    		setstate();
		});
		function extendvalidator(){
			var bool = true;
			return bool;
		}
		
		function addData(){
			var bool = jQuery.validator({ form: 'loanType', extend: true, extendhandler: extendvalidator });
			if(!bool){
				return false;
			}
				jQuery.ajax({
				    type: "post",
				    url: "addLoanType.html",
				    data: {loanTypeName:$("#loanTypeName").val()},
				    //请求成功后的回调函数有两个参数
				    success: function(data, textStatus){
				 		addResult(data);
				    }
				});
		}
		function addResult(msg){
		    if(msg=="exists"){
		      var d=$("#loanTypeName").val();
		      var c=$("#loanTypeName").val();
              banger.page.showMessageBox("已存在相同的选项！");
		    }
		    else if(msg=="SUCCESS"){
		     document.location.href = "toEditLoanType.html?random=" + Math.random()*1000;
		    }
		    else{
		      banger.page.showMessageBox("新增失败！");
		    }
		}
		
		function moveData(vid, vmoveType){
			 jQuery.ajax({
				type: "post",
				url: "moveTypeItems.html",
				data: {id: vid, moveType: vmoveType},
				success: function(){
                  document.location.href = "toEditLoanType.html?random=" + Math.random()*1000;
				}
			});
		}
		
		function updateData(code){
			var url = "toUpdateLoanTypePage.html?id=" + code + "&random=" + Math.random()*1000;
			var result=banger.page.openDialog(url,"编辑贷款类型",600,220);
			if(result == 1){
				location.reload();
			}
		}

        function deleteType(vid,loanTypeName) {
            if (confirm('您确定要删除选项“'+loanTypeName+'”吗？')) {
                jQuery.ajax({
                    type: "post",
                    url: "deleteLoanType.html",
                    data: {id: vid},
                    success: function(data){
                        location.reload();
                    }
                });
            }

        }
    </script>
</head>

<body>
	<form id="loanType" name="loanType" action="" method="post">
		<table class="viewtbl" cellpadding="0" cellspacing="0">
	    	<tbody>
	        	<tr>
	            	<td width="70" class="field"><label>名称：</label></td>
	            	<td><label>贷款类型</label></td>
	            	<td width="70" class="field"><label>字段类型：</label></td>
	            	<td><label>系统级</label></td>
	            	<td width="70" class="field"><label>数据类型：</label></td>
	            	<td><label>单选下拉框</label></td>
	            </tr>
	        </tbody>
	    </table>
		<div style="margin: 10px 0px;"><label>选项列表</label></div>
		<div style="border: 1px solid #ccc; padding: 10px;">
	    	<div class="sz" style="text-align: left;">
	        	<label class="fl">新选项：</label>
	        	<div class="dtxt2 fl" id="recDiv" style="width: 150px; margin-right: 5px;">
	            	<input type="text" name="loanTypeName" id="loanTypeName" class="dtxt2-txt" maxlength="20" rule="\S" tips="“贷款类型”必须填写" />
	            </div>
	            <input type="button" value="添加" class="btn1 fl" onclick="addData();" />
	        </div>
	    	<table class="listtbl" cellpadding="0" cellspacing="0">
	            <thead>
	                <tr>
	                    <th>选项名称</th>
	                    <th width="150">操作</th>
	                </tr>
	            </thead>
	            <tbody>
	            	#foreach($loanType in $!loanTypeList)
	                <tr>
	                    <td><label>$!loanType.loanTypeName</label></td>
	                    <td width="150">
	                        <a class="slink" href="javascript:void(0);" onclick="updateData('$!loanType.loanTypeId')">编辑</a>
	                        <a class="slink" href="javascript:void(0);" onclick="deleteType('$!loanType.loanTypeId','$!loanType.loanTypeName')">删除</a>
	                        <a href="javascript:void(0);" class="slink up" onclick="moveData('$!loanType.loanTypeId','Up')">上移</a>
	                        <a href="javascript:void(0);" class="slink down" onclick="moveData('$!loanType.loanTypeId','Down')">下移</a>
	                    </td>
	                </tr>
	                #end
	            </tbody>
	        </table>
	    </div>
	    <div class="halign" style="margin-top: 20px;">
	       <input type="button" value="关 闭" class="btn1" onclick="window.location.href='../velocity/system/basicsdatalist.vm'" />
	    </div>
	</form>
</body>
</html>

