#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑贷款</title>

    #styleLink("base")
    <link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />
    <style type="text/css">
        .tl p { margin-left:15px; margin-top:15px; font-size:14px; }
    </style>


    #scriptLink("core")
    #scriptLink("page")

    <script type="text/javascript" src="${ctx}/js/system/b.base.js"></script>
    <script type="text/javascript" src="${ctx}/js/controls/jquery.etabs-v1.0.js"></script>
    <script type="text/javascript" src="${ctx}/js/controls/jquery.table-v1.0.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.contactIcon.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.loan.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.date-time.js"></script>

    <script type="text/javascript" src="${ctx}/js/banger/banger.viewCustomer.js"></script>
    <script type="text/javascript">
        $(function(){

            $('div.etabs').etabs({
                'head': 'etabs-items',
                'body': 'etabs-body',
                'bar': 'etabs-bar',
                'beforeOnclick': fun1,
                'onclick': fun2
            });

            var url = "../loan/vLoanView.html?isEdit=true&RandNum="+ Math.random()+"&loanId="+$!loanId;
            $('#viewLoan').load(url,{},function(){

            });


        });

        function fun1(h, b){
            return true;
        }

        function fun2(h, b){
        }
    </script>
</head>
<body>
<p class="bold loan-lheight">贷款状态：
    #if($loan.repaymentStatus && $!loan.repaymentStatus == 1)
        异常贷款催收(待催收)
    #elseif($loan.repaymentStatus && $!loan.repaymentStatus == 2)
        异常贷款催收(已还款)
    #else
        异常贷款催收
    #end
</p>
    #parse("/velocity/loan/baseLoanInfo.vm")
<div class="loan-bg">
    <p class="bold loan-lheight">异常还款计划</p>
    #if(($loan.repaymentStatus && $!loan.repaymentStatus==1) && (!$loan.accountRemaining || $!loan.accountRemaining<$!loan.owedPrincipal) && $loan.isFull !=1)
        <label style="margin-left:15px; color:red;">账户余额： $!vmHelper.getUnityDecimalMoney($!loan.accountRemaining)元</label>
    #else
        <label style="margin-left:15px;" >账户余额： $!vmHelper.getUnityDecimalMoney($!loan.accountRemaining)元</label>
    #end
    <label style="margin-left:15px; float:right; margin-right:20px; margin-bottom:10px">贷款余额: $!vmHelper.getUnityDecimalMoney($!loan.loanRemaining)元</label>
    <div class="loan-pad">
        <table class="datatbl" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th><label title="还款日期">还款日期</label></th>
                <th><label title="应还金额(元)">应还金额(元)</label></th>
                <th><label title="已还金额(元)">已还金额(元)</label></th>
                <th><label title="还款状态">还款状态</label></th>
            </tr>
            </thead>
            <tbody>
                #foreach($eQuery in $eQueryList)
                <tr>
                    <td><label title="$!date.format('yyyy-MM-dd',$!eQuery.planDate)">$!date.format('yyyy-MM-dd',$!eQuery.planDate)</label></td>
                    <td><label title="$!vmHelper.getUnityDecimalMoney($eQuery.owedPrincipal)">$!vmHelper.getUnityDecimalMoney($eQuery.owedPrincipal)</label></td>
                    <td><label title="$!vmHelper.getUnityDecimalMoney($eQuery.paidPrincipal)">$!vmHelper.getUnityDecimalMoney($eQuery.paidPrincipal)</label></td>
                    #if($eQuery.status && $!eQuery.status ==1)
                        <td><label title="待催收">待催收</label></td>
                    #elseif($eQuery.status && $!eQuery.status ==2)
                        <td><label title="待催收">已还款</label></td>
                    #else
                        <td></td>
                    #end
                </tr>
                #end
            </tbody>
        </table>
    </div>
</div>
<div class="loan-bg">
    <p class="bold loan-lheight">还款计划</p>
    <label style="margin-left:15px; float:right; margin-right:20px; margin-bottom:10px">贷款余额: $!vmHelper.getUnityDecimalMoney($!loan.loanRemaining)元</label>
    <div class="loan-pad">
        <table class="datatbl" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th><label title="还款日期">还款日期</label></th>
                <th><label title="应还本金(元)">应还本金(元)</label></th>
                <th><label title="应还利息(元)">应还利息(元)</label></th>
            </tr>
            </thead>
            <tbody>
                #foreach($query in $!queryList )
                <tr>
                    <td><label title="$!date.format('yyyy-MM-dd',$!query.planDate)">$!date.format('yyyy-MM-dd',$!query.planDate)</label></td>
                    <td><label title="$!vmHelper.getUnityDecimalMoney($query.principal)">$!vmHelper.getUnityDecimalMoney($query.principal)</label></td>
                    <td><label title="$!vmHelper.getUnityDecimalMoney($query.interest)">$!vmHelper.getUnityDecimalMoney($query.interest)</label></td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</div>

<div id="viewLoan">
</div>
</body>
</html>
