#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>待审批贷款列表</title>
    <link type="text/css" rel="stylesheet" href="${ctx}/css/basic.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />

    #scriptLink("core")
    #scriptLink("page")

    <script type="text/javascript" src="${ctx}/js/system/b.base.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.date-time.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
    <script type="text/javascript" src="${ctx}/js/controls/jquery.select-v1.0.js"></script>
    <script type="text/javascript" src="${ctx}/js/controls/jquery.table-v1.0.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.contactIcon.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.loan.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.viewCustomer.js"></script>
    <script type="text/javascript">
        $(function(){
            $('select').select();
            $("#customer").tips({ msg: "姓名、电话或身份证" });
            $('table.datatbl').table();

            getQueryJson();

            $("#clear").click(function(){
                $('.text').val('');
                $("#customer").tips({ msg: "姓名、电话或身份证" });
                $("select").each(function(){
                    this.selectedIndex = 0;
                    $(this).select();
                });
            });

            $("#query").click(function(){
                var postJson = getQueryJson();
                var urlStr = "${ctx}/loan/unAssessLoanListQuery.html?RandNum="+ Math.random();
                jQuery.ajax({
                    type: 'POST',
                    url: urlStr,
                    data: postJson,
                    success:function(html){
                        queryBack(html, 'dataList');
                        oldPostJson = getQueryJson();
                    }
                });
            });



            $("#refresh").click(function(){
                if(oldPostJson){
                    goto(
                            null,
                                    "${ctx}/loan/unAssessLoanListQuery.html?RandNum="+ Math.random(),
                            oldPostJson,
                            function(html){
                                queryBack(html, 'dataList');
                            });
                }
            });

        });

        var oldPostJson = {};

        function getQueryJson(){
            if($('#customer').val()=="姓名、电话或身份证"){
                $('#customer').val("");
            }

            var postJson = {};
            postJson['cusName']=jQuery.trim($('#cusName').val());
            postJson['loanType'] = jQuery.trim($('#loanType').val());
            postJson['approvalStartDate'] = jQuery.trim($('#approvalStartDate').val());
            postJson['approvalEndDate']=jQuery.trim($('#approvalEndDate').val());
            postJson['startCreateDate']=jQuery.trim($('#startCreateDate').val());
            postJson['endCreateDate']=jQuery.trim($('#endCreateDate').val());

            oldPostJson = postJson;

            if($('#customer').val()==''){
                $("#customer").tips({ msg: "姓名、电话或身份证" });
            }

            return postJson;
        }

        //分页跳转
        function gotoPage(page){
            if(oldPostJson){
                goto(
                        page,
                                "${ctx}/loan/unAssessLoanListQuery.html?RandNum="+ Math.random(),
                        oldPostJson,
                        function(html){
                            queryBack(html, 'dataList');
                        });
            }
        }

        function queryBack(html, gridId){
            $("#"+gridId).html(html);
            $('table.datatbl').table();

            var total = $('#total').val();
            if(total!=null){
                $("#recordCount").text(total);
            }else {
                $("#recordCount").text(0);
            }
        }

        function unAssessLoanEdit(loanId,role)
        {
            var options = {id: "unAssessLoanEdit-"+loanId, pid: GetId(), title: "编辑贷款", url: "../loan/unAssessLoanEdit.html?RandNum="+ Math.random()+"&loanId="+loanId+"&role="+role, lock: false,confirm: true};
            tab.add(options);
        }
    </script>
</head>

<body>
<table class="htmltbl" >
    <tbody>
    <tr>
        <td class="field" width="8%">
            <label>客户：</label>
        </td>
        <td width="17%">
            <div class="ui-div-text">
                <input id="cusName" name="cusName" type="text" class="text" />
            </div>
        </td>
        <td class="field" width="8%">
            <label>贷款类型：</label>
        </td>
        <td width="17%">
            <select id="loanType">
                <option value=""></option>
                #foreach($loanType in $typeList)
                    <option value ="$!loanType.dictionaryKey" >&nbsp;$loanType.dictionaryValue</option>
                #end
            </select>
        </td>
        <td class="field" width="8%">
            <label>提交时间：</label>
        </td>
        <td colspan="2">
            <table class="celltbl">
                <tbody>
                <tr>
                    <td width="120">
                        <div class="ui-div-text">
                            <input id="startCreateDate" type="text" readonly="readonly" class="text datepicker" />
                            <i class="date"></i>
                        </div>
                    </td>
                    <td width="20"><label>-</label></td>
                    <td width="120">
                        <div class="ui-div-text">
                            <input id="endCreateDate" type="text" readonly="readonly" class="text datepicker" />
                            <i class="date"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td width="17%"></td>
    </tr>
    </tbody>
</table>
<div class="search-bar">
        <span class="fl">
            待审批贷款(<label id="recordCount" class="green">$!recordCount</label>)
        </span>
    <input id="clear" type="button" class="ui-input-btn" value="清空" />
    <input id="query" type="button" class="ui-input-btn" value="搜索" />
</div>
<div class="action-bar">
        <span id="refresh" class="ui-span-btn fr">
        	<label>刷新</label>
        </span>
</div>
<table id="dataList" class="datatbl">
    #parse("/velocity/loan/unAssessLoanListTable.vm")
</table>
</body>

</html>
