#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    
    #styleLink("base")
    #scriptLink("core")
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
    <script type="text/javascript">
    	$(function(){
			
		});
    </script>
</head>
 
<body>
	<table class="bartbl">
    	<tr>
        	<td class="over">第 1 步</td>
        	<td class="over">第 2 步</td>
        	<td>第 3 步</td>
        </tr>
    </table>
    <h4 class="steptxt">
    	导出客户进度
    </h4>
    
    <div class="pgrbar">
    	<div class="ppt">
        	<span class="fl">
                正在导出数据，共
                <label class="dgreen bold">$!totalCount</label>
                条数据…
            </span>
            <span class="fr">
                0%
            </span>
        </div>
        <div class="bar" >
            <div></div>
        </div>
    </div>
</body>
</html>
