<Nff:HtmlTable CSName="{@QueryName}" DSName="{@QueryData}" ></Nff:HtmlTable>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr height="10px" >
<td style="width:150px;text-align:left;background:#efefef;text-indent:12px;font-size:12px;" DSName="{@SizeData}" >查询结果 [@Total] 条记录</td>
<td align="right" style="border-top:0px solid #ccc;background:#efefef;">
<input type="image" src="/Images/Common/Template/QueryList/clear.jpg" onclick="ClearQuery()" align="middle">
&nbsp;
<input type="image" src="/Images/Common/Template/QueryList/search.jpg" onclick="PostQuery()" align="middle">
&nbsp;&nbsp;
</td></tr>
</table>
<div style="text-align: left; margin: 3px 0px;"><Nff:HtmlButton CSName="{@BtnName}" DSName="{@BtnData}"></Nff:HtmlButton></Div>
<Nff:HtmlList CSName="{@ListName}" DSName="{@ListData}" ></Nff:HtmlList>
<Div style="text-align:right">
<Nff:PageSize CSName="{@SizeName}" DSName="{@SizeData}" ></Nff:PageSize>
</div>