@charset "utf-8";
/* CSS Document */

html,body,form,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6 { margin:0; padding:0; }
html { height:100%; background-color:#fff; }
body { height:auto !important; }
form { width:100%; }
ul,ol { list-style:none; }
a { color:#00f; outline:none; }
a img { border:0; vertical-align:middle; }

.hand { cursor:pointer; }

.size12 { font-size:12px; }
.size13 { font-size:13px; }
.size14 { font-size:14px; }
.size15 { font-size:15px; }
.size16 { font-size:16px; }

.black { color:#323232; }
.gray { color:#666; }
.ligray { color:#8f8f8f; }
.blue { color:#008be4; }
.green { color:#639c26; }
.dgreen { color:#090; }
.red { color:#f00; }
.orange, .yellow { color:#f60; }
.liblue { color:#107fc6; }

.bold { font-weight:bold; }

.indent1 { text-indent:12px; }
.indent2 { text-indent:24px; }
.indent3 { text-indent:36px; }
.indent4 { text-indent:48px; }
.indent5 { text-indent:60px; }

.wrap { word-wrap:break-word; word-break:break-all; }
.nowrap, .nobr { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

.halign { text-align:center !important; }
.hall { text-align:left !important; }
.halr { text-align:right !important; }
.valign { vertical-align:middle; }
.mgcenter { margin:0 auto; }

.margin { margin:0; }
.padding { padding:0; }


/** clearfix **/
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
/** hides from ie-mac **/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/** clear **/
.clear { clear:both; height:0; overflow:hidden; }
/** auto height **/
.autoh { height:auto; overflow:auto; zoom:1; }

.fl { float:left; }
.fr { float:right; }
.floatL { float:left; }
.floatR { float:right; }

.block { display:block; }
.hide { display:none; }

.slink { cursor:pointer; color:#0c0cf6; text-decoration:underline; }
.slink:hover { color: #fb741b; } /**add by wuxj 2013-2-4**/

.center { text-align:center !important; }
.left { text-align:left !important; }
.right { text-align:right !important; }

.top { vertical-align: top !important; }
.middle { vertical-align: middle !important; }
.bottom { vertical-align: bottom !important; }

