@charset "utf-8";
/* CSS Document */

html,body,form,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6 { margin:0; padding:0; }
/*html {
	scrollbar-face-color: #d4d4d4;
	scrollbar-shadow-color: #d4d4d4;
	scrollbar-highlight-color: #d4d4d4;
	scrollbar-3dlight-color: #e4e4e4;
	scrollbar-darkshadow-color: #c4c4c4;
	scrollbar-track-color: #ebebeb;
	scrollbar-arrow-color: #6d6d6d;
}*/
iframe { background-color:white; }
ul,ol { list-style:none; }
a { color:#00f; }
a, input { outline:none; }
a img { border:0px; vertical-align:middle; }
hr, hr.line { height:0; border:0; border-top:1px solid #b1b1b1; margin:10px 0px; -margin:5px 0px; overflow:hidden; }
hr.dbline { height:2px; -height:4px; border-top:1px solid #b1b1b1; border-bottom:1px solid #b1b1b1; margin:10px 0px; -margin:5px 0px; overflow:hidden; }


/** no background **/
.nonebg { background-image:none !important; background-color:#fff !important; }

/** star **/
.star { background:url(../images/icon/star.gif) no-repeat center center; margin-right:2px; padding:0px 4px; }

/** legend **/
.legend { border-bottom:1px solid #ccc; margin-bottom:10px; padding-bottom:7px; font-size:12px; font-weight:bold; }

/** float **/
.fl { float:left; }
.fr { float:right; }

/** text align **/
.left { text-align:left !important; }
.center { text-align:center !important; }
.right { text-align:right !important; }
.top { vertical-align:top !important; }
.middle { vertical-align:middle !important; }
.bottom { vertical-align:bottom !important; }

/** hand style **/
.hand { cursor:pointer; }

/** font weight **/
.bold { font-weight:bold; }

/** font color **/
.black { color:#000; }
.gray { color:#999; }
.white { color:#fff; }
.red { color:#f00; }
.orange { color:#f60; }
.green { color:#090; }
.blue { color:#0c0cf6; }

/** font size **/
.size12 { font-size:12px; }
.size14 { font-size:14px; }
.size16 { font-size:16px; }
.size18 { font-size:17px; }
.size20 { font-size:20px; }

/* wrap & nowrap */
.wrap { word-wrap:break-word; word-break:break-all; }
.nowrap, .nobr { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

/** clearfix **/
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
/** hides from ie-mac **/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/** clear **/
.clear { clear:both; height:0; overflow:hidden; }
/** auto height **/
.autoh { height:auto; overflow:auto; zoom:1; }
