@charset "utf-8";
/* CSS Document */

html,body,form,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,input { margin: 0; padding: 0; }
html { height: 100%; border: 0; -overflow-y: scroll; }
body { position: relative; min-width: 1002px; min-height: 100%; -height: 100%; background-color: white; font-size: 12px; font-family: verdana; }
ul,ol { list-style: none; }
a { outline: none; text-decoration: none; }
.fl { float: left !important; }
.fr { float: right !important; }
.bold { font-weight: bold; }
.blue { color: #2b5acd; }
.green { color: #0b742b; }
.hand { cursor: pointer; }
.nom { margin: 0 !important; }
.nop { padding: 0 !important; }

/* --------------- skin --------------- */
.skin {  }
.skin-header { position: absolute; top: 0; left: 0; right: 0; z-index: 2; width: 100%; height: 30px; background: url(../images/index/header1.jpg) #000 repeat-x 0 0; }
.skin-nav { position: absolute; top: 30px; left: 0; right: 0; z-index: 2; width: 100%; height: 40px; border-bottom: 1px solid #8c8c8c; background: url(../images/index/nav.jpg) #d9d9d9 repeat-x center center; }
.skin-side { position: absolute; top: 0; -top: auto; bottom: 0; left: 0; z-index: 1; width: 190px; -height: 10000px; border-right: 1px solid #8c8c8c; background-color: #d2d2d2; }
.skin-main { position: absolute; top: 0; -top: auto; bottom: 0; left: 201px; z-index: 1; width: 0; -height: 10000px; border-left: 1px solid #8c8c8c; overflow: hidden; }

/* --------------- page --------------- */
.page { position: relative; z-index: 10; height: auto !important; height: 100%; min-height: 100%; }
.page:before, .page:after { clear: both; display: block; visibility: hidden; height: 0; content: "."; overflow: hidden; font-size: 0; }
.page-header { height: 30px; padding: 0px 10px; overflow: hidden; }
.page-nav { position: relative; z-index: 11; height: 40px; border-bottom: 1px solid #8c8c8c; padding: 0px 10px; font-family: "宋体"; }
.page-side { position: relative; z-index: 10; float: left; width: 190px; margin-right: -190px; }
.page-main { margin-left: 201px; background-color: #fff; padding-top: 10px; }

/*div.logo { float: left; width: 138px; height: 30px; background: url(../images/index/logo1.jpg) no-repeat 0 50%; overflow: hidden; text-align: right; color: #fff; }*/
div.logo { float: left; width: 138px; height: 30px; overflow: hidden; text-align: right; color: #fff; }
div.logo label { line-height: 32px; }
a.help { float: right; background: url(../images/index/help.gif) no-repeat 0px 4px; line-height: 32px; text-indent: 24px; color: #fff; }
label.main-complayInfo{color:#fff; line-height: 32px; float:right; margin-right:10px;}

ul.page-nav-inner { height: 100%; line-height: 40px; }
ul.page-nav-inner li.separator { float: left; width: 40px; }
ul.page-nav-inner li.line { background: url(../images/index/line.gif) no-repeat 0px 14px; }
ul.page-nav-inner li.item { float: left; padding: 0px 5px; }
ul.page-nav-inner li.item span { padding: 5px; }
ul.page-nav-inner li.item span.hover { border: 1px solid #9b9b9b; background-color: #fff; padding: 4px; }
ul.page-nav-inner li.item span.name {  }
ul.page-nav-inner li.item span.agency {  }
ul.page-nav-inner li.item span.role {  }
ul.page-nav-inner li.item span.role i.ddl { background: url(../images/index/ddl.gif) no-repeat center center; margin-left: 5px; padding: 2px; overflow: hidden; }
ul.page-nav-inner li.item span.state {  }
ul.page-nav-inner li.item span.state label { background: url(../images/index/online.gif) no-repeat 0px -1px; padding-left: 15px; }
ul.page-nav-inner li.item span.logout {  }
ul.page-nav-inner li.item span.unread { padding-left: 20px !important; padding-right: 0px !important; }
ul.page-nav-inner li.item span.unread label { text-decoration: underline; color: #2b5acd; }
ul.page-nav-inner li.item span.calls { background: url(../images/index/phone.gif) no-repeat 0px 4px; }
ul.page-nav-inner li.item span.message { background: url(../images/index/msg.gif) no-repeat 0px 4px; }
ul.page-nav-inner li.item span.sms { background: url(../images/index/sms.gif) no-repeat 0px 5px; }
ul.page-nav-inner li.item span.tasks { background: url(../images/index/task.gif) no-repeat 0px 5px; }
ul.page-nav-inner li.item span.balance {  }
ul.page-nav-inner li.item span.balance i.ddl { background: url(../images/index/ddl.gif) no-repeat center center; margin-left: 5px; padding: 2px; overflow: hidden; }
ul.page-nav-inner li.item span.tools {  }
ul.page-nav-inner li.item span.tools i.gear { background: url(../images/index/tools.gif) no-repeat; padding: 2px 7px; }
ul.page-nav-inner li.item span.tools i.ddl { background: url(../images/index/ddl.gif) no-repeat center center; padding: 2px; overflow: hidden; }

/* role */
ul.ul-role { position: absolute; display: none; width: 140px; border: 1px solid #9b9b9b; background-color: #fff; padding: 3px; }
ul.ul-role li { overflow: hidden; line-height: 20px; }
ul.ul-role li.hover { background-color: #378fcf; color: #fff; }
ul.ul-role li label {  }

/* state */
ul.ul-state { position: absolute; display: none; width: 80px; border: 1px solid #9b9b9b; background-color: #fff; }
ul.ul-state li { height: 24px; background: url(../images/index/ui-status-li.png) repeat-y; overflow: hidden; line-height: 24px; }
ul.ul-state li:hover, ul.ul-state li.hover { background: #378fcf; color: #fff; }
ul.ul-state li i { float: left; width: 24px; height: 24px; }
ul.ul-state li.online i { background: url(../images/index/online.gif) no-repeat 5px 5px; }
ul.ul-state li.leave i { background: url(../images/index/leave.gif) no-repeat 5px 5px; }
ul.ul-state li label { float: left; padding: 0px 7px; }

/* balance */
ul.ul-balance { position: absolute; display: none; width: 140px; border: 1px solid #9b9b9b; background-color: #fff; padding: 3px; }
ul.ul-balance li { overflow: hidden; line-height: 20px; }
ul.ul-balance li.hover { background: #378fcf; color: #fff; }
ul.ul-balance li label {  }

/* tools */
ul.ul-tools { position: absolute; top: 30px; right: 10px; -right: 9px; display: none; width: 110px; border: 1px solid #9b9b9b; background-color: white; }
ul.ul-tools li { height: 24px; background: url(../images/index/ui-status-li.png) repeat-y; overflow: hidden; line-height: 24px; }
ul.ul-tools li.hover { background: #378fcf; color: #fff; }
ul.ul-tools li i { float: left; width: 24px; height: 24px; }
ul.ul-tools li.c i { background: url(../images/index/icon-p.gif) no-repeat 7px 5px; }
ul.ul-tools li.w i { background: url(../images/index/icon-w.gif) no-repeat 5px 5px; }
ul.ul-tools li label { float: left; padding: 0px 7px; }



/* extend */
div.extend { cursor: pointer; height: 11px; border-bottom: 1px solid #7b7b7b; background: url(../images/index/switch.gif) repeat-x; overflow: hidden; }
div.extend i { float: right; width: 10px; height: 11px; background: url(../images/index/switchicon.gif) no-repeat; margin-right: 5px; text-indent: -1111px; overflow: hidden; }
/* switch */
div.switch { position: absolute; top: 240px; right: -11px; cursor: pointer; width: 10px; height: 94px; background: url(../images/index/switch.jpg) #000 no-repeat 0 0; }
div.swi-active { background: url(../images/index/switch.jpg) #000 no-repeat -10px 0px !important; }

/* dial */
div.dial { padding: 8px 0px 8px 8px; font-size: 0; }
div.dial .ml { margin-left: 5px; }
div.dial .middle { vertical-align: middle; }
div.dial .text { border: 1px solid #b1b1b1; background-color: #fff; width: 106px; height: 24px; line-height: 24px; padding: 0px 2px; }
div.dial .button { cursor: pointer; width: 26px; height: 26px; border: 0; }
div.dial .bg1 { background: url(../images/index/dial.jpg) no-repeat center 0px; }
div.dial .bg2 { background: url(../images/index/dial.jpg) no-repeat center -26px; }

/* menu-header */
div.menu-header { position: relative; height: 30px; border-width: 1px 0px 1px 0px; border-style: solid; border-color: #7b7b7b; background: url(../images/index/menu-ttl.png) repeat-x; text-indent: 16px; line-height: 30px; }
div.menu-header label { font-size: 12px; font-weight: bold; }
div.menu-header i { position: absolute; top: 7px; right: 8px; background: url(../images/index/icon1.png) no-repeat; width: 15px; height: 15px; text-indent: -1111px; overflow: hidden; }

/* menu */
dl.menu { font-size: 12px; }
dl.menu dt { cursor: pointer; height: 30px; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #929292; background: url(../images/index/menu-dt.png) repeat-x 0 0; overflow: hidden; line-height: 30px; }
dl.menu dt i { float: left; background: url(../images/index/plus-icon1.gif) no-repeat 0 center; width: 13px; margin: 0px 10px 0px 16px; text-indent: -1111px; overflow: hidden; }
dl.menu dt label { float: left; line-height: 32px; -line-height: 34px; }
dl.menu dt.active i { background: url(../images/index/minus-icon1.gif) no-repeat 0 center; }
dl.menu dd { display: none; background-color: #c7c7c7; overflow: auto; }
dl.menu dd ul { border: 10px solid #c7c7c7; }
dl.menu dd ul li { height: 28px; border-bottom: 1px solid #bfbfbf; background: url(../images/index/li.gif) no-repeat 10px 10px #ebebeb; overflow: hidden; vertical-align: bottom; }
dl.menu dd ul li.active { background: url(../images/index/lihover.gif) #fff no-repeat 10px center; }
dl.menu dd ul li label { display: block; cursor: pointer; width: 100%; height: 100%; outline: none; text-indent: 30px; line-height: 32px; }

/* tabs */
.x-panel { zoom: 1; }
.x-panel-head { position: relative; z-index: 10; height: 26px; }
.x-panel-inner { position: relative; height: 27px; margin-right: 120px; overflow: hidden; }
.x-panel-inner-ul { position: absolute; min-width: 180px; height: 27px; line-height: 26px; }
.x-panel-inner-ul li { position: relative; float: left; width: 180px; height: 27px; background: url(../images/index/tabs-li.png) repeat-x; }
.x-panel-inner-ul li.x-tab-active { background: url(../images/index/active.png) repeat-x; }
.x-panel-inner-ul li .l { float: left; background: url(../images/index/lline.png) no-repeat 0 0; _background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/index/lline.png"); width: 10px; height: 27px; }
.x-panel-inner-ul li .r { float: right; background: url(../images/index/rline.png) no-repeat 0 0; _background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/index/rline.png"); width: 10px; height: 27px; }
.x-panel-inner-ul li label.title { float: left; width: 140px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.x-panel-inner-ul li span.close { position: absolute; top: 5px; right: 5px; background: url(../images/index/close.gif) no-repeat 0px 0px; width: 17px; height: 17px; }
.x-panel-inner-ul li span.close:hover { background-position: 0px -17px; }
.x-panel-bar { position: absolute; top: 0px; right: 0px; }
.x-panel-bar .x-panel-action { float: left; cursor: pointer; width: 20px; height: 20px; margin: 3px; text-indent: -1000px; overflow: hidden; }
.x-panel-bar div.x-panel-scroller-left { background: url(../images/index/left.png) no-repeat; _background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/index/left.png"); }
.x-panel-bar div.x-panel-scroller-right { background: url(../images/index/right.png) no-repeat; _background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/index/right.png"); }
.x-panel-bar div.x-panel-action-fav { background: url(../images/index/list.png) no-repeat; _background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/index/list.png"); }
.x-panel-bar div.x-panel-action-close { background: url(../images/index/close-all.png) no-repeat; _background: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/index/close-all.png"); }
.x-panel-body { border-top: 1px solid #8c8c8c; border-left: 1px solid #8c8c8c; background-color: #fdfdfd; overflow: visible; -margin-top: -1px; }
.x-panel-body-child { display: none; }
.x-panel-body-child iframe { width: 100%; }
.x-panel-fav { position: absolute; top: 26px; right: 0; -right: -1px; display: none; width: 200px; height: auto !important; height: 24px; min-height: 24px; border: 1px solid #8da2bf; background-color: #fff; padding: 1px; line-height: 24px; }
.x-panel-fav li { -width: 100%; padding: 0px 2px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
.x-panel-fav li.hover { background-color: #dce4f1; }


/***** 拨号：最近十条记录、匹配电话列表 *****/
div.phoneitems { position: absolute; top: 115px; left: 8px; z-index: 10000; background-color: white; }
div.phoneitems div.header { border: 1px solid #ccc; background: url(../images/common/colheader.gif); padding-right: 17px; }
div.phoneitems div.header table { border-collapse: collapse; }
div.phoneitems div.header table thead {  }
div.phoneitems div.header table thead tr {  }
div.phoneitems div.header table thead tr th { height: 20px; border-right: 1px solid #ccc; padding: 2px 5px; text-align: center; font-weight: normal; }
div.phoneitems div.body { border: 1px solid #ccc; border-top: none; }
div.phoneitems div.body table { table-layout: fixed; border-collapse: collapse; }
div.phoneitems div.body table tbody {  }
div.phoneitems div.body table tbody tr {  }
div.phoneitems div.body table tbody tr.hover, div.phoneitems div.body table tbody tr:hover { background-color: #e3eaf4; }
div.phoneitems div.body table tbody tr td { height: 20px; border-bottom: 1px solid #e1e1e1; border-right: 1px dashed #e1e1e1; padding: 2px 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; }
div.phoneitems div.body table tbody tr td a { text-decoration: underline; }
div.phoneitems div.body table tbody tr td i.phone { cursor: pointer; background: url(../images/index/phone.gif) no-repeat center center; padding: 0px 8px; }
/***** 拨号：最近十条记录、匹配电话列表 *****/


/************ 安装通话托盘软件 ************/
div.ui-model-install { width: 360px; }
div.ui-model-install h4 { line-height: 24px; color: #666; font-size: 12px; font-weight: normal; }
div.ui-model-install p { margin: 30px 0px; text-align: center; color: #ff7703; font-size: 14px; font-weight: bold; }
div.ui-model-install div { margin-bottom: 20px; text-align: center; }
div.ui-model-install div input { cursor: pointer; height: 24px; border: 1px solid #999; background: url(../images/common/install-button.gif) repeat-x 0 0; margin: 0; padding: 0px 10px; -padding: 0; overflow: hidden; line-height: 26px; -line-height: 22px; color: #333; }
/************ 安装通话托盘软件 ************/


/* 登录超时、异地登陆、账户被禁用、账户被删除 */
div.ui-panel-model { padding-bottom: 10px; }
div.ui-panel-model div.info { height: 48px; background: url(../images/icon/icon-warning.png) no-repeat 0 0; text-indent: 58px; line-height: 48px; font-size: 16px; font-family: Microsoft Yahei; }
div.ui-panel-model div.error { margin-top: 10px; padding-left: 59px; -padding-left: 44px; color: #f00; font-size: 14px; }
div.ui-panel-model div.field-item { margin-top: 10px; }
div.ui-panel-model div.field-item label.field { margin: 0px 18px 0px 8px; vertical-align: middle; color: #666; font-size: 14px; }
div.ui-panel-model div.field-item input.text { width: 220px; height: 28px; border: 1px solid #767779; background-color:#fff; margin: 0; padding: 0px 5px; vertical-align: middle; line-height: 28px; font-size: 14px; font-weight: bold; }
/* 登录超时、异地登陆、账户被禁用、账户被删除 */


/*资料管理-视频录音-弹出遮罩层  add by wuxj 2013-5-29 for xiaowei*/
/*遮罩层*/
div.div-shade-layer{ display:none;z-index:150; background-color:#000; filter:alpha(opacity=50); opacity:0.5; height:100%; width:100%; position:absolute; top:0; left:0; -position:absolute; -top:expression(eval(document.documentElement.scrollTop)); -left:expression(eval(document.documentElement.scrollLeft)); font-size:12px; font-family:Verdana, Geneva, sans-serif; }
/*弹出层*/
div.tapeVideo-mydiv{ display:none; position:absolute; background:#FFF; border:1px solid #ccc;z-index:151; }
div.video-mydiv{ width:640px; top:15%; left:28%; }
div.tape-mydiv{ width:400px; top:30%; left:35%; }
p.tapeVideo-ttl-width{ background-color:#E4E4E4; border:1px solid #b1b1b1; font-weight: bold; line-height:30px; font-size:14px; padding-left:13px; }
p.tapeVideo-ttl-width span.videoNameTitle{ width:520px;height:30px; display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
p.tapeVideo-ttl-width span.tapeNameTitle{ width:320px;height:30px; display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
/*关闭按钮*/
a.tapeVideoClose { width:17px; height:14px; line-height:0px; background:url(../images/public/close.gif) no-repeat;  position:absolute; top:10px; right:10px; text-indent:-9999px;}
a.tapeVideoClose:hover { width:17px; height:14px; background:url(../images/public/close-hover.gif) no-repeat; position:absolute; top:10px; right:10px; text-indent:-9999px;}
/*备注多行文本框*/
div.ui-div-textarea{ border: 1px solid #b1b1b1; overflow: hidden; background-color: #fff;  }
div.ui-div-textarea .textarea { width: 100%; height: 100%; border: 0; background-color: transparent; margin: 0; padding: 0; overflow-x: hidden; overflow-y: auto; line-height: 16px; font-size: 12px; }
/*保存和取消按钮*/
span.ui-span-btn { cursor: pointer; display: inline-block; height: 22px; border: 1px solid #b1b1b1; background: url(../images/public/button.gif) repeat-x center bottom; padding: 0px 10px; overflow: hidden; vertical-align: middle; }
span.ui-span-btn label { float: left; display: block; height: 22px; overflow: hidden; line-height: 24px; }
span.ui-span-btn-save { border: 1px solid #00387d; background: url(../images/public/footer-button.gif) repeat-x 0px 0px; color: #ffffff; }
span.ui-span-btn-cancel { border: 1px solid #808080; background: url(../images/public/footer-button.gif) repeat-x 0px -48px; color: #3b3b3b; }
/*资料管理-视频录音-弹出遮罩层  add by wuxj 2013-5-29 for xiaowei*/


