@charset "utf-8";
/* CSS Document */

body { padding: 10px; font-size: 12px; font-family: Verdana, Geneva, sans-serif; }





.file { border-width: 1px; border-style: solid; border-color: #999 #999 #ccc #ccc; background-color: #fff; padding: 3px; }

.txt { border-width: 1px; border-style: solid; border-color: #999 #999 #ccc #ccc; padding: 3px; }
		
.divtxt { position: relative; display: inline-block; -display: inline; height: auto; border-width: 1px; border-style: solid; border-color: #999 #999 #ccc #ccc; background-color: #fff; padding: 3px; overflow: auto; zoom: 1; vertical-align: middle; }
.divtxt .divtxt-input { float: left; border: none; border: 0; margin: 0; padding: 0; }
.divtxt .divtxt-ddl { float: left; cursor: pointer; width: 16px; height: 16px; background: url(../images/template/ddl.png) no-repeat center center; -margin-right: 4px; overflow: hidden; text-indent: -1000px; }
.divtxt .divtxt-date { float: left; cursor: pointer; width: 16px; height: 16px; background: url(../images/template/date.gif) no-repeat center center; -margin-right: 4px; overflow: hidden; text-indent: -1000px; }

textarea { border-width: 1px; border-style: solid; border-color: #999 #999 #ccc #ccc; padding: 3px; }

select { border-width: 1px; border-style: solid; border-color: #999 #999 #ccc #ccc; padding: 2px; }

.rdo, .chk { width: 14px; height: 14px; margin: 0; padding: 0; overflow: hidden; vertical-align: middle; }

.btn1 { cursor: pointer; height: 24px; border: 1px solid #9b9b9b; background: url(../images/template/btn1-bg.gif) repeat-x center bottom #fff; padding: 0px 10px; -padding: 0px 5px; }

.btn2 { cursor: pointer; display: inline-block; height: auto; line-height: 24px; border: 1px solid #9b9b9b; background: url(../../images/template/btn1-bg.gif) repeat-x center bottom transparent; padding: 0px 10px; overflow: auto; zoom: 1; vertical-align: middle; text-decoration: none; color: #000; }
.btn2 .btn2-icon { float: left; margin-right: 7px; overflow: hidden; text-indent: -1000px; }
.btn2 .btn2-txt { float: left; }
.btn2 .btn2-ddl { float: left; cursor: pointer; width: 7px; background: url(../images/template/ddl.png) no-repeat center center transparent; margin-left: 7px; -margin-right: 7px; overflow: hidden; text-indent: -1000px; }
.mail1 { width: 16px; background: url(images/icon1.png) no-repeat center center transparent; }

.btn3 { display: inline-block; width: 58px; height: 22px; background: url(../images/template/btn2-bg.gif) no-repeat 0 0 transparent; line-height: 22px; text-align: center; vertical-align: middle; text-decoration: none; color: #333; }
.btn3:hover { background-position: 0px -22px; color: #295bcb; }

.btn4 { display: inline-block; width: 44px; height: 20px; background: url(../images/template/btn3-bg.gif) no-repeat 0 0 transparent; overflow: hidden; line-height: 20px; text-align: center; vertical-align: middle; text-decoration: none; color: #333; }
.btn4:hover { background-position: 0px -20px; color: #295bcb; }

.btn5 { display: inline-block; cursor: pointer; height: 24px; line-height: 22px; text-align: center; text-decoration: none; vertical-align: middle; }
.btn5 label { display: inline-block; cursor: pointer; padding: 0px 10px; }
.btn5bg1 { border: 1px solid #00387d; background: url(../images/template/btn4-bg.gif) repeat-x 0px 0px transparent; color: #ffffff; }
.btn5bg1 label { border: 1px solid #80aeea; }
.btn5bg2 { border: 1px solid #6e97cd; background: url(../images/template/btn4-bg.gif) repeat-x 0px -24px transparent; color: #3b3b3b; }
.btn5bg2 label { border: 1px solid #ffffff; }
.btn5bg3 { border: 1px solid #808080; background: url(../images/template/btn4-bg.gif) repeat-x 0px -48px transparent; color: #3b3b3b; }
.btn5bg3 label { border: 1px solid #ffffff; }

.btn6 { cursor: pointer; height: 26px; line-height: 24px; padding: 0px 10px; vertical-align: middle; }
.btn6bg1 { border: 1px solid #00387d; background: url(../images/template/btn4-bg.gif) repeat-x 0px 0px transparent; color: #ffffff; }
.btn6bg2 { border: 1px solid #6e97cd; background: url(../images/template/btn4-bg.gif) repeat-x 0px -24px transparent; color: #3b3b3b; }
.btn6bg3 { border: 1px solid #808080; background: url(../images/template/btn4-bg.gif) repeat-x 0px -48px transparent; color: #3b3b3b; }



/* 电话、短信、彩信 */
.i1 { float: left; cursor: pointer; width: 16px; margin-left: 5px; text-indent: -100px; overflow: hidden; }
.phone { background: url(../images/template/phone.png) no-repeat center center; }
.sms { background: url(../images/template/sms.png) no-repeat center center; }
.mms { background: url(../images/template/mms.png) no-repeat center center; }




.arrow1 { cursor: pointer; outline: none; border: none; border: 0; width: 92px; height: 62px; background: url(../images/template/arrow1.gif) no-repeat center center #fff; line-height: 62px; text-align: center; color: #fff; }



.step1 { border: 1px solid #42bf27; line-height: 18px; }
.step1 tr td { background-color: #e7ece6; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; }
.step1 tr td.executed { background-color: #42bf27; color: #fff; }
.step-title { margin: 10px 0px; }

.ediTable { border-collapse: collapse; }
.ediTable tr td { height: 40px; padding: 0px 5px; }

.htmlTable { border-collapse: collapse; }
.htmlTable tr td { height: 34px; border: 1px solid #e9eff4; padding: 0px 5px; }

.dataSearch { margin: 10px 0px; text-align: right; }
.dataSearch .dataSearch-count { line-height: 24px; }

.actrow { position: relative; height: auto; border: 1px solid #8ea4bb; background: url(../images/template/actrow-bg.gif) repeat-x center bottom #e2ebf4; margin-bottom: -1px; padding: 5px; overflow: auto; zoom: 1; }
.dataTable { border-collapse: collapse; text-align: center; font-size: 12px; font-family: Microsoft Yahei; }
.dataTable tr {  }
.dataTable thead tr th, .dataTable tfoot tr td { padding: 0px 5px; }
.dataTable tbody tr td { padding: 0px 6px; }
.dataTable thead tr th { height: 24px; border: 1px solid #bfbfbf; background: url(../images/template/thead-bg.gif) repeat-x center bottom #ededed; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.dataTable tbody tr td { height: 30px; border-bottom: 1px solid #d6d6d6; }
.dataTable tfoot { position: relative; }
.dataTable tfoot tr td { height: 30px; border: 1px solid #bfbfbf; -border: 0; background: url(../images/template/tfoot-bg.gif) repeat-x center bottom #e0e0e0; }
.dataTable .odd { background-color: #f5f5f5; }
.dataTable .even { background-color: #fafafa; }
.dataTable .hover, .dataTable .selected { background-color: #e3eaf4; }


.tblist { width: 100%; border-collapse: collapse; margin-top: -1px; text-align: center; font-size: 12px; font-family: Microsoft Yahei; }
.tblist caption { height: auto; border-top: 1px solid #8ea4bb; border-bottom: 1px solid #8ea4bb; background: url(../images/template/actrow-bg.gif) repeat-x center top #cedbeb; padding: 7px; overflow: auto; zoom: 1; }
.tblist tr { position: relative; }
.tblist thead tr th, .tblist tbody tr td { padding: 0px 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.tblist thead tr th { height: 24px; line-height: 24px; border-top: 1px solid #bebebe; border-bottom: 1px solid #bebebe; border-right: 1px solid #d0d0d0; background: url(../images/template/tblist-head-bg.gif) repeat-x 0 0 #eaeaea; }
.tblist tbody tr td { position: relative; height: 28px; line-height: 28px; border-bottom: 1px solid #bebebe; border-right: 1px solid #ffffff; }
.tblist tfoot tr td { height: auto; border-top: 1px solid red; border-bottom: 1px solid #a6a6a6; background: url(../images/template/pagesize-bg.gif) repeat-x center top #dcdcdc; padding: 4px 0px; overflow: auto; zoom: 1; font-size: 12px; font-family: Verdana; }
.tblist thead tr:first-child { border-left: 1px solid #d0d0d0; }
.tblist tbody tr:first-child { border-left: 1px solid #ffffff; }
.tblist-p { float: right; margin: 0; }
.tblist-p i { float: left; cursor: pointer; width: 16px; margin-left: 5px; text-indent: -100px; overflow: hidden; }


/* 分页条 */
.pagination { float: right; height: 24px; overflow: hidden; line-height: 26px; }
.pagination a { border: 1px solid #bfbfbf; background-color: #fff; padding: 1px 6px; text-decoration: none; color: #343434; }
.pagination .page-cur { border: 1px solid #559632; background-color: #e8f2e3; color: #559632; padding: 1px 6px; }
.pagination .page-break { padding: 2px 7px; }
.pagination .page-skip { margin-left: 10px; }
.pagination .inp { height: 20px; border: 1px solid #ccc; margin: 0; padding: 0; line-height: 20px; text-align: center; }
.pagination .btn1 { vertical-align: top; }


/* 更改密码错误提示区 */
.tipbox { position: relative; }
.tipmsg { position: absolute; top: 17px; width: 250px; border: 1px solid #3fb3ff; background-color: #e6f4ff; padding: 5px; line-height: 18px; }
.strength { border: 1px solid #f60; text-align: center; vertical-align: middle; color: #fff; }
.strength tr td { background-color: #ffd099; }
.strength tr td.bgorange { background-color: #ff6600; }


/* 编辑图标 */
.edi-icon { width: 20px; overflow: hidden; text-indent: -1000px; }
.edi-icon-add { background: url(../images/template/edi-add.gif) no-repeat center center #fff; }
.edi-icon-up { background: url(../images/template/edi-up.gif) no-repeat center center #fff; }
.edi-icon-down { background: url(../images/template/edi-down.gif) no-repeat center center #fff; }
.edi-icon-del { background: url(../images/template/edi-del.gif) no-repeat center center #fff; }
.edi-icon-edi { background: url(../images/template/edi-edi.gif) no-repeat center center #fff; }

a.disabled { color: #d4d4d4; }

.btn7 { cursor: pointer; display: inline-block; height: 22px; line-height: 22px; border: 1px solid #ccc; background-color: #fff; padding: 0px 10px; overflow: hidden; vertical-align: middle; text-decoration: none; color: #000; font-family: Microsoft Yahei; }
.btn7 .btn7-icon { float: left; margin-right: 7px; overflow: hidden; text-indent: -1000px; }
.btn7 .btn7-txt { float: left; }
.btn7 .btn7-ddl { float: left; cursor: pointer; width: 7px; background: url(../images/template/ddl.png) no-repeat center center transparent; margin-left: 7px; -margin-right: 7px; overflow: hidden; text-indent: -1000px; }

.box-content { position: absolute; z-index: 1000; display: none; width: 400px; height: 300px; border: 1px solid #ccc; background-color: #fff; overflow: auto; }


/* easy-tabs */
.easy-tabs {  }
.easy-tabs ul.easy-tabs-header { position: relative; height: 26px; margin-bottom: -1px; }
.easy-tabs ul.easy-tabs-header li { float: left; height: 24px; border: 1px solid #ccc; background-color: #ebebeb; margin-right: -1px; line-height: 24px; }
.easy-tabs ul.easy-tabs-header li label { display: block; float: left; cursor: pointer; padding: 0px 10px; }
.easy-tabs ul.easy-tabs-header li.easy-tabs-active { height: 25px; border-bottom: 0; background-color: #fff; }
.easy-tabs ul.easy-tabs-header li.easy-tabs-active label { cursor: default; }
.easy-tabs div.easy-tabs-pages { min-height: 100px; border: 1px solid #ccc; padding: 10px; }
.easy-tabs div.easy-tabs-pages .easy-tabs-page { display: none; }

/* tabs */
.tabs {  }
.tabs .tabs-header { position: relative; height: 26px; margin-bottom: -1px; }
.tabs .tabs-header .tabs-items-zone { position: relative; margin-right: 120px; overflow: hidden; }
.tabs .tabs-header .tabs-items-zone .tabs-items { height: 26px; }
.tabs .tabs-header .tabs-items-zone .tabs-items li { float: left; height: 24px; border: 1px solid #ccc; background-color: #ebebeb; margin-right: -1px; line-height: 24px; }
.tabs .tabs-header .tabs-items-zone .tabs-items li label { display: block; float: left; cursor: pointer; padding: 0px 10px; }
.tabs .tabs-header .tabs-items-zone .tabs-items li a.tabs-close { float: left; background: url(../images/template/tabs-close-normal.gif) no-repeat center center; width: 17px; margin-right: 5px; overflow: hidden; outline: none; text-indent: -1000px; }
.tabs .tabs-header .tabs-items-zone .tabs-items li a.tabs-close:hover { background: url(../images/template/tabs-close-hover.gif) no-repeat center center; }
.tabs .tabs-header .tabs-items-zone .tabs-items li.tabs-active { height: 25px; border-bottom: 0; background-color: #fff; }
.tabs .tabs-header .tabs-items-zone .tabs-items li.tabs-active label { cursor: default; }
.tabs .tabs-header .tabs-operate { position: absolute; top: 0; right: 0; width: auto; height: 26px; }
.tabs .tabs-header .tabs-operate .tabs-add { cursor: pointer; height: 100%; border: none; background: url(../images/template/ddl.png) no-repeat right center; padding-right: 12px; overflow: hidden; outline: none; line-height: 26px; }
.tabs .tabs-header .tabs-list { position: absolute; top: 25px; left: 0; right: 0; display: none; border: 1px solid #ccc; background-color: #f7f7f7; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; }
.tabs .tabs-header .tabs-list li { cursor: pointer; height: 24px; line-height: 24px; }
.tabs .tabs-pages { min-height: 100px; border: 1px solid #ccc; padding: 10px; }
.tabs .tabs-pages .tabs-page { display: none; }