
    <script type="text/javascript">
    	$(document).ready(function(){
			//任务信息
			$('#taskMsg').load('/tskTask/initWorkTask.html?workTskFlag=10',{});
		});
    </script>

   <div class="tabs-page" id="taskMsg"></div>

