#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>经营/消费性贷统计报表</title>
	#styleLink("base")
    <link type="text/css" rel="stylesheet" href="${ctx}/css/public.css" />
    <link type="text/css" rel="stylesheet" href="${ctx}/css/tree/zTreeStyle.css" />

    <style type="text/css" media="print">
        .Noprint{ display:none; }
        .PageNext{ page-break-after:always; }
        .NOPRINT { font-size:9pt; font-family:'宋体'; }
        .tdp { border-bottom:1px solid #000; border-left:1px solid #000; border-right:1px solid #fff; border-top:1px solid #fff; }
        .tabp { border-width:2px 2px 1px 1px; border-style: solid; border-color: #000 #000 #000 #000; }
    </style>
    <style type="text/css">
        .recenter-tbl thead tr th {background-color: #ffffff;}
    </style>

	#scriptLink("core")
	#scriptLink("page")
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
    <script type="text/javascript" src="${ctx}/js/jquery/jquery.ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="${ctx}/js/jquery/jquery.ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.core-3.2.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.excheck-3.2.js"></script>
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.validator-v1.0.js"></script>
    <script type="text/javascript" src="${ctx}/js/report/highcharts.js"></script>
    <script type="text/javascript" src="${ctx}/js/report/exporting.js"></script>
    <script type="text/javascript" src="${ctx}/js/report/LodopFuncs.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.abnormal.js"></script>
    <link type="text/css" rel="stylesheet" href="${ctx}/bootstrap/css/bootstrap.min.css" />


</head>

<body>
	<form class="form-inline">
		<label>客户：</label><input input type="text" class="input-medium search-query"/><b


	</form>
</body>
</html>