#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>活动量统计报表</title>
    #styleLink("base")
    #scriptLink("core")
	#scriptLink("page")
    <script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
	<script type="text/javascript" src="${ctx}/js/system/b.dialog.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.abnormal.js"></script>
    
    <style media=print> 
.Noprint{display:none;} 
.PageNext{page-break-after: always;} 
</style> 

<style> 
.tdp 
{ 
    border-bottom: 1 solid #000000; 
    border-left: Ł solid #000000; 
    border-right: ŀ solid #ffffff; 
    border-top: 0 solid #ffffff; 
} 
.tabp 
{ 
    border-color: #000000 #000000 #000000 #000000; 
    border-style: solid; 
    border-top-width: 2px; 
    border-right-width: 2px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
} 
.NOPRINT { 
font-family: "宋体"; 
font-size: 9pt; 
} 

</style> 

    <script>

	jQuery(document).ready(function(){
		$("#print").click(function(){
			printReport();
		});
		$("#close").click(function(){
			window.close();
		});
	});
	
	function printReport()
	{
		window.print();
	}

  </script>
</head>
<body>
<div class="recenter" >
#parse("/velocity/report/recordActivityReportGrid.vm")
</div>
<center class="Noprint" >
	<OBJECT  id=WebBrowser  classid=CLSID:8856F961-340A-11D0-A96B-00C04FD705A2  height=0  width=0> 
	</OBJECT>
	<div class="sz">
	    <input id="print" type="button" class="btn1" value="开始打印" />
	    <input id="close" type="button" class="btn1" value="关闭" />
	</div>
</center>
</body>
</html>
