<script type="text/javascript">
var chart;
$(function () {
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: '活动量趋势曲线图('+'$!condition.text'+')',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: $!categories
            },
            yAxis: {
                title: {
                    text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'个';
                }
            },
            legend: {
                backgroundColor: '#fff',
    			borderColor: '#fff'
            },
            series: $!jsonSeries
        });
    });
    
});
</script>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<p class="recenter-footnote" style="text-align: right;">
	制表人：$!userName &nbsp; &nbsp; 制表时间：$!reportTime
</p>
<input type="hidden" id="idType" value="$!condition.belongTo" />