
<script type="text/javascript" src="../js/micro/profitandlossCualte.js"></script>

        <table id="profitandlossJxTable" class="datatbl" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th><label title="项目">项目</lab></th>
					<th id="thTable"><label title="项目细分">项目细分</lab></th>
					
				</tr>
			</thead>
			<tbody id="srxm">
				#foreach($dic in $!profitandlossJyDetailMap.income)
				<tr>
					<td><label title="收入">收入</lab></td>
					<td><label title="$!dic.itemDetailName">$!dic.itemDetailName</lab></td>
				 #if($!dic.month1 !="")
					<td><label title="$!dic.month1">$!dic.month1</lab></td>
				 #end
				 #if($!dic.month2 !="")
					<td><label title="$!dic.month2">$!dic.month2</lab></td>
				 #end
				 #if($!dic.month3 !="")
					<td><label title="$!dic.month3">$!dic.month3</lab></td>
				 #end
				 #if($!dic.month4 !="")
					<td><label title="$!dic.month4">$!dic.month4</lab></td>
				 #end
				 #if($!dic.month5 !="")
					<td><label title="$!dic.month5">$!dic.month5</lab></td>
				 #end
				 #if($!dic.month6 !="")
					<td><label title="$!dic.month6">$!dic.month6</lab></td>
				 #end
				 #if($!dic.month7 !="")
					<td><label title="$!dic.month7">$!dic.month7</lab></td>
				 #end
				 #if($!dic.month8 !="")
					<td><label title="$!dic.month8">$!dic.month8</lab></td>
				 #end
				 #if($!dic.month9 !="")
					<td><label title="$!dic.month9">$!dic.month9</lab></td>
				 #end
				 #if($!dic.month10 !="")
					<td><label title="$!dic.month10">$!dic.month10</lab></td>
				 #end
				 #if($!dic.month11 !="")
					<td><label title="$!dic.month11">$!dic.month11</lab></td>
				 #end
				  #if($!dic.month12 !="")
					<td><label title="$!dic.month12">$!dic.month12</lab></td>
				 #end
					<td><label title="$!dic.monthRep">$!dic.monthRep</lab></td>  
					<td><label title=""></lab></td> 
					<td><label title=""></lab></td> 
					<td>
						<a href="#" onclick="editProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">编辑</a>
						<a href="#"  onclick="delProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">删除</a>
					</td>
				</tr>			
				#end
			</tbody>
			<thead>
				<tr>
					<th><label title="$!lnLoanBalanceAsset.type">收入总额</th>
					<th id="srze"></th>
					
				</tr>
			</thead>
			<tbody id="kbcbxm">
				#foreach($dic in $!profitandlossJyDetailMap.variableCost)
				<tr>
					<td><label title="$!可变成本">可变成本</label></td>
					<td><label title="$!dic.itemDetailName">$!dic.itemDetailName</label></td>
				 #if($!dic.month1 !="")
					<td><label title="$!dic.month1">$!dic.month1</label></td>
				 #end
				 #if($!dic.month2 !="")
					<td><label title="$!dic.month2">$!dic.month2</label></td>
				 #end
				 #if($!dic.month3 !="")
					<td><label title="$!dic.month3">$!dic.month3</label></td>
				 #end
				 #if($!dic.month4 !="")
					<td><label title="$!dic.month4">$!dic.month4</label></td>
				 #end
				 #if($!dic.month5 !="")
					<td><label title="$!dic.month5">$!dic.month5</label></td>
				 #end
				 #if($!dic.month6 !="")
					<td><label title="$!dic.month6">$!dic.month6</label></td>
				 #end
				 #if($!dic.month7 !="")
					<td><label title="$!dic.month7">$!dic.month7</label></td>
				 #end
				 #if($!dic.month8 !="")
					<td><label title="$!dic.month8">$!dic.month8</label></td>
				 #end
				 #if($!dic.month9 !="")
					<td><label title="$!dic.month9">$!dic.month9</label></td>
				 #end
				 #if($!dic.month10 !="")
					<td><label title="$!dic.month10">$!dic.month10</label></td>
				 #end
				 #if($!dic.month11 !="")
					<td><label title="$!dic.month11">$!dic.month11</label></td>
				 #end
				  #if($!dic.month12 !="")
					<td><label title="$!dic.month12">$!dic.month12</label></td>
				 #end
					<td><label title="$!dic.monthRep">$!dic.monthRep</label></td>  
					<td></td> 
					<td></td> 
					<td>
						<a href="#" onclick="editProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">编辑</a>
						<a href="#"  onclick="delProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">删除</a>
					</td>
				</tr>			
				#end
			<tbody>
			<thead>
				<tr>
					<th><label title="类型">可变成本总额</label></th>
					<th id="kbcbze"></th>
					
				</tr>
				<tr>
					<th><label title="毛利润">毛利润</label></th>
					<th id="mlr"></th>
					
				</tr>
			</thead>
			<tbody id="gdcbxm">
				#foreach($dic in $!profitandlossJyDetailMap.grossProfit)
				<tr>
					<td><label title="固定成本">固定成本</label></td>
					<td><label title="$!dic.itemDetailName">$!dic.itemDetailName</label></td>
				 #if($!dic.month1 !="")
					<td><label title="$!dic.month1">$!dic.month1</label></td>
				 #end
				 #if($!dic.month2 !="")
					<td><label title="$!dic.month2">$!dic.month2</label></td>
				 #end
				 #if($!dic.month3 !="")
					<td><label title="$!dic.month3">$!dic.month3</label></td>
				 #end
				 #if($!dic.month4 !="")
					<td><label title="$!dic.month4">$!dic.month4</label></td>
				 #end
				 #if($!dic.month5 !="")
					<td><label title="$!dic.month5">$!dic.month5</label></td>
				 #end
				 #if($!dic.month6 !="")
					<td><label title="$!dic.month6">$!dic.month6</label></td>
				 #end
				 #if($!dic.month7 !="")
					<td><label title="$!dic.month7">$!dic.month7</label></td>
				 #end
				 #if($!dic.month8 !="")
					<td><label title="$!dic.month8">$!dic.month8</label></td>
				 #end
				 #if($!dic.month9 !="")
					<td><label title="$!dic.month9">$!dic.month9</label></td>
				 #end
				 #if($!dic.month10 !="")
					<td><label title="$!dic.month10">$!dic.month10</label></td>
				 #end
				 #if($!dic.month11 !="")
					<td><label title="$!dic.month11">$!dic.month11</label></td>
				 #end
				  #if($!dic.month12 !="")
					<td><label title="$!dic.month12">$!dic.month12</label></td>
				 #end
					<td><label title="$!dic.monthRep">$!dic.monthRep</label></td>                              
					<td></td>
					<td></td> 
					<td>
						<a href="#" onclick="editProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">编辑</a>
						<a href="#"  onclick="delProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">删除</a>
					</td>
				</tr>			
				#end
			</tbody>
			<thead>
				<tr>
					<th><label title="固定成本总额">固定成本总额</label></th>
					<th id="gdcbze"></th>
					
				</tr>
			
				<tr>
					<th><label title="税前利润">税前利润</label></th>
					<th id="sqlr"></th>
					
				</tr>
			</thead>
			<tbody id="sdsxm">
				#foreach($dic in $!profitandlossJyDetailMap.fixedCost)
				<tr>
					<td><label title="所得税">所得税</label></td>
					<td><label title="$!dic.itemDetailName">$!dic.itemDetailName</label></td>
				 #if($!dic.month1 !="")
					<td><label title="$!dic.month1">$!dic.month1</label></td>
				 #end
				 #if($!dic.month2 !="")
					<td><label title="$!dic.month2">$!dic.month2</label></td>
				 #end
				 #if($!dic.month3 !="")
					<td><label title="$!dic.month3">$!dic.month3</label></td>
				 #end
				 #if($!dic.month4 !="")
					<td><label title="$!dic.month4">$!dic.month4</label></td>
				 #end
				 #if($!dic.month5 !="")
					<td><label title="$!dic.month5">$!dic.month5</label></td>
				 #end
				 #if($!dic.month6 !="")
					<td><label title="$!dic.month6">$!dic.month6</label></td>
				 #end
				 #if($!dic.month7 !="")
					<td><label title="$!dic.month7">$!dic.month7</label></td>
				 #end
				 #if($!dic.month8 !="")
					<td><label title="$!dic.month8">$!dic.month8</label></td>
				 #end
				 #if($!dic.month9 !="")
					<td><label title="$!dic.month9">$!dic.month9</label></td>
				 #end
				 #if($!dic.month10 !="")
					<td><label title="$!dic.month10">$!dic.month10</label></td>
				 #end
				 #if($!dic.month11 !="")
					<td><label title="$!dic.month11">$!dic.month11</label></td>
				 #end
				  #if($!dic.month12 !="")
					<td><label title="$!dic.month12">$!dic.month12</label></td>
				 #end
					<td><label title="$!dic.monthRep">$!dic.monthRep</label></td>   
					<td></td> 
					<td></td> 
					<td>
						<a href="#" onclick="editProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">编辑</a>
						<a href="#"  onclick="delProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">删除</a>
					</td>
				</tr>			
				#end
			</tbody>
			<thead>
				<tr>
					<th>净利润</th>
					<th id="jlr"></th>
					
				</tr>
			</thead>
			<tbody id="qtzcxm">
				#foreach($dic in $!profitandlossJyDetailMap.preTaxProfit)
				<tr>
					<td id="qtzc1"><label title="其他支出">其他支出</label></td>
					<td><label title="$!dic.itemDetailName">$!dic.itemDetailName</label></td>
					 #if($!dic.month1 !="")
					<td><label title="$!dic.month1">$!dic.month1</label></td>
					 #end
					 #if($!dic.month2 !="")
						<td><label title="$!dic.month2">$!dic.month2</label></td>
					 #end
					 #if($!dic.month3 !="")
						<td><label title="$!dic.month3">$!dic.month3</label></td>
					 #end
					 #if($!dic.month4 !="")
						<td><label title="$!dic.month4">$!dic.month4</label></td>
					 #end
					 #if($!dic.month5 !="")
						<td><label title="$!dic.month5">$!dic.month5</label></td>
					 #end
					 #if($!dic.month6 !="")
						<td><label title="$!dic.month6">$!dic.month6</label></td>
					 #end
					 #if($!dic.month7 !="")
						<td><label title="$!dic.month7">$!dic.month7</label></td>
					 #end
					 #if($!dic.month8 !="")
						<td><label title="$!dic.month8">$!dic.month8</label></td>
					 #end
					 #if($!dic.month9 !="")
						<td><label title="$!dic.month9">$!dic.month9</label></td>
					 #end
					 #if($!dic.month10 !="")
						<td><label title="$!dic.month10">$!dic.month10</label></td>
					 #end
					 #if($!dic.month11 !="")
						<td><label title="$!dic.month11">$!dic.month11</label></td>
					 #end
					  #if($!dic.month12 !="")
						<td><label title="$!dic.month12">$!dic.month12</label></td>
					 #end
					<td><label title="$!dic.monthRep">$!dic.monthRep</label></td>   
					<td></td> 
					<td></td> 
					<td>
						<a href="#" onclick="editProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">编辑</a>
						<a href="#"  onclick="delProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">删除</a>
					</td>
				</tr>			
				#end
				</tbody>
				<tbody id="qtsrxm">
				#foreach($dic in $!profitandlossJyDetailMap.netProfit)
				<tr>
					<td id="qtsr">其他收入</td>
					<td><label title="$!dic.itemDetailName">$!dic.itemDetailName</label></td>
					 #if($!dic.month1 !="")
					<td><label title="$!dic.month1">$!dic.month1</label></td>
					 #end
					 #if($!dic.month2 !="")
						<td><label title="$!dic.month2">$!dic.month2</label></td>
					 #end
					 #if($!dic.month3 !="")
						<td><label title="$!dic.month3">$!dic.month3</label></td>
					 #end
					 #if($!dic.month4 !="")
						<td><label title="$!dic.month4">$!dic.month4</label></td>
					 #end
					 #if($!dic.month5 !="")
						<td><label title="$!dic.month5">$!dic.month5</label></td>
					 #end
					 #if($!dic.month6 !="")
						<td><label title="$!dic.month6">$!dic.month6</label></td>
					 #end
					 #if($!dic.month7 !="")
						<td><label title="$!dic.month7">$!dic.month7</label></td>
					 #end
					 #if($!dic.month8 !="")
						<td><label title="$!dic.month8">$!dic.month8</label></td>
					 #end
					 #if($!dic.month9 !="")
						<td><label title="$!dic.month9">$!dic.month9</label></td>
					 #end
					 #if($!dic.month10 !="")
						<td><label title="$!dic.month10">$!dic.month10</label></td>
					 #end
					 #if($!dic.month11 !="")
						<td><label title="$!dic.month11">$!dic.month11</label></td>
					 #end
					  #if($!dic.month12 !="")
						<td><label title="$!dic.month12">$!dic.month12</label></td>
					 #end
					<td><label title="$!dic.monthRep">$!dic.monthRep</label></td>   
					<td></td> 
					<td></td> 
					<td>
						<a href="#" onclick="editProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">编辑</a>
						<a href="#"  onclick="delProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">删除</a>
					</td>
					</tr>			
				#end
				</tbody>
				<thead>
					<tr>
						<th><label title="可支配资金">可支配资金</th>
						<th id="kzpzj"></th>
						
					</tr>
				</thead>
				<tbody id="yhzhlrxm">
				#foreach($dic in $!profitandlossJyDetailMap.disposableMoney)
				<tr>
					<td><label title="银行账户流入">银行账户流入</label></td>
					<td><label title="$!dic.itemDetailName">$!dic.itemDetailName</label></td>
					 #if($!dic.month1 !="")
					<td><label title="$!dic.month1">$!dic.month1</label></td>
					 #end
					 #if($!dic.month2 !="")
						<td><label title="$!dic.month2">$!dic.month2</label></td>
					 #end
					 #if($!dic.month3 !="")
						<td><label title="$!dic.month3">$!dic.month3</label></td>
					 #end
					 #if($!dic.month4 !="")
						<td><label title="$!dic.month4">$!dic.month4</label></td>
					 #end
					 #if($!dic.month5 !="")
						<td><label title="$!dic.month5">$!dic.month5</label></td>
					 #end
					 #if($!dic.month6 !="")
						<td><label title="$!dic.month6">$!dic.month6</label></td>
					 #end
					 #if($!dic.month7 !="")
						<td><label title="$!dic.month7">$!dic.month7</label></td>
					 #end
					 #if($!dic.month8 !="")
						<td><label title="$!dic.month8">$!dic.month8</label></td>
					 #end
					 #if($!dic.month9 !="")
						<td><label title="$!dic.month9">$!dic.month9</label></td>
					 #end
					 #if($!dic.month10 !="")
						<td><label title="$!dic.month10">$!dic.month10</label></td>
					 #end
					 #if($!dic.month11 !="")
						<td><label title="$!dic.month11">$!dic.month11</label></td>
					 #end
					  #if($!dic.month12 !="")
						<td><label title="$!dic.month12">$!dic.month12</label></td>
					 #end
					<td><label title="$!dic.monthRep">$!dic.monthRep</label></td>   
					<td></td> 
					<td></td> 	
					<td>
						<a href="#" onclick="editProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">编辑</a>
						<a href="#"  onclick="delProfitandlossJy('$!dic.profitandlossJyDetailId','$!dic.loanProfitandlossId')">删除</a>
					</td>
				</tr>			
				#end
				</tbody>
			</table>