#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>查看角色</title>
	#styleLink("base")
   	<link type="text/css" rel="stylesheet" href="${ctx}/css/tree/zTreeStyle.css" />

	#scriptLink("core")
	<script type="text/javascript" src="${ctx}/js/plugins/jquery.ztree.core-3.2.js"></script>
	<script type="text/javascript" src="${ctx}/js/plugins/jquery.plugins.js"></script>
	<script type="text/javascript" src="${ctx}/js/banger/banger.common.js"></script>
	<script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.abnormal.js"></script>
</head>
<script type="text/javascript">
    var setting = {
    			data: {
    				simpleData: {
    					enable: true
    				}
    			},
    			view: {
    				showIcon: false
    			}
    };
			
    var zNodes = $!fancAuthTreeJson;
    var zMenuNodes = $!menuAuthTreeJson;
    var zDataNodes = $!dataAuthTreeJson;
	$(document).ready(function(){
		jQuery.fn.zTree.init($("#funcAuthTree"), setting, zNodes);
        jQuery.fn.zTree.init($("#menuAuthTree"), setting, zMenuNodes);
        jQuery.fn.zTree.init($("#dataAuthTree"), setting, zDataNodes);
		$("#tabs").easytabs();
	});
</script>
<body>
	<table class="viewtbl" cellpadding="0" cellspacing="0">
    	<tbody>
        	<tr>
            	<td width="10%" class="field">
					<label>角色名称：</label>
				</td>
                <td><label>$!sysRole.roleName</label></td>
            </tr>
        	<tr>
            	<td width="10%" class="field">
					<label>描述：</label>
				</td>
                <td><label>$!sysRole.remark</label></td>
            </tr>
        </tbody>
    </table>
     <div id="tabs" class="easy-tabs" style="margin-top: 10px;">
		<ul class="easy-tabs-header">
            <li><label>菜单权限</label></li>
        	<li><label>功能权限</label></li>
            <li><label>特殊数据权限</label></li>
        </ul>
        <div class="easy-tabs-pages">
        	<div class="easy-tabs-page">
				<ul id="menuAuthTree" class="ztree"></ul>
			</div>
            <div class="easy-tabs-page">
                <ul id="funcAuthTree" class="ztree"></ul>
            </div>
            <div class="easy-tabs-page">
                <ul id="dataAuthTree" class="ztree"></ul>
            </div>
        </div>
    </div>
	<div class="halign">
        <input type="button" class="btn6 btn6bg3"  value="关闭" onclick="tab.close(GetId(),false);" />
    </div>
	
</body>
</html>

