#parse("/velocity/taglibs.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>线路号码配置</title>
    
    #styleLink("base")
    #scriptLink("core")
	<script type="text/javascript" src="${ctx}/js/banger/banger.tabs-v1.interface.js"></script>
    <script type="text/javascript" src="${ctx}/js/system/b.abnormal.js"></script>
    <script type="text/javascript">
    	jQuery(document).ready(function(){
			
		});
		function saveAndClose(){
			window.returnValue=1;
			window.close();
		}
	</script>
</head>

<body>
	<div class="bold" style="margin-bottom: 10px; line-height: 24px;">
    	设置线路号码
    </div>
    <p>提示：</p>
    <p>
    <div class="bold" style="margin-bottom: 10px; line-height: 24px;">
    	
		您可以将您的手机或座机的号码输入“拨打号码”，然后点击“呼叫”，您将在您的手机或座机的来显中，看到当前配置话机对应的线路号码
    </div>
    </p>
	<table class="datatbl" cellpadding="0" cellspacing="0">
        <tbody>
           <tr>
                <td width="100" align="right">拨打号码：</td>
                <td width="180"><input type="text" class="txt" name="" value="" /></td>
                <td><input type="button" value="呼 叫" class="btn1" onclick="" /></td>
                <td><input type="button" value="挂 断" class="btn1" onclick="" /></td>
            </tr>
            <tr>
                <td width="100" align="right">线路号码：</td>
                <td width="180"><input type="text" class="txt" name="" value="" /></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
    <div class="halign" style="margin-top: 20px;">
    	<input type="button" class="btn6 btn6bg1" value="保存并关闭" onclick="saveAndClose()"/>
    	<input type="button" class="btn6 btn6bg1" value="取消" onclick="javascript:window.close();"/>
    </div>
</body>
</html>
